[2022-09-20 10:09] Osanna123 commented on #101
Types for all fields but PlatformCode are changed in DATSU. The latter is used by multiple projects, and needs additional testing to make sure the change did not affect them

[2022-09-20 11:45] neil-ices-dk commented on #97
@cmspinto to add leading zero's in the EURING codes in the database

[2022-09-20 11:58] neil-ices-dk commented on #113
Unknown is not mapped to ESAS http://vocab.ices.dk/?CodeID=249778

The relationships between the dataset and code values for behaviour are here:
http://vocab.ices.dk/?CodeTypeRelID=1709&CodeID=235388

So we need to update the DATSU links accordingly.
@cmspinto to take this with @mehdiabbasi

[2022-09-20 12:11] neil-ices-dk commented on #95
_DataRightsHolder_
**suggest:**
Organisation owning the legal rights over the resource expressed by EDMO code. Multiple values can be reported with use of tilde (~) as a separator.

@nicolasvanermen to confirm

[2022-09-20 12:14] neil-ices-dk commented on #115
Anna is working on this, in progress

[2022-09-20 12:19] neil-ices-dk commented on #111
typo corrected in vocab; @nicolasvanermen it would be easier if you go and make the edits on the disclaimer yourself and then just ping Carlos who will upload the final version - thanks
https://github.com/ices-tools-dev/esas/blob/main/disclaimer-download

[2022-09-20 14:35] nicolasvanermen commented on #112
I would prefer a (new) code for the overarching DHI as the existing one
refers to a sub-division.

On Tue, Sep 20, 2022 at 11:12 AM Peter Desmet ***@***.***>
wrote:

[2022-09-21 06:55] nicolasvanermen commented on #111
OK did so, the first commit gave some sort of warning though:
![image](https://user-images.githubusercontent.com/7381853/191435330-0682d8a7-90c1-4725-b4ba-8317e5b69a72.png)

[2022-09-21 07:00] nicolasvanermen commented on #95
Multiple values are indeed allowed, there I would suggest:
Organisation(s) owning the legal rights over the resource expressed by EDMO code. Multiple values can be reported with use of tilde (~) as a separator.

[2022-09-21 07:08] cmspinto commented on #113
Soon it will be implemented in RECO a new feature to filter a vocab using a code type to find the relationship.
This will then be implemented in DATSU links.

[2022-09-26 08:19] Osanna123 commented on #77
output from 23/09/22 works ok

[2022-09-26 08:19] #77 closed

[2022-09-26 08:20] #79 closed

[2022-09-26 08:30] #101 closed

[2022-09-26 09:12] peterdesmet commented on #112
Great, seems like we should use 740 then. I'll update the documentation so that Ornis Consult becomes DHI 740

[2022-09-26 09:21] peterdesmet commented on #111
@nicolasvanermen you can ignore the warning you got: your next commit got a ✔️ meaning that the website (https://esas-docs.ices.dk/) was built successfully.

[2022-09-27 09:15] neil-ices-dk commented on #106
@Osanna123 can you notify when this is tested as working?

[2022-09-27 09:19] neil-ices-dk commented on #102
Anna has tested an import file and it was ok, so fully implemented

[2022-09-27 09:19] #102 closed

[2022-09-27 09:21] neil-ices-dk commented on #115
Implemented; tested but @Osanna123 to test "Values outside the specified range should give errors in case of Latitude and Longitude"

[2022-09-27 09:24] neil-ices-dk commented on #97
implemented, but we should discuss this in terms of governance (JWGBIRDS) that the approach is not a good one for transparency, and could be aligned

[2022-09-27 09:24] #97 closed

[2022-09-27 09:25] neil-ices-dk commented on #113
closing and opening new ticket for the relations vocab issue

[2022-09-27 09:25] #113 closed

[2022-09-27 09:27] neil-ices-dk opened #121 "vocab.ices.dk exposing relations links"
this feature would allow the dataset specific view of vocabs codetypes used by multiple datasets, picked up in #113

@mehdiabbasi are you able to provide a rough idea of when this would be implemented in vocab? thanks

[2022-09-27 09:32] neil-ices-dk commented on #110
we would like to retest this but for the species codes (ESAS) some are invalid and therefore need to be corrected in the file before we can reimport; @nicolasvanermen to send a new test file please

[2022-09-27 09:32] peterdesmet commented on #97
Can you clarify what "approach" you are referring to? The approach of having leading zeros?

[2022-09-27 09:33] neil-ices-dk commented on #111
@cmspinto to pull into the esas app

[2022-09-27 09:56] nicolasvanermen commented on #110
OK, I uploaded a JNCC file with a converted ESAS code in https://drive.google.com/drive/folders/147BaXPO9F8YVG-rLIgQqp_Tj7SJawtll?usp=sharing

[2022-09-27 11:37] Osanna123 commented on #115
done

[2022-09-27 11:37] #115 closed

[2022-09-27 11:38] Osanna123 commented on #106
tested, the status messages look fine

[2022-09-27 11:38] #106 closed

[2022-09-27 12:46] cmspinto commented on #97
The approach that @neil-ices-dk is referring is to have manual update of a table in the database of the link between AphiaID, EURING codes  and ESAS Codes.

In the next sprint we can discuss alternatives to that.

[2022-09-27 15:36] cmspinto commented on #111
Disclaimer updated, could someone `have a look?

[2022-09-28 09:44] neil-ices-dk commented on #111
@cmspinto yes the disclaimer matches, there is one issue though in section 6

XXXXXXXXXXXXXXXXXXXX

Where XXXX was supposed to be filled with the DataRightsHolder(s)

[2022-09-28 11:13] neil-ices-dk commented on #110
@Osanna123 to test the upload with this file

[2022-09-28 11:18] peterdesmet commented on #120
Remove unfiltered examples from API doc page

[2022-09-28 11:20] peterdesmet commented on #114
@Osanna123 recommends: use `ZZ99` to avoid deprecation warning.

[2022-09-28 11:21] peterdesmet commented on #114
@nicolasvanermen to close issue when changed in data providing side

[2022-09-28 11:26] #109 closed

[2022-09-28 11:28] #107 closed

[2022-09-28 11:47] #114 closed

[2022-09-28 11:55] nicolasvanermen commented on #67
I can test this only partly, after I start migrating the database. But I am not planning any resubmissions, which makes it hard to test the performance of this table (cfr the number of campaigns in the database versus the number in the file).

[2022-09-28 12:01] peterdesmet commented on #111
I have updated the disclaimer document at https://github.com/ices-tools-dev/esas/blob/main/disclaimer-download. Note that it includes a number of whitespace changes that I think make the text easier to read, so please replace the entire disclaimer.

I have also updated the citation sentence to:

[2022-09-28 12:02] nicolasvanermen commented on #96
The list is completed (see checked boxes in the issue message on top), we will hold on to the Ornis Consult code. We will update the list the end of October.

[2022-09-28 12:18] peterdesmet commented on #114
The use of ZZ99 for unknown is now recommended in the docs: b37c6ee

[2022-09-28 12:18] nicolasvanermen commented on #112
OK, I see, 740 is indeed the right code for DHI. But since Henrik Skov agreed to set the data public, we can hold on to the original DRH, i.e. Ornis Consult. Closing this somewhat confusing issue.

[2022-09-28 12:18] #112 closed

[2022-09-28 13:16] nicolasvanermen commented on #111
I have a long history of misinterpreting this specific issue, but as far as I understand now XXXXXXXXX will be a tailored list of data providers included in the download, and this is what will be implemented. Correct me if I am wrong again...

[2022-09-28 13:23] peterdesmet commented on #111
Yes, that is how I understood it too.

[2022-09-28 14:32] nicolasvanermen commented on #67
Ideally, one more test is performed after the [milestone test](https://github.com/ices-tools-dev/esas/issues/110). I will supply another datafile, including only 2 JNCC campaigns, when uploading this one, and resubmitting 2 campaigns of the first file then there should be two rows in the submissions overview, one row with 11952/11954 campaigns, and one with 2/2 campaigns. Would that be okay for yo

[2022-09-28 14:32] nicolasvanermen commented on #110
Ideally, one more test is performed after the [milestone test](https://github.com/ices-tools-dev/esas/issues/110). I will supply another datafile, including only 2 JNCC campaigns, when uploading this one, and resubmitting 2 campaigns of the first file then there should be two rows in the submissions overview, one row with 11952/11954 campaigns, and one with 2/2 campaigns. Would that be okay for yo

[2022-09-28 14:39] nicolasvanermen commented on #110
Please see the [shared folder](https://drive.google.com/drive/folders/147BaXPO9F8YVG-rLIgQqp_Tj7SJawtll?usp=sharing):
Original file: ESAS_JNCC_DATA_final_convert6169.csv
Resubmission file with 2 campaigns: ESAS_JNCC_DATA_final_convert6169_resubmission.csv

[2022-09-28 14:40] nicolasvanermen commented on #110
A printscreen of the submissions overview would be nice :-)

[2022-09-29 12:23] cmspinto commented on #110
Looks like it's working fine :)

![image](https://user-images.githubusercontent.com/8705477/193030346-8957ce15-b958-481b-a083-7473dcf90d6e.png)

[2022-09-29 20:54] JochemBoersma commented on #110
Hi Nicolas! (and others..) Good to read that these tests are successful.

Via Rijkswaterstaat (among others: Maarten Platteeuw) I'm the technical data manager of the Wozep Programma, and I have data a project consists of high quality 24 bi-monthly aerial surveys with a lot of bird observations.

It would be very nice if I could use the API to populate the database with our observations, at least a

[2022-09-30 07:45] nicolasvanermen commented on #110
@cmspinto
Just downloaded the JNCC data currently in the database. Since the data are there, I assume the screening was okay. I will do a 'compare' in R to see how the downloaded data fit the file that I shared in the google drive map, as another ultimate test.

[2022-09-30 08:42] peterdesmet opened #122 "Upload data via the API"
@JochemBoersma, relating to your comment in https://github.com/ices-tools-dev/esas/issues/110#issuecomment-1262805059, I'm not sure @nicolasvanermen has extensively tested **uploading** data via the API. @nicolasvanermen have you? Or were you using the user interface in the browser?

Note: I have tested downloading data via the API, which works fine.

[2022-09-30 08:47] nicolasvanermen commented on #122
No, I have indeed been using the interface only, not being familiar with the API part of the application.

[2022-09-30 08:48] nicolasvanermen commented on #110
Hello @JochemBoersma , is this the same data that are managed by Bureau Waardenburd. At least I am in contact with Job de Jong & Ruben Fijn regarding the upload of the MWTL data.

[2022-10-03 07:24] peterdesmet commented on #122
That depends on how quickly @JochemBoersma can get the necessary credentials and test this upload feature. In my opinion, we should not wait for that, as it might delay things further and (I assume) test data uploaded by @JochemBoersma can be deleted from the database at any point?

[2022-10-03 08:03] cmspinto commented on #122
Yes, it can always be deleted.
I also assume that he will upload files for a distinct institution of the ones in the database?

[2022-10-03 12:22] JochemBoersma commented on #122
Nice to hear that everything what I will upload, can be deleted. It makes it easier to play around :).
Indeed: do not wait for 'my' uploads. But nevertheless, it is a very useful use case. And I really like to assist in testing this feature.

I requested a login at advice@ices.dk (how long does that takes, typically?), and will prepare the datasets which we have obtained.

[2022-10-04 12:34] cmspinto commented on #122
@JochemBoersma, you have a user now, please let us know if you need any further help.

Just one highlight on thing: you can submit the data for any institution but you can only resubmit data for your institution. Would you like us to give you permissions to resubmit to any institution?

[2022-10-04 18:20] nicolasvanermen commented on #122
Just to notify that one of course should have some kind of approval of the institutes before uploading their data... In case anyone would ever ask ;-)

[2022-10-07 09:13] neil-ices-dk commented on #110
Anna also tested large file and all fine

[2022-10-07 09:13] #110 closed

[2022-10-07 09:15] #108 closed

[2022-10-07 09:16] neil-ices-dk commented on #111
@cmspinto to include the data providers to each disclaimer (the XXXXX bit)

[2022-10-07 09:17] neil-ices-dk commented on #120
@cmspinto to remove the unfiltered examples; wait with pagination for the time being

[2022-10-07 09:34] neil-ices-dk commented on #121
Mehdi has indicated that this will be implemented by the end of November 2022

[2022-10-11 06:57] nicolasvanermen commented on #42
Great, looks good!
No, there is no need for copyright notice on the image.

Nicolas Vanermen
*Scientific Employee*
Research Institute for Nature and Forest
Havenlaan 88, box 73,
1000 Brussels, Belgium
+32 486 361 582

On Mon, Mar 28, 2022 at 8:39 PM Neil Holdsworth ***@***.***>
wrote:

[2022-10-12 13:37] nicolasvanermen opened #123 "file screening email"
We regret to inform you that your submission is not compliant with the European Seabirds At Sea (ESAS) data format and therefore **it was not** uploaded to the database.
Please rephrase to:
We regret to inform you that your submission is not compliant with the European Seabirds At Sea (ESAS) data format and therefore **it can not be** uploaded to the database.

[2022-10-12 13:39] nicolasvanermen opened #124 "file screening message"
File has errors, please correct the errors before **uploding** to the database.
Please correct to:
File has errors, please correct the errors before **uploading** to the database.

[2022-10-12 13:40] nicolasvanermen opened #125 "Manage menu c) & d)"
Both c) & d) link to the same list, while the second should only list the INBO database submissions...

[2022-10-12 13:54] peterdesmet opened #126 "500 error for API"
I am currently getting a 500 error for the API: https://esas.ices.dk/api/getCampaignRecords

[2022-10-12 14:26] nicolasvanermen opened #127 "AccessionID [20222859]"
At 3h46 I received an email stating:
The file (ESAS_BE_DATA_final.csv [FileID:201]) was inserted into the database correctly.

At 4h22 I received an email stating:
We are sorry to report that there was an issue inserting the file (ESAS_BE_DATA_final.csv) with Accession 20222859 into the database.
You screening file id is 201.

Watskebeurt?

[2022-10-12 14:32] nicolasvanermen opened #128 "DATSU overflow error"
![image](https://user-images.githubusercontent.com/7381853/195371034-d072667c-566b-44d5-871a-6a94538b26ee.png)

[2022-10-12 14:35] nicolasvanermen commented on #128
![image](https://user-images.githubusercontent.com/7381853/195371888-f95c295f-efb0-4ba0-a173-66fa3b06ddb0.png)

[2022-10-12 14:37] nicolasvanermen commented on #127
Less alarming but strange nevertheless: for AccessionID [20222862]  I received to seperate emails stating the data was inserted correctly.

[2022-10-12 14:43] peterdesmet commented on #124
Also `Our team will check with happend` rather than `happened`

[2022-10-12 14:46] nicolasvanermen commented on #124
This latter typo is in the submission email... Also the subject of this email ('Success inserting the file into the database AccessionID [20222859]' ) is contradictory to the content of the message ('We are sorry to report that there was an issue inserting the file (ESAS_BE_DATA_final.csv) with Accession 20222859 into the database.')

[2022-10-12 14:47] nicolasvanermen commented on #124
![image](https://user-images.githubusercontent.com/7381853/195375001-ac1a8ced-7a9e-4f5e-93d2-c8091836f559.png)

[2022-10-12 14:49] nicolasvanermen opened #129 "file submission email"
Also `Our team will check with happend` rather than `happened`

_Originally posted by @peterdesmet in https://github.com/ices-tools-dev/esas/issues/124#issuecomment-1276299063_

[2022-10-12 14:49] nicolasvanermen commented on #129
![image](https://user-images.githubusercontent.com/7381853/195375486-9f38a422-64a5-4f05-973b-8755b1ad5480.png)

[2022-10-13 07:12] JochemBoersma commented on #127
more information about this phrase: https://en.wikipedia.org/wiki/Watskeburt

[2022-10-14 11:18] cmspinto commented on #129
The subject of the message was now updated to ESAS (AccessionID [xxxxxxxxx])

[2022-10-14 11:28] cmspinto commented on #128
That should not be possible and there is unfortunately not a logic explanation (at least we can't find it).
Our solution was to restart the server and now we only allow one file to be process at the time!
We put several ESAS files yesterday and it took some time but all were screen correctly.

Please have a look: [http://datsu.ices.dk/web/ListSessions.aspx?Dataset=148](http://datsu.ices.dk/web/Lis

[2022-10-21 06:35] nicolasvanermen commented on #128
All screenings en submissions since October 18 went well! Closing this issue.

[2022-10-21 06:35] #128 closed

[2022-10-21 06:37] nicolasvanermen commented on #127
All screenings en submissions since October 18 went well! Closing this issue.

[2022-10-21 06:37] #127 closed

[2022-10-21 06:46] nicolasvanermen commented on #129
OK copy that. Not checked because all submissions went fine this week! Closing this issue.

[2022-10-21 06:46] #129 closed

[2022-10-21 06:47] nicolasvanermen commented on #126
@peterdesmet:
Can you check? I received the same error using the application, but this was quickly solved, hoping this is also the case for the API.

[2022-10-21 07:00] nicolasvanermen commented on #67
The resubmission test went fine! The only remaining issue is flagged [here](https://github.com/ices-tools-dev/esas/issues/125), closing this issue.

[2022-10-21 07:00] #67 closed

[2022-10-21 07:09] peterdesmet commented on #126
I'm no longer getting a 500, so closing this issue. Now that there's lots of data, the API response is rather slow. I'm reopening the ticket on API pagination.

[2022-10-21 07:09] #126 closed

[2022-10-22 10:38] peterdesmet commented on #120
Now that there's lots of data, the API response is slow (see below). I'd like to re-suggest pagination. 😄

 - campaigns: 1.040714 mins
 - samples: 40.10294 secs
 - positions: 8.440281 mins
 - observations: 30.07193 mins

[2022-10-24 11:03] nicolasvanermen opened #130 "Number of campaigns shown in Download page table"
The download page gives 1261 campaigns for BUWA, while there should be 935; this is most probably because the number of samples is given rather than the number of campaigns.

[2022-10-24 11:04] nicolasvanermen opened #131 "Dropdown list of DRH's in Download page"
The dropdown list in the download page shows several institutes that have nothing to do with ESAS, can these be deleted? (i.e.: Ifremer, Norwegian Polar Institute & Caltech)

[2022-10-25 07:02] nicolasvanermen commented on #131
Solved by Carlos, closing this issue.

[2022-10-25 07:02] #131 closed

[2022-10-25 07:02] nicolasvanermen commented on #130
Solved by Carlos, closing this issue.

[2022-10-25 07:02] #130 closed

[2022-10-25 12:14] nicolasvanermen opened #133 "test request restricted data"
@Carlos could you link the Bureau Waardenburg data to Ruben Fijn (r.c.fijn@buwa.nl) so I can test whether I can download their data?

[2022-10-25 12:19] cmspinto commented on #133
Yes, that would be a good idea.
I think @Osanna123 found a few typos that we will correct in the email(s).

[2022-10-25 18:08] nicolasvanermen commented on #123
In the new email format:
Thank you for submitting SeaBird data -> Thank you for submitting seabird data

[2022-10-25 18:10] nicolasvanermen commented on #96
Good news, just checked the Cork Ecology box, who agreed with uploading the data as open access! Only NERI & NINA are now lagging behind, but this only a very small part of the total database.

[2022-10-26 06:59] cmspinto commented on #125
Did we understood/apply correctly the definition?

c) is the full list of your submission.
Description: A user can be a manager of INBO but submit a file of JNCC. So this is the full list of all the files that the user submitted and are still in the database.

d) Is a full list of submissions for your organization (where user is manager), if a user is the manager for  INBO, then it's a full list o

[2022-10-26 07:21] cmspinto commented on #124
Both these should be fixed

[2022-10-26 07:24] cmspinto commented on #123
Done both.

[2022-10-26 10:20] nicolasvanermen opened #134 "'delete' button in file screening page?"
Would it be easy to add a 'delete' button in the file screening page? Especially for test files or large erroneous files it seems a bit crazy to keep those in the list...

[2022-10-26 12:57] cmspinto commented on #120
Pagination is implemented in the WebAPI.

https://esas.ices.dk/webservices

![image](https://user-images.githubusercontent.com/8705477/198031679-797d9eab-da78-4fd7-9c2e-a783b6725625.png)

@peterdesmet can you check if this is what you expected?

[2022-10-26 13:20] peterdesmet commented on #120
Thanks @cmspinto. I assume the records are always ordered the same way?

I think the functionality is there, but it took me a bit to understand that the notation is`offset/limit/`, especially since `/` is often used for range `start/end`. Another disadvantage is that one cannot query without these parameters anymore: https://esas.ices.dk/api/getCampaignRecords?country=dk

I would therefore make th

[2022-10-27 07:17] cmspinto commented on #120
@peterdesmet can move the pagination to optional. From the url path to the querystring.

I'm a bit more reluctant to make it part of the results, being the reason that it makes only a bit more difficult for users to use the data.

Right now a user can just download and use the data (event in excel).

If we put a summary on the top,  and data as part of the results then it makes it even a bit more

[2022-10-27 07:36] nicolasvanermen commented on #123
I now seem to receive two confirmation emails for the same file screening... Small bug?
One with sender 'File Screening', and one with sender 'European Seabirds At Sea'

[2022-10-27 10:02] cmspinto commented on #120
@peterdesmet , it's done. Takes a bit longer to query but still under the acceptable (I think).

![image](https://user-images.githubusercontent.com/8705477/198255017-d435a741-7d7f-4857-9153-4ecb9f5a4345.png)

or

![image](https://user-images.githubusercontent.com/8705477/198255347-b906abcd-6b9f-4af9-b306-88d628951d42.png)

I will wait to publish the API and the website, because @nicolasvanermen is

[2022-10-27 11:21] peterdesmet commented on #120
Nice, I think the result set is a more future-proof approach, as it is less likely to break things if changes are made to the API.

Ok, let me know! Looking forward to test this.

Great!

[2022-10-27 12:58] cmspinto commented on #120
@peterdesmet go ahead, fortunately it's a bit faster in the server than it was in my computer

[2022-10-27 14:27] cmspinto commented on #111
Haven't publish yet, will do tomorrow (28/10/2022) but the citation will look like this:

![image](https://user-images.githubusercontent.com/8705477/198313623-5af59a3c-1c93-4464-81e4-9a903d33d49a.png)

Disclaimer:
![image](https://user-images.githubusercontent.com/8705477/198313938-fbdfcda6-4acb-49a6-9a5a-911241f1d612.png)

[2022-10-28 08:37] peterdesmet commented on #120
I'm using a different internet connection, so not a robust benchmark, but working with chunks has improved speed: :+1:

campaigns: 1.040714 mins -> 7.000045 secs
samples: 40.10294 secs -> 13.03842 secs
positions: 8.440281 mins -> 1.633067 mins

For observations however, I'm still noticing very slow (to slower) queries. Might this have something to do with the fact that a  `recordsCount` needs to b

[2022-10-28 09:24] peterdesmet opened #135 "Duplicate `sampleID`"
I'm noticing 117 duplicate `sampleID`s in the database. Technically that is possible if from different campaigns, but these are duplicates within campaigns and thus an error. Some of the IDs are repeated up to 20 times:

[dup_samples.csv](https://github.com/ices-tools-dev/esas/files/9887029/dup_samples.csv)

Campaigns in which this happens (all from righsholder `3269~2299`):

[campaigns_with_dup_s

[2022-10-28 09:50] peterdesmet opened #136 "Should we always return `DataRightsHolder` and `CampaignID`"
I'm not sure this is currently an issue in the database, but it might become one:

## Identifier requirements

- `campaignID`: should only be unique within a `DataRightsHolder`
- `sampleID`: should only be unique within a `campaignID`
- `positionID`: should only be unique within a `sampleID`
- `observationID`: should only be unique within a `positionID`

Note that even within a single file submiss

[2022-10-28 10:20] cmspinto commented on #136
I'm a bit lost here!
I just checked and it seems to me there are no duplicates in the database.
Is there any output (download or API) that has duplicated records?

I'm having a bit of trouble to see what is the issue here?
When we output the DatarightsHolder we put it using the character '~'

Sorry, if I'm missing the obvious.

[2022-10-28 10:45] cmspinto commented on #120
Yes, that is exactly it.

It needs to replicate the query and check how many records are in the result.

Do you know what is lazy loading ([https://learn.microsoft.com/en-us/ef/core/querying/related-data/lazy](https://learn.microsoft.com/en-us/ef/core/querying/related-data/lazy))?
Lazy loading is not  really working anymore because it needs to count the records before if returns the results!

[2022-10-28 11:00] peterdesmet commented on #120
So `recordsCount` prevents lazy loading. What about `endOfRecords`?

[2022-10-28 11:09] peterdesmet commented on #135
I need to investigate this further, it looks like one of the duplicate IDs that I listed, does only occur once: https://esas.ices.dk/api/getSampleRecords?sampleID=50001845

[2022-10-28 11:20] peterdesmet commented on #136
Good, I'll investigate #135 further

This is not about duplicate records. It is about avoiding unexpected results when users are left joining data:

[code]

One would expect to create a full denormalized (flat) table with all data this way. However, it is very likely _more rows_ will be created than expected, because identifiers are only unique within a certain set. Note that the current data in t

[2022-10-28 11:30] peterdesmet commented on #135
Ok, confirmed that there is an issue. Here's an example of duplicate `sampleID`: https://esas.ices.dk/api/getSampleRecords?campaignID=775 (note the duplicate `50001845`)

But when using the duplicate sampleID as a parameter in the API, it only returns one result - maybe because the API is designed to only return 1 (the first?) result: https://esas.ices.dk/api/getSampleRecords?campaignID=50001845

[2022-10-28 12:26] nicolasvanermen commented on #135
This is very worrying... Just checked the original file, and these duplicates are not there (kind of expected, because this is part of my personal validation and the the file screening by ICES DC). I was planning to announce the finalisation of database migration on monday to the ESAS community, but I will first check whether this problem also occurs when downloading the data through the GUI...  I

[2022-10-28 12:36] cmspinto commented on #120
It's the same, it know if it reach the end of the records by doing the count.
If the user ask for 20 records, it needs to do the count to be able to know if it is returning all the records or if there is any more records after the 20th one.

[2022-10-28 12:48] peterdesmet commented on #120
In that case it might be better to drop the calculation of those two fields, so we can enjoy the speed of lazy loading again?

[2022-10-28 13:02] peterdesmet commented on #135
Thanks @nicolasvanermen, must be an issue with the API then.

[2022-10-28 13:43] cmspinto commented on #120
@peterdesmet , remove those two fields is an option, but it's more accurate and it's a bit more clear to the end user right?

I'm fine with both options, but I can see your point.

[2022-10-28 13:48] peterdesmet commented on #120
Yes, those fields are useful, but I’d rather have a fast API 😊. They will still see the returned offset and limit, which indicates pagination.

I would thus remove `recordCount` and `endOfRecords` to speed things up. My script/function will be code around it (basically try offset until no more records are returned).

[2022-10-31 08:37] cmspinto commented on #135
I will search this.
I would say it's a bug but I need to research more.

The query is returning 19 times the same records instead of returning the 19 records:

![image](https://user-images.githubusercontent.com/8705477/198965867-bcf57f71-b1e1-4fd4-8eab-13fde12acdff.png)

This is exactly the same query:

![image](https://user-images.githubusercontent.com/8705477/198966125-6f90dc2f-fadb-40f0-80cb-3c

[2022-10-31 08:53] nicolasvanermen commented on #135
Just thinking out loud, but I have been thinking this from the beginning... Why are these API services so important? For me this kind of issue is so fundamental! What is the use of screening data before they get in, if they come out twisted in a way that would result in errors when screening... So I have to ask this: why not let users download the data, and let them do the querying...?

[2022-10-31 09:07] nicolasvanermen commented on #136
I am not against adding all parent identifiers to the download tables... But correct me if I am wrong, even then users can still make the same incorrect joins, no? (when only joining on one identifier) I guess the point is that they will be less inclined to do so?

[2022-10-31 10:04] cmspinto commented on #135
From my experience more and more people use the WebAPI to fetch the results, because like that the can always work with the last version of the data.

Sorry, it was no bug, it was my fault. The Key in sample was in the wrong place.
[https://esas.ices.dk/api/getSampleRecords?campaignID=775](https://esas.ices.dk/api/getSampleRecords?campaignID=775)
The views for downloading data and WebAPI are the s

[2022-10-31 10:44] peterdesmet commented on #135
Thanks @cmspinto. I for one am happy there is an API. Odd that the bug only occurred there and not in the download service.

I'll test lazy loading. 👍  For now I'm fine nothing having a count or `endOfResults`

[2022-10-31 10:52] peterdesmet commented on #120
@cmspinto you mentioned in https://github.com/ices-tools-dev/esas/issues/135#issuecomment-1296861883 that lazy loading is back.

I'm however still getting (as) slow responses from e.g. https://esas.ices.dk/api/getObservationRecords?offset=1000&limit=1000 Any idea what is going on?

[2022-10-31 10:53] nicolasvanermen commented on #135
All good, but can we agree that all API stuff needs to be tested thoroughly?  I still think it is crazy that we put so much time and effort in screening input, and that we would not do the same for API output. But I cannot work with the API (I only know IPA), so this should be done internally at ICES or by you Peter.

[2022-10-31 10:53] peterdesmet commented on #136
Indeed. The issue is that currently the cannot might the correct joins, because not all identifiers are provided.

[2022-10-31 10:55] peterdesmet commented on #135
I'm using the API for https://github.com/inbo/esas2obis. I discovered the issues by testing the data I'm getting back there.

[2022-10-31 11:07] nicolasvanermen commented on #135
OK so you are confident that this was the only bug?

[2022-10-31 11:20] peterdesmet commented on #135
So far I haven't encountered any others... but this bug and limited time to test have also prevented me from testing more thoroughly.

[2022-10-31 12:26] cmspinto commented on #135
Yep, even with thin one I'm a bit surprised.

[2022-11-01 08:29] cmspinto commented on #134
Yes, this can be done.

[2022-11-01 08:47] cmspinto commented on #134
It will not be possible to delete the files that have been uploaded to the database:

![image](https://user-images.githubusercontent.com/8705477/199194621-4a4d243d-ff39-47a5-abe0-13595f0ecf2b.png)

[2022-11-01 13:16] nicolasvanermen commented on #134
Great, thanks!

[2022-11-01 13:16] #134 closed

[2022-11-02 10:19] cmspinto commented on #120
I agree Peter, when no filter is put in getObservationRecords then the results always take around 19s to load.

A possible alternative is to pull the data by campaignID:
[[campaignID](https://esas.ices.dk/api/getObservationRecords?offset=0&limit=1000&campaignID=775)](https://esas.ices.dk/api/getObservationRecords?offset=0&limit=1000&campaignID=775)
Then it takes about 178ms.

![image](https://user

[2022-11-02 10:53] cmspinto commented on #136
@peterdesmet I agree with you.
The download is incomplete!
I can add the internal ID's of the database to all the files. That should make it clear and enough?
So make it closer to what is the API.

[2022-11-02 13:24] cmspinto commented on #120
I was looking and the Observations is a union of selects, this is because Species can we reported using Worms or ESAS.
I might be able to optimize a little bit this download.

[2022-11-03 08:15] cmspinto commented on #120
The time is down to 4.7s

![image](https://user-images.githubusercontent.com/8705477/199673388-4b39a590-3a08-4fde-a6b7-814740406c12.png)

What is keeping it in 4.7s is the function to pull the vernacular name. This query can take less than a second if it does not need to search for an English vernacular name using a function.

@peterdesmet  is 4.7s fine?

[2022-11-03 08:49] peterdesmet commented on #136
I need to think about this a bit more. One of the issues with the internal IDs is that one cannot query for them.

Also, in the API you would expect:

[code]

Maybe we need stricter rules on the identifiers, e.g. a data rights holder cannot reuse a `campaignID` and all `sampleID`, `positionID` and `observationID` within a campaign need to be unique. I'll have a look in the data and see what is fea

[2022-11-03 13:33] Osanna123 commented on #104
done, will be on web-vocab overnight

[2022-11-03 13:33] #104 closed

[2022-11-07 15:30] #135 closed

[2022-11-07 15:36] peterdesmet commented on #136
@nicolasvanermen how comfortable are you with requiring people to upload data with a `campaignID` that is **unique for the whole database**? This was previously done by reserving "blocks" of identifiers, but could also be done by prepending identifiers (in future submissions) e.g. `INBO:123`.

[2022-11-08 07:34] nicolasvanermen commented on #136
I think this makes perfect sense, as this is the case in the database already. An acronym prefix makes sense as well.

[2022-11-08 12:08] peterdesmet commented on #136
## Current situation in the database

- campaigns: 24888 records, all `campaignID` are unique
- samples: 25309 records, all `sampleID` are unique
- positions: 1656728 records, all `positionID` are unique
- observations: 2957702 records, **not all `observationID` are unique** (291,225 duplicates, such as `100001`)

## Requirements

Given that, I would suggest (@nicolasvanermen can you confirm if yo

[2022-11-08 12:58] mehdiabbasi commented on #121
@cmspinto @neil-ices-dk this feature is ready to use ex. [https://vocab.ices.dk/?CodeTypeRel=Behaviour&CodeID=235388](https://vocab.ices.dk/?CodeTypeRel=Behaviour&CodeID=235388)

[2022-11-17 13:59] peterdesmet commented on #136
@nicolasvanermen I noticed you checked of some things in my issue. Does that mean that you prefer `sampleID` and `positionID` to only be unique within a campaign? Or do you think we can ask these to be unique across the whole database (currently the case) as well (which would simplify it for users)?

[2022-11-21 09:41] cmspinto commented on #120
Can we close this issue?

[2022-11-21 10:07] cmspinto commented on #136
@peterdesmet  sorry to solve this issue only now.
A quick comment, in the webAPI there is no issue, because the records have the identifier:
![image](https://user-images.githubusercontent.com/8705477/203018767-4fc9cffc-6965-401a-87e5-d35ef6de8b05.png)
![image](https://user-images.githubusercontent.com/8705477/203019156-c8f8ca7c-e5a4-4603-9181-df2ab79e9c70.png)

so if two organizations submit the s

[2022-11-21 10:15] peterdesmet commented on #136
@cmspinto yes, I would still like the changes to the API 1) so users or implementations don't have to rely on the `tbl` fields and 2) so the API result is almost interchangeable with CSV result

Note that we won't allow this at submission.

[2022-11-21 13:47] nicolasvanermen commented on #136
This is not a preference, rather a pragmatic approval. Of course it would be ideal that all keys are unique within the database... But in that case we should propose a specific 'system', for example through a data provider specific number or letter combination as prefix for each key...?

[2022-11-22 13:52] nicolasvanermen commented on #133
Has Ruben been linked as contact person to the BuWa data? And if not, who is?

[2022-11-23 09:09] cmspinto commented on #136
@nicolasvanermen, the platform is not affected by the users uploading the same CampaignID in distinct downloads.
I think we are doing this only to make sure that when users download data they link distinct files correctly.

The QC check is here: [That CampaingID was already used by another organization, please use another one.](http://datsu.ices.dk/web/chkDetails.aspx?DatasetID=148&RecordID=103&gr

[2022-11-23 10:30] nicolasvanermen commented on #136
OK, I will check this, by uploading a record of JNCC with a campaignID from INBO...

[2022-11-23 10:47] nicolasvanermen commented on #124
This is not fixed yet:
![image](https://user-images.githubusercontent.com/7381853/203527761-349dd6b5-f7b8-4ccb-9f11-8c5368f51d9a.png)

[2022-11-23 10:49] nicolasvanermen commented on #136
The duplicate campaignID is filtered out OK, but the message says:
Cross field check (condition not met)

This seems to uninformative... Can the message be aligned with the check description ("That CampaingID was already used by another organization, please use another one.")?

[2022-11-23 10:51] nicolasvanermen commented on #123
This bug seems to be solved (only one email with sender 'File Screening')
The email text should still be adapted:
We regret to inform you that your submission is not compliant with the European Seabirds At Sea (ESAS) data format and therefore **it was not** uploaded to the database.
Please rephrase to:
We regret to inform you that your submission is not compliant with the European Seabirds At Sea

[2022-11-23 10:57] nicolasvanermen commented on #111
The current disclaimer in the download includes the institutes names, yet is not the same as the one reviewed by Peter: https://github.com/ices-tools-dev/esas/blob/main/disclaimer-download.
So parallel versions are circulating apparently...

[2022-11-23 10:58] #96 closed

[2022-11-24 08:42] cmspinto commented on #136
Done: http://datsu.ices.dk/web/chkDetails.aspx?DatasetID=148&RecordID=103&groupFilterID=1981

[2022-11-24 08:46] cmspinto commented on #133
No, currently there is only one user that is linked to an institution, it's you:
![image](https://user-images.githubusercontent.com/8705477/203734775-8643f467-c464-408c-bc08-cf78cff793ff.png)

Either you can insert the link between the users and the institutes or you can send me the list and I can do it.

In the case of Ruben what is his user name or email?

[2022-11-24 08:53] nicolasvanermen commented on #133
His email is r.c.fijn@buwa.nl, but I don't think he has an account nor a username at ICES. Should he request this himself before we can continue? And who should he be contacting?

[2022-11-24 09:06] nicolasvanermen commented on #136
All keys are now returned in the download, can this issue be closed @peterdesmet ?

[2022-11-24 09:25] cmspinto commented on #111
Have updated the disclaimer to be this one: https://github.com/ices-tools-dev/esas/blob/main/disclaimer-download

[2022-11-24 09:28] cmspinto commented on #123
It is already **can not** be uploaded

![image](https://user-images.githubusercontent.com/8705477/203747306-547a2315-892e-40d2-8548-d8571462c855.png)

[2022-11-24 09:32] cmspinto commented on #124
Should be fixed now, thanks for the heads up.

[2022-11-24 09:44] nicolasvanermen commented on #123
Not in the emails that I am receiving...
![image](https://user-images.githubusercontent.com/7381853/203751028-81c4e130-3c14-499a-bfad-b1053446257d.png)

[2022-11-24 09:48] #124 closed

[2022-11-24 09:59] peterdesmet commented on #136
Yes, they are also all returned by the API and all issues are resolved at https://github.com/ices-tools-dev/esas/issues/136#issuecomment-1307106286. I will update the documentation and close this issue.

[2022-11-24 10:11] nicolasvanermen commented on #111
Beautiful, closing this issue.

[2022-11-24 10:11] #111 closed

[2022-11-24 10:53] cmspinto commented on #123
Found it thanks:

![image](https://user-images.githubusercontent.com/8705477/203766499-30b2329a-ed9d-42ad-99bc-61d5f0c5e403.png)

[2022-11-24 11:21] peterdesmet commented on #136
Now clarified in the documentation: 80cc9a7

@cmspinto or @Osanna123 is it possible to update some of the descriptions in http://datsu.ices.dk/web/selRep.aspx?Dataset=148 to reflect the changes in 80cc9a7?

[2022-11-24 12:40] nicolasvanermen commented on #123
Great, thanks, I just love to close Github issues!

[2022-11-24 12:40] #123 closed

[2022-11-30 10:14] neil-ices-dk opened #138 "citation text"
The ICES librarian has asked if we would adjust the citation to conform to the standard format.

from:
European Seabirds At Sea (ESAS) (2022). ICES, Copenhagen. https://esas.ices.dk/

To:
European Seabirds at Sea (ESAS). 2022. ICES, Copenhagen, Denmark. https://esas.ices.dk/

ok with this?

[2022-11-30 10:16] nicolasvanermen commented on #138
Sure!

[2022-11-30 10:22] neil-ices-dk commented on #138
thank you, and done!

[2022-11-30 10:22] #138 closed

[2022-11-30 12:54] peterdesmet commented on #138
I've also requested an update at https://www.vliz.be/imis?module=dataset&dasid=3117