[2020-10-29 15:43] peterdesmet opened #1 "Add primary + foreign keys to schemas"

[2020-10-29 15:56] peterdesmet opened #2 "Is beaufort required"
I notice empty values in the data

[2020-10-30 10:33] #1 closed

[2020-10-30 10:33] #2 closed

[2020-10-30 10:51] peterdesmet opened #3 "Data files should be UTF8"
I notice some of the exported files were not UTF8 encoded. It would be best to recommend that.

[2020-11-10 10:29] peterdesmet opened #4 "Public availability flag"
@cmspinto:

That could work, but the flag itself should be stored at trip level in the database, so we can support use cases like these:

1. Submit 2012-2018 data from INBO, submission is marked private.
2. Noticed an error in the 2016 data onwards, submit new batch of 2016-2018 INBO data, replacing stored data. Decide it can be all public now.
3. Decide that 2012-2015 data (which were not updated

[2020-11-10 19:17] peterdesmet opened #5 "Add coding tables"
## Trip

- [x] base_side: in yaml
- [x] behaviour_recording: in yaml
- [x] count_method: in yaml
- [x] data_provider: added to yaml
- [x] direction_of_travel_type: in yaml
- [x] observer: won't upload file yet, see #6
- [x] observer_role: in yaml
- [x] platform_code: file uploaded
- [x] platform_type: in yaml
- [x] species_counted: in yaml
- [x] use_of_binoculars: in yaml

## Position

- [x] beauf

[2020-11-11 13:41] peterdesmet opened #6 "Use name rather than code for observers"
Observers (`observer1`, `observer2`, `observer3`) are currently indicated with a fixed code (e.g. `11013` for `Nicolas Vanermen`):

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L395-L403

Given that this field is seldom or not used in analysis, can grow in values, and doesn't often share values across data providers, I don't th

[2020-11-11 13:55] peterdesmet opened #7 "Should transect_id be kept?"
Positions have a field `transect_id`:

      Format: `XX_YYYYYYYYYY`, where `XX` is the 2-letter country code and
      `YYYYYYYYYY` is a transect ID according to the national classification.

This is a newly added field since version 5, with the comment:

@nicolasvanermen notes that he has not seen data with values for this field. It should be discussed if it is necessary.

[2020-11-11 21:05] #5 closed

[2020-11-11 21:05] peterdesmet commented on #5
The 2 added coding tables can be found in https://github.com/ices-tools-dev/esas/tree/main/_data/vocabularies

[2020-11-12 11:40] peterdesmet opened #8 "Indicate required status on website"
@nicolasvanermen suggested to indicate on the website (https://ices-tools-dev.github.io/esas/tables/) which fields are required. I think that is a good idea, I'll see if I can adapt to layout (https://github.com/ices-tools-dev/esas/blob/main/_layouts/tables.html) to do that automatically.

[2020-11-12 15:15] peterdesmet commented on #8
Fixed with 142d94994403f8d12983c18bbf32ef8bc5c81dfe

[2020-11-12 15:15] #8 closed

[2020-11-12 15:34] peterdesmet opened #9 "Review data model by ICES"
The ESAS data model as it currently stands is now up to date in the repository and **ready for review**. It is the result of discussions of the ESAS working group. You can see it as a [web page](https://ices-tools-dev.github.io/esas/tables/) or as [source files](https://github.com/ices-tools-dev/esas/tree/main/_data/table-schemas) (yaml files following the [Table Schema specs](https://specs.fricti

[2020-12-03 10:08] cmspinto opened #10 "ESAS DATA POLICY"
ESAS DATA MODEL

~The model is available on GitHub (https://github.com/inbo/esas-data-model) and as a webpage (https://inbo.github.io/esas-data-model/tables/). During this transition period, the GitHub repository will be where we maintain and discuss the source version of the ESAS data model. Eventually, the model and its associated vocabularies will be implemented and maintained at ICES.~: The re

[2020-12-03 10:12] cmspinto opened #11 "Define Format"
Need to finalize the format.

- [x] Draft a document with the format (already in the repository)
- [x] Decide on denormalized or normalized format: is ICES mixed record txt file
- [x] Approve the format
- [ ] Approve and insert the vocabularies
- [x] Insert the format in ICES system
- [ ] Add QC Rules based on the present schema
- [ ] Test the files

[2020-12-03 10:13] cmspinto opened #12 "Define Vocabularies"
Define the format vocabularies

This issue is linked with #11.

[2020-12-03 12:18] cmspinto opened #13 "Upload of the Data"
All data can be uploaded to the database using a submission facility.

[2020-12-03 12:21] cmspinto commented on #12
Some of the codes need to be translated from the ESAS Vocabularies to ICES vocabularies.

Need to identity what vocabularies can't be replicated in ICES, examples:

- Provider -> [EDMO Code](https://vocab.ices.dk/?ref=1398)

[2020-12-03 12:56] peterdesmet commented on #10
- The issue title is/was ESAS DATA POLICY, but ESAS will adopt the ICES data policy and communicate this to its members
- The issue body are notes from a previous meeting. I have annotated those.

[2020-12-03 12:56] #10 closed

[2020-12-03 13:11] peterdesmet opened #14 "Review observations: euring_species_code"
Updated todo:

- [x] Rename field to `species_code` because one should be able to submit both EURING and APHIA ids
- [x] Decide how to differentiate between EURING and APHIA ids (both are integers). Maybe with a prefix `euring:` With extra field  `SpeciesCodeType`
- [x] Remove non biological codes: 40fecb4
- [x] Understand use of `~`: it means **and** not **or** and can thus not be used for specie

[2020-12-03 13:39] peterdesmet commented on #13
Indeed, @nicolasvanermen has received all data from the old JNCC database (v5) and converted those to the current data model (that we call v6). That consists of 3 related csv files:

file | records
--- | ---:
`trips.csv` | 23962
`positions.csv` | 1514080
`observations.csv` |  2696460

Those can be uploaded through the new submit facility

[2020-12-03 14:25] nicolasvanermen commented on #14
To follow up on this: 6345 is an unambiguous code among the ESAS community,
yet "scientifically" it can be written in many different ways: Uria aalge /
Alca torda,  Alca torda / Uria aalge, Alca torda/Uria aalge. How should we
anticipate this? The same problem may occur due to ever changing taxonomy
and nomenclature...

When I mentioned we should be careful with re-coding while aiming to
encourage

[2020-12-03 14:32] nicolasvanermen commented on #13
Actually, apart from implementing the new data model, ESAS v6.0 is the
result of merging ESAS v5 with the Belgian, Dutch and German updates
(implying an 10% increase in the number of positive observations compared
to ESAS v5). We hope to include Dutch aerial surveys soon as well, but
there appears to be some bureaucratic bottleneck regarding data ownership...

On Thu, Dec 3, 2020 at 2:40 PM Peter

[2020-12-03 16:04] peterdesmet commented on #14
Thanks @nicolasvanermen, I had no idea that the codes `710` are a core aspect of the ESAS methodology. They should be kept then. And used as such when submitting.

@ices-tools-dev/data-and-information It would be great if a translation table with those codes to `scientific_name` and `aphia_id` is part of the database, so that those fields can be included in exports. We can help provide the data to

[2020-12-03 17:02] nicolasvanermen commented on #14
OK Peter, I will try to supply such a translation table by the next
meeting. As discussed among us, it should be clear that during some
surveys, species groups such as *Uria aalge */ *Alca torda *or *Gavia *sp.
are *never* determined to species level, and these species groups are
therefore regularly used as a 'taxonomic unit' in analyses regarding
anthropogenic impact and so on. Clearly, we have n

[2020-12-04 14:35] nicolasvanermen commented on #14
[euring_species_code.xlsx](https://github.com/ices-tools-dev/esas/files/5643329/euring_species_code.xlsx)
I performed a match of the ESAS/EURING codes with Alphia_ID's, using a most handy tool from the WoRMS website. Where the match failed I tried to look for the most appropriate match manually and moved up in the taxonomic tree where necessary. These manual matches are indicated in red font. Quit

[2020-12-04 14:36] nicolasvanermen commented on #14
[euring_species_code_matched.xlsx](https://github.com/ices-tools-dev/esas/files/5643355/euring_species_code_matched.xlsx)

[2020-12-08 09:40] peterdesmet commented on #14
Thanks Nicolas! I have copied the `aphia_id` and `aphia_scientific_name` information to the [csv file](https://github.com/ices-tools-dev/esas/blob/main/_data/vocabularies/euring_species_code.tsv) in this repository. Work from that file if you want to make further changes. I have also updated the template, so on the website you now have the name + a direct link to WoRMS: https://ices-tools-dev.gith

[2020-12-09 08:26] nicolasvanermen commented on #14
OK, great! Looks good.

Couldn't find any shift in records in the original csv though... Can you show me where that occurs? Just to be sure that this does not go back to the original lookup table.

I also see _Phylloscopus_ is still in there? Which is good, because analogue to _Turdus_, _Podiceps_, and many other taxa defined at genus level.

One more general remark: The original file gives two 'm

[2020-12-09 08:32] neil-ices-dk commented on #14
yes - we use the 'accepted' label (and preserve the original name/match either as an additional field or in a lookup table);

[2021-01-06 10:52] peterdesmet commented on #14
Hi @nicolasvanermen the shift must then have occurred on my end.

Regarding `accepted`: I have matched as originally as possible in the species list, as accepted names can always be retrieved through services (and might change over time). But of course fine if ICES implements this as @neil-ices-dk suggests (as long as the original match is retained somewhere).

[2021-01-06 11:14] peterdesmet opened #15 "Review trips: data_provider"
`trips: data_provider` indicates the data provider with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L20-L50

- [x] @ices-tools-dev/data-and-information Should this field be part of the data **yes** or should a data provider be selected (dropdown) when uploading (limiting one upload to one provider)?
- [x] @ic

[2021-01-06 11:19] peterdesmet opened #16 "Review trips: platform_type"
`trips: platform_type` indicates the platform type with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L102-L108

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **yes**
- [x] @nicolasvanermen Wouldn't human readable values like `ship` be better, or are the int

[2021-01-06 11:26] peterdesmet opened #17 "Review trips: platform_code"
`trips: platform_code` indicates the platform code (ship call sign, etc) with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L119-L130

Values are available at [here](https://github.com/ices-tools-dev/esas/blob/main/_data/vocabularies/platform_code.tsv).

- [ ] @ices-tools-dev/data-and-information Does ICES alre

[2021-01-06 11:29] peterdesmet opened #18 "Review trips: count_method"
`trips: count_method` indicates the count method with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L200-L215

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **yes, but values need to be added**
- [x] @nicolasvanermen Wouldn't human readable values like `all_

[2021-01-06 11:31] peterdesmet opened #19 "Review trips: species_counted"
`trips: species_counted` indicates what species are counted with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L235-L255

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **No**
- [x] @nicolasvanermen Wouldn't human readable values like `all`, `all_not_larus` b

[2021-01-06 11:34] peterdesmet opened #20 "Review trips: use_of_binoculars"
`trips: use_of_binoculars` indicates whether binoculars were used with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L292-L297

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **No**
- [x] @nicolasvanermen Wouldn't human readable values like `no`, `yes_far` be

[2021-01-06 11:36] peterdesmet opened #21 "Review trips: behaviour_recording"
`trips: behaviour_recording` indicates the behaviour recording with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L307-L313

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **No**
- [x] @nicolasvanermen Wouldn't human readable values like `ship_based`, `other`

[2021-01-06 11:38] peterdesmet opened #22 "Review trips: platform_side"
`trips: base_side` indicates the used side of the platform with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L324-L333

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **No**
- [x] @nicolasvanermen Wouldn't human readable values like `aerial_right_front` be b

[2021-01-06 11:39] peterdesmet opened #23 "Review trips: direction_of_travel_type"
`trips: direction_of_travel_type` indicates the direction of travel with a single letter code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L347-L355

- [ ] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this?
- [ ] @nicolasvanermen Are these single letter codes codes well established?

[2021-01-06 11:41] peterdesmet opened #24 "Review trips: observer_role"
`trips: observer_role` indicates the observer role with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L368-L374

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **no**
- [ ] @nicolasvanermen What is the use of this field? Is it when there are concurrent observ

[2021-01-06 11:46] peterdesmet opened #25 "Review positions: beaufort"
`positions: beaufort` indicates the sea state with an integer Beaufort code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/positions.yaml#L90-L105

- [x] @ices-tools-dev/data-and-information Does ICES use the Beaufort scale for any other dataset? **no**
- [x] @nicolasvanermen wouldn't it technically be better if `sea_state` was used as a

[2021-01-06 11:49] peterdesmet opened #26 "Review positions: visibility"
`positions: visibility` indicates the visibility with a letter or number code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/positions.yaml#L125-L153

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? Is this field used in other datasets? **no**
- [x] @nicolasvanermen Would it be possible

[2021-01-06 11:49] peterdesmet opened #27 "Review positions: glare"
`positions: glares` indicates the glare with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/positions.yaml#L186-L192

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **no**
- [x] @nicolasvanermen Wouldn't human readable values like `no`, `weak` be better, or are the integ

[2021-01-06 11:51] peterdesmet opened #28 "Review positions: cloud_cover"
`positions: cloud_cover` indicates the cloud cover with an integer octa code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/positions.yaml#L213-L221

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? Are octas used as well? **no**

[2021-01-06 11:52] peterdesmet opened #29 "Review positions: precipitation"
`positions: precipitation` indicates the precipitation with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/positions.yaml#L223-L228

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **no**
- [x] @nicolasvanermen Wouldn't human readable values like `rain`, `fog` be better,

[2021-01-06 11:53] peterdesmet opened #30 "Review positions: observation_quality"
`positions: observation_quality` indicates the observation quality with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/positions.yaml#L249-L254

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **yes, on data quality: https://vocab.ices.dk/?ref=342**
- [x] @nicolasvanermen

[2021-01-06 11:55] cmspinto commented on #14
I think we can retain the original name, we will have to discuss this when we finalize the format.
Like it was proposed we can allow this only for historical files.

[2021-01-06 12:00] cmspinto commented on #6
@peterdesmet, what is this information used for?
If this information is not in use then we can just drop  this files and replace it by numberOfObservers (just to know if it was one, two, ...)
 If this information is of use, then we can change to a text field and  need to consider GDPR.
Can you check if it is the full name or just the first name?

[2021-01-06 12:02] peterdesmet opened #31 "Review observations: transect"
`observations: transect` indicates the transect with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/observations.yaml#L30-L35

- [ ] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this?
- [x] @nicolasvanermen Wouldn't human readable values like `inside` be better, or are the integer

[2021-01-06 12:10] peterdesmet commented on #14
@cmspinto, to summarize (correct me if wrong):

- ESAS users can continue to upload their data with an `euring_species_code`
- This code will be mapped during upload to a taxon table (with an original name, accepted name, and where known WoRMS code).
- Users will be informed when a match is not found (**what should they do then?**)
- When downloading data, the original code, the scientific name an

[2021-01-06 12:13] peterdesmet opened #32 "Review observations: distance"
`observations: distance` indicates the distance with an letter code or numeric value (potentially with >):

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/observations.yaml#L114-L139

- [ ] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this?
- [ ] @nicolasvanermen Would it be possible to translate t

[2021-01-06 12:14] peterdesmet opened #33 "Review observations: age_class"
`observations: age_class` indicates the age class with a letter or integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/observations.yaml#L146-L159

- [ ] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this?

[2021-01-06 12:15] peterdesmet opened #34 "Review observations: plumage"
`observations: plumage` indicates the plumage with a letter code:

https://github.com/ices-tools-dev/esas/blob/77b9faf016e03c650c0e80ade37f6162470d0f9e/_data/table-schemas/observations.yaml#L168-L190

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **no**

[2021-01-06 12:17] peterdesmet opened #35 "Review observations: sex"
`observations: sex` indicates the sex with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/observations.yaml#L220-L230

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? I assume it does, are the values `F` and `M` used? **Yes, and the codes are the same**
- [x] @nicolasvane

[2021-01-06 12:20] peterdesmet opened #36 "Review observations: direction_of_travel"
`observations: direction_of_travel` indicates the direction of travel with a letter code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/observations.yaml#L241-L255

- [ ] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this?
- [x] @nicolasvanermen Wouldn't it be better to express all of this as degr

[2021-01-06 12:22] peterdesmet opened #37 "Review observations: prey"
`observations: prey` indicates the prey with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/observations.yaml#L308-L380

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **No**
- [x] @nicolasvanermen I notice a lot of unknown values. How likely is it these will be assigned

[2021-01-06 12:23] peterdesmet opened #38 "Review observations: association"
`observations: association` indicates the association with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/observations.yaml#L457-L515

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **no**
- [x] @nicolasvanermen Wouldn't human readable values be better, or are the intege

[2021-01-06 12:24] peterdesmet opened #39 "Review observations: activity"
`observations: activity` indicates the activity with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/observations.yaml#L577-L586

- [ ] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this?
- [ ] @nicolasvanermen Wouldn't human readable values like `swimming` be better, or are the int

[2021-01-06 12:26] peterdesmet opened #40 "Review observations: behaviour"
`observations: behaviour` indicates the behaviour with an integer code:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/observations.yaml#L600-L682

- [x] @ices-tools-dev/data-and-information Does ICES already have a controlled vocabulary for this? **no**
- [x] @nicolasvanermen Wouldn't human readable values like `feeding_young` be better,

[2021-01-06 12:27] peterdesmet commented on #6
@nicolasvanermen should be able to answer this, but it looks like I cannot assign him.

[2021-01-06 12:31] HjalteParner commented on #39
@peterdesmet, yes ICES already have a platform code vocabulary including platform type or class if you like.

Please have a look at ICES platform code request system at http://vocab.ices.dk/request for details.

[2021-01-06 12:40] peterdesmet commented on #39
Thanks @HjalteParner. I will indicate your remark in issue #16, as this one relates to "activity". 😊

[2021-01-06 12:41] peterdesmet commented on #16
@HjalteParner:

[2021-01-06 12:51] peterdesmet commented on #16
ICES platform class could be valuable indeed: https://vocab.ices.dk/?ref=311 Here's my attempt at mapping:

esas code | esas value | ices code | value
--- | --- | --- | ---
1 | Ship | 30 | Ship
2 | Helicopter | 67 | Helicopter
3 | Aeroplane | 62 | aeroplane
4 | Aeroplane (digital survey) | ? | ?

@nicolasvanermen can you explain what a digital survey is? If we can find/add a suitable value for tha

[2021-01-06 14:50] peterdesmet commented on #12
These are now separated in issues (see https://github.com/ices-tools-dev/esas/milestone/1). @cmspinto I will add your suggested vocabs in the relevant issues. Note that there is no field `country`.

[2021-01-06 14:52] peterdesmet commented on #15
The second question is answered in https://github.com/ices-tools-dev/esas/issues/12#issuecomment-737909821, where it was suggested to use [EDMO code](https://vocab.ices.dk/?ref=1398), which also uses integer values. I will try to map these.

[2021-01-06 14:54] peterdesmet commented on #17
The first question is answered in https://github.com/ices-tools-dev/esas/issues/12#issuecomment-737909821, where it is suggested to use [ShipC](https://vocab.ices.dk/?ref=315). I will investigate how easy it is to map these.

[2021-01-06 14:55] #12 closed

[2021-01-06 14:57] peterdesmet commented on #9
I have now created separate issues for all controlled vocabularies in https://github.com/ices-tools-dev/esas/milestone/1

[2021-01-06 15:09] peterdesmet commented on #4
Note that the format now has a flag at trip level:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L85-L92

[2021-01-06 17:42] peterdesmet commented on #17
Summary of mapping:

- There are 458 platform_codes in [total](https://github.com/ices-tools-dev/esas/blob/main/_data/vocabularies/platform_code.tsv)
- 93 (20%) can be dumb mapped on name, but part of those are unique values
- 50 (11%) are `Temp x` or `UNKNOWN`
- 315 (69%) cannot be dumb mapped on name.

Questions:

- [ ] @nicolasvanermen I notice some duplicate values in the ESAS list, such as `1

[2021-01-06 17:53] peterdesmet opened #41 "Commas are not escaped in csv export"
Didn't really know in what repository to report this, but when downloading EDMO codes from https://vocab.ices.dk/?ref=1398 in csv file, I noticed that commas are not escaped, which then conflicts with the comma as separator:

[code]

Resulting in:

tblCodeID | Code | Description | tblCodeTypeID | CodeType | Created | Modified | Deprecated
--- | --- | --- | --- | --- | --- | --- | ---
144695 | 1 |

[2021-01-06 21:46] HjalteParner commented on #17
@peterdesmet you should use ICES platform code as the identifier/key in your system and only use an interger virtual key internally in your database, if you find that useful. The platform name is not unique cannot as such be used as an identifier of a given platform. The ICES platform request system is an international colaboration used globally. As seen at http://vocab.ices.dk/request, you can co

[2021-01-07 07:55] neil-ices-dk commented on #17
just to clarify, these are not duplicates; the governance model distinguishes between instances of a vessel/hull. So although the name is not unique, the combination of key attributes will be - in most cases the commission date/decommission date are the defining instances of a vessel (platform code) with the same name/call sign

[2021-01-07 08:08] nicolasvanermen commented on #15
I would keep the data provider field inside the database, to allow a clear
link to the data origin for data users.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 12:15 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 08:10] nicolasvanermen commented on #16
Only 4 values, and unlikely that there will be many future additions, so
human-readable values would be ok by me.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 12:19 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 08:18] nicolasvanermen commented on #17
Quite unlikely I am afraid... I have received (some) lookup tables from
JNCC, and in case of platform_code the missing values are simply not there.
Not sure how this is possible, but the actual original ESAS database is
somehow locked and Mark Lewis can't reach it. This should be solved soon,
and maybe there is some additional information there, but I would not count
on it.

Nicolas Vanermen
*Wete

[2021-01-07 08:20] nicolasvanermen commented on #18
I would hold on to the integer codes, count methods can only be described
in rather drawn-out sentences.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 12:29 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 08:21] nicolasvanermen commented on #19
I would hold on to the integer codes, species_counted often gets drawn-out
descriptions.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 12:31 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 08:23] nicolasvanermen commented on #20
I would hold on to the integer codes (drawn-out descriptions).

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 12:34 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 08:24] nicolasvanermen commented on #21
I would hold on to the integer codes (drawn-out descriptions).

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 12:36 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 08:25] nicolasvanermen commented on #22
Human-readable values would be OK for me, can all be described in a concise
and unambiguous manner.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 12:38 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 08:26] nicolasvanermen commented on #23
This is a new field, human-readable values would be OK for me.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 12:40 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 08:31] nicolasvanermen commented on #24
When there are two concurrent observations (two independent data streams),
one gets the primary role, the other the secondary. In case only one data
stream should be used, this should be the one collected by the primary
observer. Alternatively we could use values such as big boss and little
boss.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, b

[2021-01-07 08:34] nicolasvanermen commented on #25
Sea state has a scale of its own (which is a simplification of the beaufort
scale with 9 instead of 12 values). Actually, this field was named
sea_state before, yet used the beaufort scale. Quite confusing, I suggest
keeping beaufort as a column name.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan

[2021-01-07 08:47] nicolasvanermen commented on #26
A, B, C, D are well-established codes that used to describe
visibility 'quality' instead of an actual distance range (these were added
later). Was always coded as such in the ESAS v5 database, therefore I would
keep it in. Yet it would be nice to make clear that visibility is
preferably scored using distance.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Ha

[2021-01-07 08:50] nicolasvanermen commented on #27
OK to use no, weak, medium & strong as values. But nevertheless there
should still be a lookup table to further clarify these codes (e.g. medium
= "a part of the viewing area is affected by glare").

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 12:50 PM Peter Desmet <notifications@githu

[2021-01-07 08:51] nicolasvanermen commented on #29
Yes, OK to use human-readable values here.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 12:52 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 08:56] nicolasvanermen commented on #30
Yes, human readable values are fine here.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 12:53 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 08:56] cmspinto opened #42 "Make a home page for ESAS"
We could draft of a homepage for ESAS.

[2021-01-07 09:00] cmspinto commented on #41
Hi Mehdi,

Do you think this is a bug?
Either put ";", tabs, or replace the commas by "..." or otherwise the user who downloads the file will not be able use it!

[2021-01-07 09:02] nicolasvanermen commented on #6
In theory this information can be used in distance analyses, as some
observers are better in detecting birds than others. But to do so is much
more realistic in single monitoring projects than across a large dataset
with so many other and much more important variables to account for
(platform, method,...). Considering this, next to the privacy issues, the
many unknown values, and the doubles insid

[2021-01-07 09:12] nicolasvanermen commented on #31
OK for me. What do you suggest for value 3? "outside_alt"? Again along with
a description in a separate lookup table or the data model?

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 1:03 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 09:13] nicolasvanermen commented on #14
Yes, that is correct, esas_species_code would be better.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 1:11 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 09:17] nicolasvanermen commented on #14
In case there is no match and this is not due to an erroneous entry, the
species_table should  be added with the new value by someone at ICES I
guess. Not sure how easy this will be? This will actually occur sometimes,
as the species list as it is now is mainly based on earlier observations,
and therefore not exhaustive!

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bos

[2021-01-07 09:21] nicolasvanermen commented on #32
These are well-established codes, and if you would do so, you are still
stuck with these in the historical data:

   - F Flying, no contact with water
   - U Unknown
   - W In contact with the water, but distance not recorded

So I would leave it as it is.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed,

[2021-01-07 09:28] peterdesmet commented on #17
@HjalteParner @neil-ices-dk thanks, then the core issue is: given that we a historic database that only contains platform/ship names such as `Alkor`, `Alluchio`, `Alsfeld (BG 16)` **and no extra metadata** (except maybe the country), how do we map these to ShipC codes?

[2021-01-07 09:32] peterdesmet commented on #42
To clarify, you mean a homepage for the ESAS dataset at https://www.ices.dk/data/dataset-collections/Pages/Project-datasets.aspx?

[2021-01-07 09:58] nicolasvanermen commented on #35
For most fields "unknown" should be indicated by a missing value,
apparently it did stick in the distance and direction_of_travel_type
fields...

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 1:17 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 09:59] nicolasvanermen commented on #36
Yes, during aerial surveys direction of travel is often recorded relative
to the movement of the plane.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 1:21 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 10:00] nicolasvanermen commented on #38
Best to hold on to the integers, a long list with sometimes drawn out
descriptions.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 1:24 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 10:18] nicolasvanermen commented on #37
Same as for platform code, some might still be translated or decoded in the
future. Originally I proposed to simply delete all unknown codes as a
thorough clean-up, but this had little support from the ESAS community,
with information loss as their main argument. Though of course unknown
codes are as uninformative as empty fields, keeping them leaves all options
open.

Nicolas Vanermen
*Wetenschap

[2021-01-07 10:19] nicolasvanermen commented on #39
I would hold on to the integers, not familiar with this field myself, plus
it might be added with new values in the future, resulting in a much longer
list than the present one.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 1:24 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 10:20] nicolasvanermen commented on #40
Best to hold on to the integers, a long list with sometimes drawn out
descriptions.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 1:26 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 10:47] peterdesmet commented on #41
Note that selecting another delimiter `;` or tab could divert the problem (in case those values occur in fields). And I assume you didn't meant _replace_ the commas, but merely wrapping values with commas in quotes (also note that `"` in those values have to be double escaped).

This kind of issues are handled by default by most csv export libraries (I don't know what tool/software is used to gene

[2021-01-07 10:54] peterdesmet commented on #36
@nicolasvanermen I think this should be clearer defined in the definition, so that numbers **always** represent headings relative to the movement of the plane. My attempt:

Agree?

[2021-01-07 10:56] peterdesmet commented on #35
Ok, I will add a remark to those fields.

[2021-01-07 10:57] peterdesmet commented on #32
@nicolasvanermen I assume we cannot translate `U` unknown to leaving it empty as this is a required field?

[2021-01-07 11:00] peterdesmet commented on #36
Oh, my mistake, the type of direction (relative or absolute) is indicated in `direction_of_travel_type` (#23). I that case I think we can always work with numeric values? With `U Flying, no apparent direction` being expressed as an empty value?

[2021-01-07 11:01] peterdesmet commented on #23
Ok, second question: since this is not a required field, can we drop `U` and leave it empty?

[2021-01-07 11:06] peterdesmet commented on #31
@nicolasvanermen Can you explain what "Out of transect and of 90 deg scan" is exactly?

[2021-01-07 11:09] peterdesmet commented on #26
@nicolasvanermen "Yet it would be nice to make clear that visibility is preferably scored using distance." Can you write something that would fit in the definition?

[2021-01-07 11:12] peterdesmet commented on #24
@nicolasvanermen do you have cases of "triple observer platform"? And is it important to know the difference between stream 2 and 3 or are they considered equal (but of lesser importance than 1).

Wouldn't it be clearer if we have a boolean field (TRUE/FALSE) called `primary_data_stream`?

[2021-01-07 11:19] peterdesmet commented on #22
@nicolasvanermen Something like this? Suggestions welcome:

new label | old label
--- | ---
right_front | 1 Aerial survey: right front
left_back | 2 Aerial survey: left back
right_back | 3 Aerial survey: right back
left_front | 4 Aerial survey: left front
left | 5 Ship-based survey: port side
right | 6 Ship-based survey: starboard side
both_sides | 9 Observers

[2021-01-07 11:21] peterdesmet commented on #16
@nicolasvanermen that means we can probably easily adopt ICES vocab here. Can you give a bit more explanation about what a "Aeroplane (digital survey)" is?

[2021-01-07 11:26] peterdesmet commented on #6
@nicolasvanermen is this (dropping `observer1,2,3`) something you want to consult Nele, Eric, ... about? I assume observers can still be kept in the source database. Would you add a field `number_of_observers` as @cmspinto suggests or is that of little value?

[2021-01-07 11:32] nicolasvanermen commented on #31
No, we have gone over this before, nobody seems the know exactly...

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Jan 7, 2021 at 12:06 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 11:54] nicolasvanermen commented on #16
Digital surveys use cameras, the images or videos are analysed afterwards.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 1:51 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 11:59] peterdesmet commented on #16
@nicolasvanermen I notice that the fact that it is a digital survey is already captured in `count_method`:

https://github.com/ices-tools-dev/esas/blob/0d294b4ea678e34f52409a16602f9133ac179dcf/_data/table-schemas/trips.yaml#L213-L214

Can I suggest we drop it here? Then we can easily use the ICES vocab.

[2021-01-07 12:00] nicolasvanermen commented on #17
In case of ter streep, the code 2465 is not used in the database. The same
goes for other obvious duplicates such as prins filip and prins albert. Can
you supply me with a list of duplicates?

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 6, 2021 at 6:42 PM Peter Desmet <notifications@github.com>
w

[2021-01-07 12:01] nicolasvanermen commented on #16
Yes we can.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Jan 7, 2021 at 12:59 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 12:03] nicolasvanermen commented on #6
Ideally this should be discussed with Nele and the ESAS task group. But in
a way this goes for *all *the reopened issues...

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Jan 7, 2021 at 12:27 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 12:19] nicolasvanermen commented on #36
OK, with a minor suggestion:

(Inter)cardinal direction in which the bird/cetacean is travelling:
...
Direction relative to the movement of the platform (plane/ship) in which
the bird/cetacean is travelling as degrees in increments of 10°:
...

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Jan 7, 2021

[2021-01-07 12:35] nicolasvanermen commented on #32
Numbers of birds coded W that are inside the transect can be
distance-corrected, flying birds cannot, so both W & F need to be kept. It
is good to know that rather than only defining the distance, this column
informs the distance analysis. For me personally I would interpret U the
same as W, but not sure whether this accounts for all data providers. Quite
annoying.... So best to keep it in, and ma

[2021-01-07 12:40] nicolasvanermen commented on #36
Let's keep this in, for some data providers (that do not use the U, W, F
codes in the distance column), this might be the only column indicating
flight behaviour. It also means more than unknown direction, personally I
would interpret this as 'hanging around', 'attached to the area',... for
what it's worth.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Have

[2021-01-07 12:43] nicolasvanermen commented on #23
Let's keep this in, for some data providers (that do not use the U, W, F
codes in the distance column), this might be the only column indicating
flight behaviour. It also means more than unknown direction, personally I
would interpret this as 'hanging around', 'attached to the area',... for
what it's worth.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Have

[2021-01-07 12:47] nicolasvanermen commented on #24
This should be discussed with Nele, this is a new field, and not familiar
with the use of it.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Jan 7, 2021 at 12:13 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 12:51] nicolasvanermen commented on #22
Looks good to me.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Jan 7, 2021 at 12:20 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 13:25] nicolasvanermen commented on #26
Visibility code, preferably scored as a distance (A, B, C & D being
historical codes):

   - A Poor (< 1 km)
   - B Fair/moderate (1 – 5 km)
   - C Good/very good (5 – 10 km)
   - D Excellent/infinity (> 10 km)
   - 0.1 Visibility in km
   - 0.2 Visibility in km
   - 0.3 Visibility in km
   - 0.4 Visibility in km
   - 0.5 Visibility in km
   - 0.6 Visibility in km
   - 0.7 Visibility in km

Nicola

[2021-01-07 15:36] peterdesmet commented on #22
@nicolasvanermen can we also rename this field to `platform_side`?

[2021-01-07 15:38] peterdesmet commented on #16
Ok! @ices-tools-dev/data-and-information or @HjalteParner, what values should we use in the provided data:

[code]

Or:

[code]

I would prefer the latter, as it is easier to understand without context.

[2021-01-07 15:45] nicolasvanermen commented on #22
Sure!

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Jan 7, 2021 at 4:36 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 15:53] nicolasvanermen commented on #16
The latter please.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Jan 7, 2021 at 4:39 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-07 15:55] peterdesmet commented on #23
@nicolasvanermen note, this is not `direction_of_travel` but the **type**. Let's try to untangle this:

## Definition

I don't think it "ships" should be mentioned here. It is the direction of the birds/cetaceans. Correct?

## Values and relation to direction_of_travel

trip: direction_of_travel_type | observation: direction_of_travel | remark
--- | --- | ---
`absolute` | N, NW, ... |
`relative` |

[2021-01-07 16:14] neil-ices-dk commented on #42
I assume Carlos means a landing page (for the portal) [https://www.ices.dk/data/data-portals/Pages/default.aspx](https://www.ices.dk/data/data-portals/Pages/default.aspx)?

[2021-01-07 16:14] peterdesmet commented on #16
This is now updated: https://ices-tools-dev.github.io/esas/tables/#platform_type

@ices-tools-dev/data-and-information let us know if providing these values (`aeroplane`, `ship`, `helicopter`) will work.

[2021-01-07 16:17] neil-ices-dk commented on #17
we've actually done a similar exercise for our trawl survey datasets (@Osanna123) will remember this fondly; in that case we primarily looked at the date ranges of the data that related to the vessel name to map it to probable instance(s) of the vessel in the platform codes.

[2021-01-07 16:21] peterdesmet commented on #22
See https://ices-tools-dev.github.io/esas/tables/#platform_side, I have:

- Updated the field name to `platform_side`
- Moved the field up, so it appears directly after `platform_type` and `platform_code`
- Used space in the labels: `right back`, `both sides`

[2021-01-07 16:46] peterdesmet commented on #31
If nobody knows, can't we simplify this to a boolean field `in_transect`:

- TRUE = `2` Inside transect
- FALSE =  `1` Out of transect  and `3` Out of transect and of 90 deg scan

[2021-01-07 19:44] nicolasvanermen commented on #31
This was Mark Lewis' opinion on this: "don’t know – BUT, there was talk of
allowing observers to record things that were practically on the transect
line – but marginally on the wrong side of it. Something to do with the
beleif that observers like to reward themselves by making observations.
This code would allow them to record these birds (thus, reward) but allow
the data to be filtered out later

[2021-01-08 09:42] nicolasvanermen commented on #23
This one of those newly introduced columns, which I am not familiar with.
Of course this was flagged before, here is Nele's comment on this:

"

It is a strange set of codes indeed.

We only use A (mostly during ship-based surveys) and R (mostly during
aerial surveys).

I think P and Z refer to the way that the information is recorded on the
data collection form so not relevant for the database.

[2021-01-08 10:02] neil-ices-dk commented on #42
can we agree the vanity domain:
[https://esas.ices.dk](https://esas.ices.dk)
OR
[https://seabirds-at-sea.ices.dk](https://seabirds-at-sea.ices.dk)

[2021-01-08 10:29] peterdesmet commented on #42
I would opt for `esas.ices.dk` but I'll let @nicolasvanermen weigh in as well.

[2021-01-08 10:33] nicolasvanermen commented on #42
Perfect!

On Fri, Jan 8, 2021 at 11:29 AM Peter Desmet <notifications@github.com>
wrote:

[2021-01-08 10:57] peterdesmet commented on #23
- Yes, and label them as `absolute` and `relative`
- If not populated, it is unknown (with or without associated values)
- This setup would allow us to make `direction_of_travel` field a simple 0-360 field, with the information if it should be interpreted as relative or absolute in this field. Let's discuss that at #36.

[2021-01-08 11:06] peterdesmet commented on #36
To make this less confusing on a database level can we decide to:

- [ ] Only record whether this is absolute or relative directions in the `direction_of_travel_type` field?
- [ ] Only allow `0` to `360` values?
- [ ] Converting `N` to `0`, `NE` to `45`
- [ ] Replace `U` by empty, but convince data providers to populate `distance` instead if they don't?

[2021-01-08 11:12] peterdesmet commented on #23
@nicolasvanermen see my update at 2696303

[2021-01-08 15:09] peterdesmet commented on #31
Yes, absolutely. Can we rename to `in_transect` then (name suggestions welcome), with boolean values?

[2021-01-08 15:16] peterdesmet commented on #26
@nicolasvanermen please see my change at https://github.com/ices-tools-dev/esas/commit/146d9ea71c2600e3a0dfc7605c570622d3c06981

[2021-01-11 16:55] nicolasvanermen commented on #31
Boulean is OK. There is no need to change the field name though.

On Fri, Jan 8, 2021 at 4:10 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-11 17:14] nicolasvanermen commented on #36
I am not a fan - code U becomes the odd only letter code, only because
you're dropping the (inter)cardinal codes N, NE, ..., U, which are widely
used in the ESAS v6 (though they were coded as integers 0-10, with 0 for no
data, 1 for no apparent direction, 2 for N and so on, that was confusing!).

On Fri, Jan 8, 2021 at 12:07 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-12 08:25] peterdesmet commented on #36
Ok, agree to leave the codes as is. Final question:

1. Do we assume the N, NW, E values to always be absolute?
2. Do we assume the 0, 10, 20 values to always be relative?

If so, there is no need for a `direction_of_travel_type` field in trips.

[2021-01-12 08:28] peterdesmet commented on #31
Great! Updated in 200946c, with `TRUE` meaning **in** transect.

[2021-01-13 10:21] cmspinto commented on #41
We are not using a tool. It is programmed in C#, so the program reads the dateset/query and outputs it in a text file.

[2021-01-13 10:25] peterdesmet commented on #41
Then tab as delimiter is probably your safest choice, as these are generally harder to write into input fields than `,` or `;`.

[2021-01-13 13:06] nicolasvanermen commented on #36
That's more or less the way it has been recorded up until now. I would
leave all options open however. N, NE, ... NW are clearly absolute,
direction in degrees can in theory be both, so it would be best to keep the
direction_of_travel_type.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Tue, Jan 12, 2021 at

[2021-01-13 13:42] peterdesmet commented on #36
Could you check if that is the case in the data you currently have? I'd very much prefer to contain all the necessary info in just this field.

[2021-01-13 13:52] nicolasvanermen commented on #36
OK Peter, but note that we already dropped 4 (yet unused) codes without
consulting the parties that originally included these codes, which is fine
because they can be added to the controlled vocabulary if wanted. Which
will not be possible once the field is dropped fully. This should all have
been discussed earlier...

On Wed, Jan 13, 2021 at 2:43 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-20 10:47] Osanna123 commented on #14
We'd need to discuss this point tomorrow.
a bit of additional information:
We have a reference list SFLAG (https://vocab.ices.dk/?ref=46), where we have codes SPxx that a submitter can use to identify number of species in the observed group. The list could complement the WoRMS references.
We can adopt reporting of multiple codes in a field with use of tilda (~)

[2021-01-20 11:02] Osanna123 commented on #4
Flag at a trip level is ok.
As a standard approach, we have a standard reference list Data_access (https://vocab.ices.dk/?ref=1435) with options public/restricted.

[2021-01-20 11:18] peterdesmet commented on #4
Ok, then I suggest to rename the term to `data_access` and have the values `public` and `restricted`

[2021-01-20 11:19] Osanna123 commented on #30
as a recognized standard, i would suggest a SeaDataNet quality flagging: https://vocab.ices.dk/?ref=342

[2021-01-20 11:21] Osanna123 commented on #25
New vocab

[2021-01-20 11:23] peterdesmet commented on #25
Hi @Osanna123, by "New vocab" I assume here is not existing one to reuse and no further action is required on ESAS part?

[2021-01-20 11:25] peterdesmet commented on #30
Hi @Osanna123 the term name might be a bit of a misnomer. It describes the general observation conditions in the field (e.g. visibility), not necessarily the quality of the data which is what https://vocab.ices.dk/?ref=342 describes.

@nicolasvanermen how is this field used in analysis?

[2021-01-20 11:37] nicolasvanermen commented on #30
This is a newly induced field, favoured at least by FTZ and Bureau
Waardenburg. Depending on the objectives, it can be used to select high
quality data prior to further analysis. It can also be used as a covariate
in distance analysis, so the detection function may change accordingly.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000

[2021-01-20 11:50] peterdesmet commented on #30
So it is an indication of data quality?

[2021-01-20 11:57] nicolasvanermen commented on #30
Primarily it is a subjective assessment of the observation conditions, but
clearly, in turn this relates to data quality as well.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 20, 2021 at 12:50 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-20 12:40] Osanna123 commented on #24
Need for a new vocab at ices.
Few more questions regarding the observer-role:
1. in the Trip table, it looks like fields from base_side to observer role can be reported multiple times for the same tripkey. is it correct? If yes, they might need to go a level lower to 'position' or get a separate record.
2. are these 3 roles duplicating(triplicating) each other (like recording same colonies, from t

[2021-01-20 12:48] peterdesmet commented on #24
With us potentially dropping the observer fields, I wonder if the usefulness of this field is under discussion. We need to figure that out first. 😄

[2021-01-20 13:00] Osanna123 commented on #23
Need new vocab.
Description of direction_of_travel_type needs adjusting as it refers to the direction of animals related to platforms, not to the direction of ships and birds.
i wonder if the animal directions are ever going to be used in any future data products.

[2021-01-20 13:02] Osanna123 commented on #21
need new vocab

[2021-01-20 13:06] Osanna123 commented on #22
need new vocab
Note for this and other reference lists, codes don't matter much, we can make human-readable descriptions instead of codes in the data input template and the data output, if wanted

[2021-01-20 13:07] Osanna123 commented on #19
need new vocab

[2021-01-20 13:08] Osanna123 commented on #20
need new vocab

[2021-01-20 13:14] Osanna123 commented on #16
I had the same comment for the aeroplane (digital survey) that it merges platform type and observation method, good you covered it in the discussion above.
Providing codes is more preferable, but we can map descriptions to the codes in the DB @cmspinto please confirm.

[2021-01-20 13:33] Osanna123 commented on #17
'UNKNOWN' platforms can be mapped to the AAxx codes or the ZZ99 in the SHIPC list.

This would have to be a separate exercise, any additional info would be useful, at least years with data
Please note that codes mapped by name should be also verified as many platforms can bear same name.

[2021-01-20 14:05] Osanna123 commented on #18
This would have to be reviewed more carefully. At ICES, we have related vocabs BD_CountMethod https://vocab.ices.dk/?ref=1440 and SMTYP https://vocab.ices.dk/?ref=152 that could be used to adopt this reference list

Code 13 would better fit into species_counted

[2021-01-20 14:08] Osanna123 commented on #15
agree

[2021-01-20 14:14] Osanna123 commented on #29
need new vocab
Personally, i have doubts about usefulness of this field and the 'glare' in any future assessments/estimates.
It seems like 'visibility' alone would have been more useful

[2021-01-20 14:16] Osanna123 commented on #27
need new vocab

will it ever be useful?

[2021-01-20 14:18] Osanna123 commented on #28
need new vocab

[2021-01-20 14:21] Osanna123 commented on #26
need new vocab

[2021-01-20 14:25] Osanna123 commented on #9
I'd suggest adding a field 'country' to the table 'Trips' and 'tripkey' to the table 'Observations'

[2021-01-20 14:43] Osanna123 commented on #33
This looks like a combination of 2 concepts - maturity and age, the latter is usually expressed as integers at ICES

[2021-01-20 14:47] Osanna123 commented on #34
Need new vocab

Plumage types:
•	B Breeding (summer) plumage
•	T Transient plumage (moulting between winter & summer plumage or vice-versa)
•	W Non-breeding (winter) plumage
•	L Light morph (skuas/double light ‘LL’ fulmars)
•	C Coloured morph (‘L’, ‘D’ & ‘DD’ fulmars)
•	I Intermediate morph (skuas)
•	D Dark morph (skuas)
•	P Pullus
For immature auks (Guillemot & Razorbill):
•	A1 ½ or less than adu

[2021-01-20 14:50] Osanna123 commented on #40
need a new vocab

[2021-01-20 14:51] Osanna123 commented on #39
need new vocab

[2021-01-20 14:53] Osanna123 commented on #38
need new vocab and a bit more info on these references

[2021-01-20 15:01] cmspinto commented on #16
This is the only thing I found similar: https://vocab.ices.dk/?ref=14

[2021-01-20 15:05] cmspinto commented on #21
Hi @peterdesmet, would it be a good idea to keep the issues open if they need a new vocab?

We have a github to approve vocabularies, maybe we can link our approval wiht the original ticket here, does this make sense @neil-ices-dk and @Osanna123 ?

[2021-01-20 15:30] peterdesmet commented on #25
Ok, you can re-open any of the issues where that is necessary.

[2021-01-20 15:41] peterdesmet commented on #23
`direction_of_travel_type` does related to the direction of the animals (only) indeed. This is intentional.

[2021-01-20 15:48] peterdesmet commented on #31
I think this can be closed.

[2021-01-20 15:48] #31 closed

[2021-01-20 15:51] peterdesmet commented on #34
I updated the issue body so it links to the current vocab.

[2021-01-20 22:15] Osanna123 commented on #37
need new vocab.
We have a similar concept Stomach_Item in the pipeline for Stomach DB

[2021-01-20 22:33] Osanna123 commented on #35
so far suggesting SEXCO https://vocab.ices.dk/?ref=45

[2021-01-21 09:09] peterdesmet commented on #35
Closing this issue, since the ESAS values map the SEXCO https://vocab.ices.dk/?ref=45 already and no action is required.

[2021-01-21 14:46] peterdesmet commented on #18
Will be added as new ICES vocabulary, ESAS prefers to keep using integer codes.

[2021-01-21 14:48] peterdesmet commented on #16
These are the updated human readable values ESAS will use:

https://github.com/ices-tools-dev/esas/blob/77b9faf016e03c650c0e80ade37f6162470d0f9e/_data/table-schemas/trips.yaml#L102-L116

[2021-01-21 14:49] peterdesmet commented on #22
Updated values ESAS will use:

https://github.com/ices-tools-dev/esas/blob/77b9faf016e03c650c0e80ade37f6162470d0f9e/_data/table-schemas/trips.yaml#L164-L173

[2021-01-21 14:52] peterdesmet opened #43 "Add trip:data_provider_country field"
Add an field to indicate the (sub) country of the data provider, for credit purposes. Country information has always been included in ESAS data, but as part of the trip key.

@Osanna123 what ISO codes can be used? https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes. Level 1 and/or 2. 2 or 3 letter?

[2021-01-21 14:53] peterdesmet opened #44 "Add trip identifier to observations"
To allow internal linking when submitting files, the trip identifiers should also be added to observation records.

[2021-01-21 14:54] peterdesmet commented on #9
Thanks, the two suggestions have been added as #43 and #44. Closing this issue.

[2021-01-21 14:54] #9 closed

[2021-01-21 14:57] peterdesmet commented on #13
Closing this issue, as we need to do quite a lot of testing beforehand. The idea is to:

- Submit the data either via UI or API, so it passes QA
- Split the data into files by data provider and year, so it is easier to track the progress

[2021-01-21 14:57] #13 closed

[2021-01-22 11:40] nicolasvanermen commented on #44
👍

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Jan 21, 2021 at 3:53 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-22 11:53] nicolasvanermen commented on #24
Even when dropping the observer field, this field would still be needed to
indicate whether a data stream is primary or secondary in case of double
observer platform counts.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jan 20, 2021 at 1:49 PM Peter Desmet <notifications@github.com>
wrote:

[2021-01-22 12:00] nicolasvanermen commented on #18
Code 13 is a strange one indeed, and has been used during 11 trips in the
current ESAS v6.0. As suggested by Anna this should be moved to
'species_counted', leaving the 'count_method' field empty until it can be
specified further (by those who have collected these data or alternatively
by looking into the observation table itself and try to figure out what
method was used...).

Nicolas Vanermen
*W

[2021-02-12 14:07] peterdesmet opened #45 "ICES Data policy: restriction to redistribute and adoption of Creative Commons license"
In the ICES data policy:

As noted in one of the earliest meetings:

At the meeting it was said that that aspect (mainly the adaption of Creative Commons licenses) of the ICES data policy is under review. Is there any more news on this?

[2021-03-04 13:56] peterdesmet commented on #36
After conversation with @nicolasvanermen: opted for N, NE, ... as absolute and 0, 10, 20 as relative directions. We therefore no longer need `direction_of_travel_type`. See 5e1decc.

[2021-03-04 13:58] peterdesmet commented on #23
After conversation with @nicolasvanermen: opted for N, NE, ... as absolute and 0, 10, 20 as relative directions. We therefore no longer need `direction_of_travel_type`. See 5e1decc.

[2021-03-04 13:58] peterdesmet commented on #23
Closing this issue as it should not be added to ICES data model either.

[2021-03-04 14:05] peterdesmet commented on #6
Discussed this with @nicolasvanermen and @ericstienen. Decided to drop observer information (name or code) as this information is not used for analyses: especially across datasets. And there are much better fields to use to filter data for analyses. Including observer codes would mean we have to maintain a reference list, including names would complicate making data public (GDPR). So we opted to e

[2021-03-04 14:05] #6 closed

[2021-03-04 14:08] peterdesmet commented on #7
Discussed with @nicolasvanermen and @ericstienen and decided to drop this field. It is only useful for the data provider that submitted the data, not for the ESAS database as a whole. It is also empty in the current database.

Closing this issue, since the field should not be added to the model.

[2021-03-04 14:08] #7 closed

[2021-03-04 14:11] peterdesmet commented on #24
Discussed with @ericstienen and @nicolasvanermen and decided to drop this field. When there are concurrent data streams, there are better fields like `platform_side` to decided what is useful for analysis.

Done in bd6ffe4. Closing issue, as the field should not be added to the model.

[2021-03-04 14:11] #24 closed

[2021-03-04 14:22] peterdesmet commented on #27
Glare has been updated in 8f19338 to use the human readable values:

[code]

[2021-03-04 14:24] peterdesmet commented on #27
@nicolasvanermen do we need glare AND visibility?

[2021-03-04 14:26] peterdesmet commented on #29
Update in db80fc2 to use human-readable values.

[2021-03-04 14:54] nicolasvanermen commented on #27
Yes please!

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Mar 4, 2021 at 3:25 PM Peter Desmet <notifications@github.com>
wrote:

[2021-03-04 17:02] peterdesmet commented on #17
Discussed this with @nicolasvanermen and @ericstienen. Decided to make this a purely informal field named `platform_name` with the name of the ship or aviation call sign (see c6c2e0f). It will not be mapped to `ShipC`, because:

- This field is purely informal, not used in analysis (unlike `platform_type`). The reason we leave it in is to provide some context for those who want to use the data, no

[2021-03-04 18:11] peterdesmet opened #46 "Add vernacular_name or scientific_name"
To retain the original identification, add a string value of the species, either as a `vernacular_name` or `scientific_name` field.

[2021-03-04 18:14] peterdesmet commented on #14
@Osanna123 question regarding the use of `~` (see also 2645b2e). Does that mean `40~50`:

1. I saw both Gavia immer and Gavia adamsii
2. I saw a bird that is either Gavia immer or Gavia adamsii

[2021-03-04 18:22] nicolasvanermen commented on #46
Since there is no vernacular name in ESAS v6.0, do we leave this empty in
historical data??

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Mar 4, 2021 at 7:12 PM Peter Desmet <notifications@github.com>
wrote:

[2021-03-04 18:24] peterdesmet commented on #46
No, we should include it (by mapping it to the species list). Otherwise we will lose any reference.

[2021-03-05 16:42] peterdesmet opened #47 "Rename number to count"
@nicolasvanermen, I would like to rename `number` to `count` for individuals counted. I have encountered the term `count` or `individualCount` (e.g. in [Darwin Core](http://rs.tdwg.org/dwc/terms/individualCount)) much more for this attribute and I think it would be good to align it. Would that be ok?

[2021-03-05 17:15] peterdesmet commented on #46
Hmm, in most cases it would probably be better to have the originally recorded `scientific_name` as a reference. But if we name the field `scientific_name` then values such as the following are a bit odd for that field:

[code]

Would it be better if we call it `species_name`, with it's equivalent `species_code`?

[2021-03-05 17:21] peterdesmet commented on #43
I don't fully understand why `data_provider` and `data_provider_country` need to be submitted. Since `data_provider`s are linked to EDMO, can't country information be stored there? https://vocab.ices.dk/?CodeID=144872 That would avoid conflicts such as:

[code]

Both record are from INBO, but one says INBO is from BE while the other says INBO is from NL.

[2021-03-08 12:40] peterdesmet commented on #4
Note, the field is now called `public_data` as a boolean:

https://github.com/ices-tools-dev/esas/blob/67c038cf02d6884aac6bd8cb9554b740c79159c9/_data/table-schemas/trips.yaml#L79-L86

[2021-03-08 13:32] #44 closed

[2021-03-08 15:46] peterdesmet opened #48 "Data policy references broken link"
Under 4d, the [ICES data policy](https://www.ices.dk/data/Documents/ICES-Data-policy.pdf) references https://www.ices.dk/datacentre/Submissions/ but that results in a 404.

[2021-03-08 16:25] peterdesmet commented on #45
This has been discussed during the March 1 meeting. The email to ESAS data providers will state:

Closing issue.

[2021-03-08 16:25] #45 closed

[2021-03-09 10:42] nicolasvanermen commented on #46
OK

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Fri, Mar 5, 2021 at 6:15 PM Peter Desmet <notifications@github.com>
wrote:

[2021-03-09 11:03] nicolasvanermen commented on #47
OK

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Fri, Mar 5, 2021 at 5:42 PM Peter Desmet <notifications@github.com>
wrote:

[2021-03-09 13:27] peterdesmet commented on #32
Decided to make this field not required. Unknown values will be left empty. Update description.

[2021-03-09 13:30] peterdesmet commented on #30
Rename to `observation_conditions`

[2021-03-09 13:32] peterdesmet commented on #18
Move `13 Only cetaceans and rare birds` to `species_counted` as `18` and leave other values as is (integers).

[2021-03-09 15:25] #47 closed

[2021-03-09 15:27] peterdesmet commented on #33
Discussed this with @nicolasvanermen and would like to keep this as is. Splitting the field would complicate things.

[2021-03-09 15:30] peterdesmet commented on #30
Updated in c4ab027440915fd2bcaaca82ba449006d921fcbd:

https://github.com/ices-tools-dev/esas/blob/c4ab027440915fd2bcaaca82ba449006d921fcbd/_data/table-schemas/positions.yaml#L240-L253

[2021-03-09 15:47] peterdesmet commented on #32
Now updated and ready to be a controlled vocab.

[2021-03-09 16:08] peterdesmet commented on #46
Done in c4ab027.

[2021-03-11 19:40] peterdesmet commented on #48
Another broken link: http://ices.dk/marine-data/maps/Pages/default.aspx).

[2021-03-25 10:24] peterdesmet opened #49 "Review trips: do we need "route""

[2021-03-25 10:28] peterdesmet opened #50 "Review trips/positions/observations: "notes""
At what level (if any) do we need `notes`?

[2021-03-25 10:52] peterdesmet opened #51 "Use UpperCamelCase field names"

[2021-03-25 14:33] peterdesmet opened #52 "Do we need TripKey in Observations"
The relation between the tables is:

Meaning that observations have a `PosKey` and positions have a `TripKey`. @Osanna123 you mentioned that it is also necessary to add `TripKey` to observations (which I have done), but can you explain why this is necessary, as it can lead to inconsistencies:

[code]

[2021-03-25 14:34] peterdesmet commented on #51
This is now done in a6c93c1, see https://ices-tools-dev.github.io/esas/tables/

[2021-03-25 14:34] #51 closed

[2021-03-26 11:52] nicolasvanermen commented on #49
In my opinion we don't need this at the level of an ICES ESAS database, a bit the same as transect_id (closed issue #7)

[2021-03-26 12:08] nicolasvanermen commented on #50
We at INBO mainly use it at observation level, to be able to give some more details on specific observations. I think it is useful. For example, when a shag is seen on a turbine foundation, we can give details on the turbine number, which is difficult to deduct from the observation position alone. Personally, I would keep it there.

On the other hand, regarding data analyses, it will most probably

[2021-03-26 14:18] peterdesmet commented on #49
Then I would suggest to remove this field.

[2021-03-31 07:57] Osanna123 commented on #43
We use 3 excerpt lists from ISO-3166, including 2-alpha codes, country sub-divisions, and deleted/former country references.
The reference list: https://vocab.ices.dk/?ref=337
In theory, it is possible to pick the country reference from the EDMO code, but there are a few points against it:

- normally the field is easy to report, and it is often used in data filters (in the download interface and

[2021-03-31 11:16] Osanna123 commented on #17
The field is not mandatory, but if the field is to be 'informal', it's better to move it to notes.
If the platforms are to remain as the field in the format, they should be linked to the controlled vocabulary SHIPC.
Considering that platform mapping (and creating missing platforms) is time-consuming, old data could be mapped to the AA-codes in the SHIPC, with the more specific information like nam

[2021-03-31 11:18] Osanna123 commented on #17
List of AA-codes:
SHIPC code	Description
AA00	UNSPECIFIED PLATFORM
AA11	UNSPECIFIED Fixed benthic node
AA12	UNSPECIFIED Sea bed vehicle
AA13	UNSPECIFIED BEACH/INTERTIDAL ZONE STRUCTURE
AA14	UNSPECIFIED LAND/ONSHORE STRUCTURE
AA15	UNSPECIFIED LAND/ONSHORE VEHICLE
AA16	UNSPECIFIED OFFSHORE STRUCTURE
AA17	UNSPECIFIED COASTAL STRUCTURE
AA18	UNSPECIFIED River station
AA20	UNSPECIFIED Submersible
AA21	U

[2021-03-31 11:33] Osanna123 commented on #52
TripKey on the Observations level would not be used in the database , but could be used for verification in the submissions.
@Osanna123 and @cmspinto to discuss internally and agree if tripkey is needed in Observations before the next ESAS meeting.

[2021-03-31 11:40] Osanna123 commented on #49
Current description for the 'Route' is 'Short description of the area covered or route followed.'
Can this field be limited to a reference list?
Is there a reason to have it as a separate optional, free-text field, rather than suggesting to include this information in the Notes?

[2021-03-31 11:49] Osanna123 commented on #18
All vocab suggestions would have to pass through the ICES Reference Management Group, which is focusing on reusing the existing concepts.

[2021-04-06 05:33] Osanna123 opened #53 "Review position: KmTravelled"
Suggested to rename the field to DistanceTravelled, as it is better to avoid units in the field names

[2021-04-06 05:41] Osanna123 commented on #46
Is it worth mentioning in the description that the field is checked against the lookup table?

[2021-04-06 05:45] Osanna123 opened #54 "Question Trip: DistanceBins"
To better understand the format, I would really like to have this part explained a bit: observation based on the sampling bins, and two related fields in the format: Trip:DistanceBins and Observation:Distance.

[2021-04-06 05:47] Osanna123 commented on #33
ICES Reference Management Group would have problems with keeping it as is.

[2021-04-06 05:53] Osanna123 commented on #34
Brief description or reference to a publication for what f.ex. "‘L’, ‘D’ & ‘DD’ fulmars" or "Plumage 1-5" in Northern gannets means would be beneficial.
As i understand, LL and DD are not valid codes, right?

[2021-04-06 05:56] Osanna123 opened #55 "Question Observation: Group"
To better understand the format, i need a bit more information on the field Group in observations. How is it intended to be used? Which values are expected? Is it a vocab material? Is it placed well in the format?

[2021-04-06 07:00] nicolasvanermen commented on #53
Fine by me!

[2021-04-06 07:16] nicolasvanermen commented on #54
I will try to explain this with an example.
E.g. during German aerial surveys, observations are aggregated in distance bands of 0-44, 44-91, 91-163 & 163-432, 1000m. In the DistanceBins column in the Trip table, this is noted as 44|91|163|432|1000, which is important input information in any distance anysis. The distance entered in the Observation:Distance column should then equal the middle point

[2021-04-06 07:20] nicolasvanermen commented on #33
Could you elaborate on that? Personally I have my doubts with the moult information in this column, but the age information is highly relevant and in my opinion very transparent coding.

[2021-04-06 07:34] nicolasvanermen commented on #34
All these mainly refer to traditional ways of coding, only described by means of drawings actually. The gannet codes were kept on explicit demand of the ESAS community. Despite this, future data submissions should ideally only use age coding for gannets, and distinguish between light and coloured morphs for fulmars.

[2021-04-06 07:37] nicolasvanermen commented on #55
This field allows to aggregate multiple observations into one group. This is tradtionally done by means of an incrementing integer per trip. The first group within each trip is coded 1, the second group as 2, and so on.

[2021-04-13 09:22] #53 closed

[2021-04-13 09:25] peterdesmet commented on #46
As I understood it, the `SpeciesCode` will be checked against a reference table, the `SpeciesName` would not. It serves as a verbatim reference to how the species were recorded in the local system.

[2021-04-13 09:29] #49 closed

[2021-04-13 09:30] peterdesmet commented on #49
Field removed, description of `notes` expanded to:

https://github.com/ices-tools-dev/esas/blob/1191578770fe2a152068bf5d41f267efb94d7681/_data/table-schemas/trips.yaml#L305-L308

[2021-04-13 10:04] nicolasvanermen commented on #46
How would you fill this in for historical data? I suggest to leave it empty as the holabird table (species reference table) evolved through time, with in the end different versions circulating .

[2021-04-23 08:53] Osanna123 commented on #11
[ESAS-ICES format draft.xlsx](https://github.com/ices-tools-dev/esas/files/6364041/ESAS-ICES.format.draft.xlsx)

[2021-04-23 08:54] Osanna123 commented on #52
removed

[2021-04-23 08:54] #52 closed

[2021-04-23 09:59] peterdesmet opened #56 "Create moult column"
Move AgeClass information concerning mount in this field

[2021-04-23 10:29] peterdesmet commented on #11
@Osanna123 I wasn't able to download the latest file from the Team chat. Can you drop it here again?

[2021-04-24 21:09] Osanna123 commented on #11
latest version [ESAS-ICES_format_draft_v1.xlsx](https://github.com/ices-tools-dev/esas/files/6370657/ESAS-ICES_format_draft_v1.xlsx)

also shared in Office.com for joint editing/commenting

[2021-04-26 14:20] peterdesmet opened #57 "Avoid word "survey"?"
@nicolasvanermen should I avoid the word `survey` and rather use `sampling` in the field descriptions?

Examples:

[2021-04-26 14:24] peterdesmet opened #58 "Avoid word "observation bin"?"
@nicolasvanermen can you clarify "observation bin"? Do we need to include this term and if so, how do I include it in the position description?

[2021-04-27 10:04] nicolasvanermen commented on #58
The observation bin is the trajectory sailed between time A & B, between point X & Y. It is (generally) defined by the coordinate of the middle point between point X & Y. All observations done on this trajectory are linked to this position, and was therefore named 'an observation bin'. No inspiration for suitable alternatives though.

[2021-04-27 10:13] nicolasvanermen commented on #57
The word can simply be dropped (does not need to be replaced) in case of the SamplingMethod and Ice fields, but I would leave it in in the UseOfBinoculars & Distance fields.

[2021-04-27 12:50] peterdesmet commented on #17
I have now reviewed the whole [mapping list](https://docs.google.com/spreadsheets/d/13938ixrfZPtNuINr-F-A2t8rOKKvbWmwJS_KJDmwuM8/edit?usp=sharing). To be discussed what is the best approach to move forward.

[2021-04-29 10:56] peterdesmet opened #59 "One or two species_code fields?"
After discussion with @nicolasvanermen, we think data providers should be able to upload observations using `euring_code` and/or `aphia_id`. This will allow uploading of historical data (`euring_code`), mixed data (species a or b, only possible with `euring_code`), and species not covered by Euring (`aphia_id`). However, should this be done as:

## 2 fields

obs | scientific_name | euring_code | a

[2021-04-29 14:53] peterdesmet commented on #58
I have rephrased the position table definition to:

Additional question: is the time then the starttime of the trajectory?

[2021-04-29 14:57] #57 closed

[2021-05-03 13:50] peterdesmet commented on #14
https://github.com/ices-tools-dev/esas/issues/14#issuecomment-790822344 is now answered. Tildes mean **and** and can thus not be used in the species list (where the intended meaning is **or**). Updated in fe7d4c0

[2021-05-03 14:57] peterdesmet commented on #59
As suggested by @Osanna123 is now a `SpeciesCodeType` (e.g. EURING) and `SpeciesCode`.

[2021-05-03 14:57] #59 closed

[2021-05-03 14:58] peterdesmet commented on #56
Is now implemented: https://ices-tools-dev.github.io/esas/tables/#moult

[2021-05-03 15:00] peterdesmet commented on #55
Is now defined at https://ices-tools-dev.github.io/esas/tables/#group

[2021-05-03 15:00] #55 closed

[2021-05-03 15:01] peterdesmet commented on #54
@Osanna123 can we close this question? https://ices-tools-dev.github.io/esas/tables/#distancebins

[2021-05-03 15:03] peterdesmet commented on #50
This field is now added to `Campaign` (campaign info), `Sample` (e.g. to not lose old ship names) and `Observation`. Not for `Position`, since not necessary. That should be sufficient for data providers to use the ESAS database for their own purposes.

[2021-05-03 15:03] #50 closed

[2021-05-03 15:05] peterdesmet commented on #46
Since the newly added field `SpeciesCodeType` https://ices-tools-dev.github.io/esas/tables/#speciescodetype can potentially allow `Non-taxonomic based ID` there is no need for a full written vernacular/scientific name.

[2021-05-03 15:05] #46 closed

[2021-05-03 15:07] peterdesmet commented on #43
Decided to add this field https://ices-tools-dev.github.io/esas/tables/#country

Since there currently is no use case for providers to set this field, it can be autofilled based on the EDMO codes. Since multiple EDMO codes are possible, multiple country codes are possible as well.

[2021-05-03 15:08] peterdesmet commented on #11
Format approved at May 3, 2021 meeting. https://ices-tools-dev.github.io/esas/tables/ has been updated to reflect the adopted model.

[2021-05-04 09:46] nicolasvanermen commented on #58
Perfect! Yes time is expected to be the start time of the trajectory...

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Apr 29, 2021 at 4:53 PM Peter Desmet ***@***.***>
wrote:

[2021-05-04 10:15] peterdesmet commented on #58
Ok, I have updated the definition for `time` from:

To:

[2021-05-04 10:15] #58 closed

[2021-05-04 10:20] nicolasvanermen commented on #58
Suggestion:
UTC time of the observation bin, defined as the start time of the
trajectory.  Format: hh:mm:ss

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Tue, May 4, 2021 at 12:15 PM Peter Desmet ***@***.***>
wrote:

[2021-05-04 10:22] peterdesmet commented on #58
Ok, can do. Just wanted to avoid the word observation bin.

[2021-05-04 10:24] nicolasvanermen commented on #58
This is nonetheless used several times in the positions table?

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Tue, May 4, 2021 at 12:22 PM Peter Desmet ***@***.***>
wrote:

[2021-05-04 10:38] peterdesmet commented on #58
You're right. Updated: https://github.com/ices-tools-dev/esas/commit/65f9c9474ae4784261e5cb36a65f4392154074a4

[2021-05-17 10:35] nicolasvanermen commented on #17
OK, thanks! But I don't really get how the 'no filter' row and columns have
less ships compared to their filtered analogues.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Tue, May 11, 2021 at 1:49 PM Peter Desmet ***@***.***>
wrote:

[2021-05-17 18:31] peterdesmet commented on #17
"No filter" is maybe a confusing term, but read `>=2000` and `no filter` as 95 trips after 2000, while `>=2000` and `>=20 trip` should be interpreted as 145 ship codes after 2000 or with more than 20 trips. Anyway, the important point to decide is how many SHIPC codes are reasonable to add.

[2021-06-24 08:45] peterdesmet opened #60 "Check which species codes should be added to WoRMS, EURING and NT"
NT = non-taxonomical units, see https://vocab.ices.dk/?CodeID=79748

[2021-06-25 18:59] Osanna123 commented on #15
Missing EDMO codes are added to the google doc

[2021-06-26 10:34] peterdesmet commented on #15
Thanks @Osanna123. With that, all known ESAS organizations now have EDMO codes (8ca0967). Closing issue.

[2021-06-26 10:34] #15 closed

[2021-07-14 12:46] Osanna123 commented on #38
comments from RMG:
only one Unknown will be accepted
code 200 needs translation
What does the MSFA stand for?
codes 57, 58 need explanation

[2021-07-14 12:46] Osanna123 commented on #39
Question from RMG:
Can Activity be integrated with Behaviour?

[2021-07-14 12:47] Osanna123 commented on #40
Comments from RMG:
we can not keep 'Unknown' with many codes
we need info on the codes 121-123
additional description is needed, including relevance to species groups

[2021-07-15 10:58] nicolasvanermen commented on #38
- only one Unknown will be accepted: OK, we will transform all unknown
   codes to missing values, so a code for Unknown will no longer be necessary
   - code 200 needs translation: Flying between (turbine) foundations
   - What does the MSFA stand for? Multi-Species Feeding Association
   - codes 57, 58 need explanation Reviewed in Camphuysen & Webb 1999

Nicolas Vanermen
*Wetenschappelijk medewe

[2021-07-15 11:03] nicolasvanermen commented on #39
Behaviour codes are mostly used during ship-based surveys, Activity codes
during aerial monitoring. But, some aerial surveyors will use both columns!
By integrating both columns, information will go lost.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Wed, Jul 14, 2021 at 2:47 PM Anna Osypchuk ***@***.***>

[2021-07-15 11:11] nicolasvanermen commented on #40
*We will transform all unknown codes to missing values, so a code for Unknown will no longer be necessary
*121: Milling / Non-directional behaviour
*122: Diving (marine mammals)
*123: Head out of water (seals)

[2021-07-15 11:51] peterdesmet commented on #40
The `unknown` codes have been removed and the definitions for 121-123 updated: e37aa7f

[2021-07-15 11:58] peterdesmet commented on #38
Removed unknown codes + added explanation in 3cc4e97.

[2021-07-16 09:58] nicolasvanermen commented on #38
OK, I left the codes in the database itself though, leaving the chance for them to be explained by the data providers.

[2021-07-16 09:58] nicolasvanermen commented on #40
OK, I left the codes in the database itself though, leaving the chance for them to be explained by the data providers.

[2021-07-16 09:59] nicolasvanermen commented on #40
FYI: there are still unknowns in the behaviour field.

[2021-07-16 11:29] peterdesmet commented on #40
Oh, you are right, I removed the unknown codes for prey (where I think that can be done too). I now removed them for behaviour in 7dbfca6.

[2021-08-10 14:08] Osanna123 commented on #19
Question: what does 'All species' mean?

[2021-08-11 07:05] nicolasvanermen commented on #19
This means that all species encountered are counted, opposed to the other
codes that all indicate a selection of species (not) being counted.

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Tue, Aug 10, 2021 at 4:08 PM Anna Osypchuk ***@***.***>
wrote:

[2021-08-24 17:12] peterdesmet commented on #42
We have written a 2 paragraph summary of the ESAS database, intended for the homepage. It is already used on the GitHub website for the data model: https://ices-tools-dev.github.io/esas/

[2021-08-25 06:28] neil-ices-dk commented on #42
@peterdesmet a good summary, perhaps worth denoting that the JNCC is a UK institution, other than that, looks good to go 👍

[2021-08-25 08:46] peterdesmet commented on #42
Adapted by adding `UK-based`.

[2021-08-25 12:01] Osanna123 commented on #39
@nicolasvanermen merging of the two reference lists does not necessarily mean change of the format.
However, it does seem unnecessary having two fields, use of which is defined by the observation type. I'd then suggest 1 field, with an option to report multiple codes instead.

[2021-08-25 14:48] peterdesmet commented on #60
After investigation, we find it a lot more straightforward if data providers can **upload data using a single ESAS code**, rather than split EURING/NT code concepts. The ESAS codes have been used for over 3 decades and will not change. For the submission of new taxa not on the list, data providers can use Aphia IDs from WoRMS, which is actively maintained.

We have completed the mapping exercise a

[2021-08-25 14:58] peterdesmet commented on #60
Todo after meeting on August 31

- [ ] Remove NT columns
- [ ] Remove (v6) remarks
- [ ] Update description above table?

[2021-08-31 11:52] nicolasvanermen commented on #39
Indeed the controlled vocabulary lists can in theory be merged. However, I
would definitely keep both fields in the data format. For almost 10.000
observations both fields are filled. Observation type mainly tries to
pinpoint the main focus of activity/behaviour scoring but does not exclude
the possibility to fill in both fields. Having said this, I think it is
also more logical to hold on to two

[2021-09-08 05:42] peterdesmet commented on #39
The latest status on the columns `behaviour` and `activity` is that they can be merged (already implemented in https://github.com/ices-tools-dev/esas/commit/231b09574447eac7b7a3998494cb70d184ca5e98), allowing multiple values if needed with `~`.

The column [behaviourRecording](https://ices-tools-dev.github.io/esas/tables/#behaviourrecording) can likely be removed, but I am waiting on confirmation

[2021-09-13 07:57] cmspinto opened #61 "Planing project development"
**_This is a draft_**
### Sept
- [x] Data Format
- [x] Data Vocabularies
- [x] Database
- [x] Landing Page

### Oct
- [ ] Metadata template and catalogue setup
- [x] User management (Portal)
- [x] Data submission
- [x] Data validation (starting, but will continue into 2022 as things develop)
- [x] Backup

### Nov
- [x] Dataset re-submission
- [x] Submissions overview
- [x] API (long term will deve

[2021-09-13 08:54] peterdesmet opened #62 "Map historical data to SHIPC"
1. Always write the shipname in sample `Notes`
2. Ships that could be mapped unambiguously (status: ok) will be submitted with a SHIPC in sample `Platform`
3. Assign 2463 (Tridens I) as: 1987-1990: `64T0` as `Platform` vs 1991-2012: `64T1` as `Platform`
3. All other ships will be mapped with `AA30` (Unknown vessel) as `Platform`

[2021-09-13 09:21] peterdesmet commented on #60
Decided to have people submit data with an ESAS code or Aphia ID. Documentation is updated as such.

[2021-09-13 09:25] peterdesmet opened #63 "Extra taxonomical columns in download"
Data downloads will include in addition to the originally submitted `SpeciesCodeType` and `SpeciesCode`:

- [x] `SpeciesScientificName`: Scientific name, if available (from ESAS)
- [x] `SpeciesEnglishName`: English name, if available (from ESAS)
- [x] `WormsAphiaID`: Accepted Aphia ID: link to latest accepted name for that taxon in WoRMS
- [x] `WormsScientificName`: Accepted Aphia scientificName:

[2021-09-13 09:34] peterdesmet commented on #61
Conclusions of Sep 13 meeting:

- People can submit species data with ESAS or Aphia ID. NT will not be used (#60)
- `ESAS` should be added to RLIST: https://vocab.ices.dk/?ref=44 @Osanna123
- [species.tsv](https://github.com/ices-tools-dev/esas/blob/main/_data/vocabularies/species.tsv) will be used for a database table. EURING mapping information will be retained in that table, even though it won'

[2021-09-13 09:54] nicolasvanermen commented on #62
For me the TRIDENS ships are far from unambiguous. As it has just been decided, two ESAS codes and descriptions are mapped to the same ship (64T2) in case of TRIDENS II & III, while 1 ESAS code will be mapped to two different ships (as for TRIDENS I). Personally, I would map all TRIDENS as unspecified ships...

[2021-09-20 09:58] nicolasvanermen commented on #61
I have an ESAS db version according to the agreed data model fully ready since last week, and subsets can easily be used as test files by the next meeting.

[2021-12-07 09:24] neil-ices-dk commented on #42
@peterdesmet would need a one line 'news teaser' text that sits where it says 'some text here'

![image](https://user-images.githubusercontent.com/23527005/145002172-f29147ee-5e76-4f47-b686-de9f7a8c6aa8.png)

https://www.ices.dk/data/data-portals/Pages/European-Seabirds-at-sea.aspx

[2021-12-07 10:08] peterdesmet commented on #42
@neil-ices-dk not sure what to announce, do we need a one line news item or can we just drop it.

In the Resource links, you can remove the link to `Github resources`. A link to the Data Model is sufficient.

[2021-12-07 11:58] neil-ices-dk commented on #42
thanks @peterdesmet it's really just a snappy one liner intro - the database in a sentence; see example here https://www.ices.dk/data/data-portals/Pages/underwater-noise.aspx (the text in light grey "Continuous and Impulsive noise measurements in support of regional sea assessments")

My suggestion would be to move the first sentence from the body text up into the teaser.

"The European Seabirds A

[2021-12-07 12:15] peterdesmet commented on #42
Ah, ok. I would make the first sentence:

@nicolasvanermen can then do a final review.

[2021-12-10 10:12] cmspinto commented on #42
Looks good, thanks

[2021-12-23 13:59] peterdesmet opened #64 "Reinstate custom domain and CNAME"
The documentation website is currently not working because https://esas-doc.ices.dk cannot be reached. I have [removed](https://github.com/ices-tools-dev/esas/commit/6227e2b5a359841f18b383a20cfb59bff09c7f68) the CNAME file that is causing this, so the site becomes accessible again at https://ices-tools-dev.github.io/esas/

Ideally the CNAME should be reinstated again, but this time:

- Pointing to

[2021-12-23 17:16] peterdesmet commented on #64
The [site](https://ices-tools-dev.github.io/esas/) is now available again at https://ices-tools-dev.github.io/esas/ (clear your browser cache if you have visited the site before).

[2022-01-14 10:24] cmspinto opened #65 "WebAPI"
WebAPI has available now the option to download the records.

[2022-01-14 10:32] cmspinto commented on #65
The following page lists the webservices available at the moment:

https://esas.ices.dk/webservices

For the campaign records we allow the users to download all them, all the other records not authenticated users will only have access to public records.

[2022-01-17 09:14] nicolasvanermen commented on #64
Dag Peter
Ik geraak er desondanks nog steeds niet op (voor de gelegenheid gans mijn
browse geschiedenis gewist). Wil vandaag de csv files goed zetten volgens
het meest recente datamodel, en dan is deze pagina heel handig...
Merci alvast!
Nicolas

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Thu, Dec 23, 20

[2022-01-17 11:56] peterdesmet commented on #64
That is because the CNAME file has been added again by @colinpmillar.

@colinpmillar can you resolve this issue as soon as possible? The site is not available at http://esas-docs.ices.dk/ and we can't see it at https://ices-tools-dev.github.io/esas/ because that one redirects because of the CNAME.

@nicolasvanermen I ran the site locally and made an export for you: [tables page.zip](https://github

[2022-01-17 12:31] #27 closed

[2022-01-17 12:32] #19 closed

[2022-01-17 12:32] #20 closed

[2022-01-17 12:32] #18 closed

[2022-01-17 12:32] #28 closed

[2022-01-17 12:32] #26 closed

[2022-01-17 12:32] #34 closed

[2022-01-17 12:33] #21 closed

[2022-01-17 12:33] #25 closed

[2022-01-17 12:33] #16 closed

[2022-01-17 12:33] #22 closed

[2022-01-17 12:34] #35 closed

[2022-01-18 09:23] nicolasvanermen commented on #64
Thank you for the follow-up Peter, this should indeed be solved as soon as
possible, we have distributed the original link in several
conferences, hoping for people to join in for future database updates!

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Mon, Jan 17, 2022 at 12:57 PM Peter Desmet ***@***.***>

[2022-01-24 09:18] nicolasvanermen commented on #64
Dag Peter
Heb je zo'n html ook van de species page? Ik word er stilaan kregelig van
dat die redirection nog niet in orde is gebracht, agendapuntje (of
strijdpuntje) voor subiet!
Nicolas

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Mon, Jan 17, 2022 at 12:57 PM Peter Desmet ***@***.***>
wrote:

[2022-01-24 10:29] peterdesmet opened #66 "Split campaigns in fileRecord and campaignRecord"
Discussed on Jan 24 meeting: A user can only upload data for **1 ResponsibleOrganisation** at a time, so an uploaded file is only associated with one organisation. Do make this clear, we will create a `file` recordType.

Don't allow multiple ResponsibleOrganisations (no `~`):

https://github.com/ices-tools-dev/esas/blob/899a7c1369e2b427f76ddf82659cc368dbe71006/_data/table-schemas/campaigns.yaml#L1

[2022-01-24 10:57] peterdesmet opened #67 "How file association with database should be displayed"
Discussed on Jan 24 meeting.

A logged in user will see an overview of all uploaded files associated with their organization (even those uploaded by other users of that organization). Per file, the following information is displayed.

- fileName
- uploadDate
- uploadUser
- responsibleOrganization
- country
- count(campaigns)
- min(startDate)
- max(endDate)

Note that the last 3 (dynamic) fields ar

[2022-01-24 13:31] nicolasvanermen commented on #67
Beautiful!

Nicolas Vanermen
*Wetenschappelijk medewerker*
Instituut voor Natuur- en Bosonderzoek
Havenlaan 88, bus 73, 1000 Brussel
0486/361.582

On Mon, Jan 24, 2022 at 11:57 AM Peter Desmet ***@***.***>
wrote:

[2022-03-10 12:54] peterdesmet opened #68 "Allow multiple DataRightsHolder?"
Mentioned by @nicolasvanermen:

- @cmspinto is this supported by the system?
- It is currently not documented as such in the model: https://esas-docs.ices.dk/tables/#datacustodian

[2022-03-10 13:48] cmspinto commented on #68
I agree with Neil, it brings a lot of extra complication to put this field multiple.
Especially since this list the institution that can release the data, delete or overwrite the data.

[2022-03-10 14:11] nicholascarey commented on #68
I think i was assigned this by mistake :)

[2022-03-10 14:17] neil-ices-dk commented on #68
sorry @nicholascarey 😄

[2022-03-16 10:13] peterdesmet opened #69 "Rename `Beaufort` to `WindForce`"
Beaufort is the only field that is named after the unit, rather than describing the variable. It stands out amongst `Visibility`, `Glare`, etc.

@cmspinto can you rename this to `WindForce`?

[2022-03-16 10:48] nicolasvanermen commented on #68
I forwarded this issue to the institutes involved. But regardless of their
answer... when multiple institutes have co-financed certain surveys, they
should both be data rights holder in my opinion. The only complication is
that they need to agree on whether their data should be public or
restricted, but that shouldn't be our problem, or should it?

Nicolas

On Thu, Mar 10, 2022 at 2:49 PM Carlos M

[2022-03-16 10:55] nicolasvanermen commented on #68
To put it differently, assuming you allow only one organisation, they still need to agree on who should be data rights holder, which might be a much more difficult choice...

[2022-03-16 11:09] neil-ices-dk commented on #68
i see your point - how do we resolve requests for data in this scenario though:
- All data rights holders would need to be contacted, and all would need to agree to the release. (should this be in parallel, or in serial approval?)

That will need some thinking on how to implement.

[2022-03-16 11:35] nicolasvanermen commented on #68
I would say in parallel...

There would still be only one data custodian, and it would be the data
custodian's responsibility to contact the data rights holder(s) and to give
the green light on the release, no? So it seems to me that this process of
(serial or parallel) approval or agreement is somehow masked by the role of
the data custodian...

On Wed, Mar 16, 2022 at 12:09 PM Neil Holdsworth **

[2022-03-16 13:16] peterdesmet commented on #69
Change already made in the documentation (07ba9b1), but still needs to be updated in the application.

[2022-03-17 11:32] peterdesmet opened #70 "Discrepancies in `Behaviour` vocab"
The code list at https://vocab.ices.dk/services/pox/GetCodeList/Behaviour shows some discrepancies with the two lists it is based on:

- official publication
- extra codes assigned by ESAS https://esas-docs.ices.dk/tables/#behaviour

Comparison:

- [x] `0 Unknown`: not in source lists. Why not empty value? _not linked to ESAS, ignore_
- [x] `30-39`: ok, matches with two source lists _linked to ESA

[2022-03-17 14:22] peterdesmet commented on #64
This issue has been resolved, website is available at https://esas-docs.ices.dk/

[2022-03-17 14:22] #64 closed

[2022-03-17 14:23] peterdesmet commented on #66
This is now done.

[2022-03-17 14:23] #66 closed

[2022-03-18 16:52] peterdesmet opened #71 "Values in PlatformClass"
Why are Description values in [Platform Class](http://vocab.ices.dk/?ref=311) written as `30: Ship` rather than `Ship`?  As far as I know, none of the other vocabs include the code in the description.

[2022-03-21 08:06] cmspinto commented on #70
@peterdesmet a code group like [Behaviour](http://vocab.ices.dk/?ref=1709) is shared between several datasets. So not all the codes for that code group can be used by ESAS. They need to be linked to ESAS like this:
![image](https://user-images.githubusercontent.com/8705477/159223007-4c065360-3e28-4c79-b42a-4f7b65f69a7f.png)

Currently our vocabulary is not filtering the codes that are available fo

[2022-03-21 10:55] peterdesmet commented on #70
@carlos that answers some of the questions, but not all. See unchecked items above, mainly:

- Typos or consistency in writing values
- Codes that were created end of 2021, likely for ESAS, but that are 1) given a different code than in ESAS and 2) not linked to ESAS.

[2022-03-21 11:21] pcrjoana commented on #70
@peterdesmet The "Cetaceans" prefix on codes 70-88 will be removed. This has been agreed in the vocabulary group, we just haven't gotten to it yet.

The codes 118, 119 and 124-132 are used in the cetaceans dataset.

We can fix the typos when we remove the "Cetaceans" prefix on codes 70-88.

[2022-03-21 11:32] peterdesmet commented on #70
Thanks @pcrjoana. Code 119 might be useful for the ESAS dataset (where we currently have `6 Breaking surface (marine mammals)` to, but want to confirm with @nicolasvanermen .

[2022-03-21 13:08] nicolasvanermen commented on #71
This is a false remnant, the code should indeed not be included in the
description...

On Fri, Mar 18, 2022 at 5:52 PM Peter Desmet ***@***.***>
wrote:

[2022-03-22 12:27] nicolasvanermen commented on #70
Actually, both codes 118 & 119 are used in the ESAS database!

On Mon, Mar 21, 2022 at 12:32 PM Peter Desmet ***@***.***>
wrote:

[2022-03-28 18:37] neil-ices-dk commented on #48
all resolved

[2022-03-28 18:37] #48 closed

[2022-03-29 12:46] nicolasvanermen commented on #68
To answer the questions assigned to me: we definitely agreed to allow a combination of organizations for the DataRightsHolder field and definitions of DataRightsHolder and DataCustodian are included in our field descriptions in the spreadsheet we are preparing...

[2022-03-29 13:02] nicolasvanermen commented on #68
In an ideal world users are associated with only one organisation as a data rights holder (the organisation where they are active at that moment), but with multiple organisations as a data custodian... Yet I think we should leave the possibility to be associated with multiple organisations, what if for example INBO in the future will be fused together with other institutes, and its employees will

[2022-04-04 13:40] nicolasvanermen commented on #38
Add codes:
100: Association with set nets
101: Association with fish trap
103: Next to sandbank

[2022-04-04 13:41] nicolasvanermen commented on #37
add codes
28: Eel
29: Pipefish
44: Shore crab (Carcinus Maenas)

[2022-04-11 08:46] peterdesmet commented on #37
These codes have been added to the documentation website in f9a5b20 (with correct lowercase for `maenas`), but @Osanna123 the codes still have to be added to http://vocab.ices.dk/?ref=1687

[2022-04-11 09:21] peterdesmet commented on #68
I suggest to not make it needlessly complex and:

1. A user can only be associated with a single organization
2. If a user uploads data, the `DataCustodian` of the submitted data should be the organization associated with the user, otherwise the system returns an error
3. You can upload data with any `DataRightsHolder`(s)
4. You can access data where you are associated with the `DataRightsHolder`

[2022-04-11 09:29] nicolasvanermen commented on #68
Sounds perfect to me!

[2022-04-11 09:30] peterdesmet commented on #68
My only remaining question for overwriting data: should one or all of the DataRightsHolders match to overwrite data?

Let's say the original data is campaignID `10001` with DataRightsHolder `NIOZ~JNCC`. Do I overwrite this campaign if I upload `10001` with `NIOZ~JNCC~INBO` or `NIOZ` (basically updating it with an additional or fewer rightsholder) or are these entirely new campaigns?

[2022-04-11 09:38] peterdesmet commented on #38
Updated in documentation website 9c84028 (using `Associated` rather than `Association` to be consistent with other definitions). @Osanna123 still to be added to http://vocab.ices.dk/?ref=1718

[2022-04-11 09:41] cmspinto commented on #68
That is fine, and the reason for that is that DataCustodian is not part of the Key.
To find out if a file is a re submission then it is checked if there is another "CampaingID" for the same DatarightsHolder, in a case where the datacustodian changes, it will still detect that is a resubmission.

We will go with the flow you described above.

[2022-04-11 09:44] cmspinto commented on #68
No, because like Nicolas and me have hightlighted the key of a campaing are the CampaingID and the datarightsholder and in this case the DataRightsHolder(s) are not the same. So if they find out there was another organization in that campaing they should delete the previous file and submit this new one.

We can put a warning saying that that campaingID already exists in the datbase with other data

[2022-04-11 11:44] peterdesmet commented on #68
@cmspinto yeah, such a warning would be nice to have, but not absolutely necessary.

[2022-04-12 07:33] cmspinto commented on #68
@peterdesmet: will apply these changes, The format does not changes so it does not affect the data that is already in the database.

[2022-04-13 06:40] cmspinto commented on #68
@peterdesmet: will apply these changes, The format does not changes so it does not affect the data that is already in the database.

[2022-04-13 06:59] cmspinto opened #72 "Inventory of ESAS"
<html><body>
<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;" id="docs-internal-guid-50f3ac50-7fff-6f53-820a-0c24f4f5622d"><a href="https://esas.ices.dk/inventory" style="text-decoration:none;"><span style="font-size:11pt;font-family:Arial;color:#1155cc;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:underline;-webkit-text-d

[2022-04-13 07:12] cmspinto commented on #72
Looks like this:

![image](https://user-images.githubusercontent.com/8705477/163120293-723fd0e1-d1c9-4a98-adc6-3c4055e9125f.png)

[2022-04-13 08:45] nicolasvanermen commented on #68
We only need to make sure that the sequence in which the multiple data rights holders are given does not matter, so: to identify campaigns 1375~630 should be regarded the same as 630~1375.

[2022-04-13 08:46] nicolasvanermen commented on #68
Is there already data in the database?

[2022-04-13 08:50] cmspinto commented on #68
Yes, this was the first change done, can you test it?

[2022-04-13 09:06] nicolasvanermen commented on #72
Looks good... Just wondering wether we could use institute acronyms in the table, it may get bust when writte in full...?

[2022-04-13 11:21] cmspinto opened #73 "Download request page"

[2022-04-19 10:02] peterdesmet opened #74 "Flow for giving access to restricted data"

[2022-04-19 10:27] nicolasvanermen commented on #74
Imo rows should be based on the combination of data custodian (DC) & data rights holder (DRH):
DC         DRH         #
INBO     INBO      255
INBO     SPEA      110
INBO     JNCC        52
BuWa    BuWa       36
...
All DCs are contacted, and forward the request to any DRH included in th request. DCs should be able to unlock per row, and thus per unique combination of DC & DRH.

[2022-04-19 13:00] peterdesmet commented on #74
@cmspinto see the suggestion in the issue body. Please let me know if you have any questions/remarks.

[2022-04-19 15:13] peterdesmet opened #75 "Review of the download format"
Current download format is:

[code]

- [ ] Use consistent file name (plural), so `Campaigns.csv`, `Observations.csv`, `Positions.csv`, `Samples.csv`.
- [ ] Don't append number to file names, it makes it more difficult to run automated pipelines on data if file names change

## Campaigns

- [ ] Don't include `tblCampaignID`
- [ ] Don't include `DataCustodian`, `DataCustodianContact` (new suggestion

[2022-04-20 08:17] cmspinto commented on #75
Could someone test the current download and give some feed back?

[2022-04-20 08:18] cmspinto commented on #72
We only have the description or the code of the institute.

[2022-04-20 08:46] peterdesmet commented on #75
👍 Many things resolved. I updated the issue body with some open items, including:

- [ ] Please don't include `T00:00:00` for dates if possible.
- [ ] The four (renamed) additional scientific name fields (see #63 and email)
- [ ] Disclaimer does not seem to reflect ESAS, but VME

[2022-04-21 10:36] nicolasvanermen commented on #41
This issue is also relevant for the uploads, so flagging this here. I cannot upload files in which the fields are quoted, resulting in potential problems with commas in the Notes fields. Up until now I avoided this problem by doing...
**OBSERVATIONS$Notes <- gsub(",", ";", OBSERVATIONS$Notes)**
...thus replacing commas by ";". As Peter flagged, this is not future proof, and likely to give problems

[2022-04-22 07:21] nicolasvanermen commented on #74
An alternative for submiterEmail (sic) and submiterUserName could be to include submiterEmail (sic) and the organisation associated to the user.

[2022-04-22 12:18] peterdesmet opened #76 "Test if integer values for ObservationDistance can be used"
@nicolasvanermen have you tested if integer values can be used for `ObservationDistance`? The term should accept controlled values (A, B, C) as well as integer values.

[2022-04-22 12:48] peterdesmet commented on #76
The same applies to `TravelDirection` which can have a mix of cardinal directions and degrees.

[2022-04-22 13:36] peterdesmet commented on #76
It has no vocabulary attached, even though it has one (https://vocab.ices.dk/?ref=1714)?

[2022-04-25 14:34] peterdesmet opened #77 "UseOfBinoculars contains incorrect values in download"
Data that were uploaded with `Sample.UseOfBinoculars = 1` have `Sample.UseOfBinoculars = FO` in the download. Where is this value coming from? Normally the only allowed values are 1, 2, 3: https://vocab.ices.dk/services/rdf/collection/UseOfBinoculars

[2022-04-25 14:36] peterdesmet opened #78 "Distance values are expressed as integers in export"
`Position.Distance` values that were uploaded as doubles are expressed as integers in the Download: `0.7 -> 0`. This should be fixed.

[2022-04-25 14:37] peterdesmet opened #79 "Visibility values are NULL in Download"
`Position.Visibility` values (not NULL) are empty in Download. This should be fixed.

[2022-04-25 14:38] peterdesmet commented on #72
@cmspinto can you switch the columns `Access` and `Number of campaigns` in the table, so `Access` is listed first (as originally proposed)?

[2022-04-25 14:41] #68 closed

[2022-04-25 14:43] #60 closed

[2022-04-25 14:43] peterdesmet commented on #69
Is fixed.

[2022-04-25 14:43] #69 closed

[2022-04-25 14:45] peterdesmet commented on #65
Asked via email, but documenting here as well:

the same fields as those in the CSV download? E.g. excluding
tblUploadID, ..., adding species information?

[2022-04-25 17:56] cmspinto commented on #65
Yes, this is possible, it will be implemented.

Carlos

[2022-04-27 08:44] cmspinto commented on #77
This one was a good catch, thanks. Corrected now in the import procedure, it was importing the code instead of the ID.

![image](https://user-images.githubusercontent.com/8705477/165478920-e9ee4a25-22e5-48a6-8d69-bbfd4dc102e4.png)

[2022-04-27 08:47] cmspinto commented on #78
Good catch, for some reason it was integer instead of float,

corrected now:

![image](https://user-images.githubusercontent.com/8705477/165479577-1a01c407-4f0d-4927-b021-248ae9b982cc.png)

[2022-04-27 08:53] #78 closed

[2022-04-27 09:02] cmspinto commented on #79
Hi Peter, another excellent catch.
It's great to work like this.
It was not picking the visibility codes from the current file, so the codes were not being imported to the database.

Very easy to correct but not so easy to catch, great job.
Thanks.

[2022-04-27 09:04] cmspinto opened #80 "Disclaimer for ESAS"
We need a disclaimer proposal for ESAS.

The current one was adapted from another dataset.

[2022-04-27 11:31] peterdesmet commented on #80
A disclaimer text was proposed in the Google doc. Should I copy it here?

[2022-05-10 07:11] cmspinto commented on #72
![image](https://user-images.githubusercontent.com/8705477/167570041-99a57215-ba75-419f-8430-0d0ce2bd066c.png)

[2022-05-10 07:13] cmspinto commented on #80
We should put the file here and I will copy that to the website.

[2022-05-10 07:49] cmspinto commented on #65
The fields are the same, the download and the WebAPI use the same classes, but API have the database ID's. These are striped out in the files but we prefer to keep them in the WebAPI.

[2022-05-10 08:16] nicolasvanermen commented on #80
Here is the link with the review of the ESAS website pages:
https://docs.google.com/document/d/1JaDbchwtM5Z9E84ICkxpZKEJCv7mGes9lJMgXXx_Wpg/edit#heading=h.lnwz9o48dby9

Nicolas Vanermen
Instituut voor Natuur- en Bosonderzoek
(Research Institute for Nature and Forest)
Havenlaan 88, bus 73, 1000 Brussel
+32 486 361 582

On Tue, May 10, 2022 at 10:02 AM Carlos Manuel Silva Pinto <
***@***.***> wrote:

[2022-05-10 08:34] peterdesmet commented on #80
This is the text for the disclaimer:

---

**Please acknowledge the following conditions before downloading data:**

- All public data are licensed under the Creative Commons (CC BY 4.0) license.
- You have sole responsibility for correct and appropriate data interpretation.
- Results, conclusions, and/or recommendations derived from the data do not imply endorsement from ICES.
- You are requested

[2022-05-10 08:34] peterdesmet commented on #80
Note sure we have to mention the "Derived data products are based on public and restricted data.", since there aren't any derived data products yet.

[2022-05-10 08:37] peterdesmet commented on #42
Sorry, we had to make some changes to the home page text to make it easier to copy/paste to other places where we want to describe ESAS. Please see the updated version in https://docs.google.com/document/d/1JaDbchwtM5Z9E84ICkxpZKEJCv7mGes9lJMgXXx_Wpg/edit?usp=sharing

[2022-05-10 08:39] peterdesmet commented on #72
Looks good, but is it possible to write the dates as YYYY-MM-DD and without the hour?

[2022-05-10 11:10] cmspinto commented on #63
SpeciesScientificName: Scientific name, if available (this will come from the ESAS translation table)
SpeciesEnglishName: English name, if available (this will come from the ESAS translation table)

[2022-05-10 13:17] peterdesmet commented on #65
Todo. Note that the descriptions below also fix a number of typos.

- [ ] Add HTML title `Web services`
- [ ] Remove blue alert box
- [ ] Are only the provided parameters available, or are _all_ fields parameters? It is currently odd that e.g. `WindForce` is included.
- [ ] Replace entire intro text with:

## getListSubmissions

- [ ] Why is this not called `getFileSubmissions`?
- [ ] Fix field na

[2022-05-10 14:18] peterdesmet opened #81 "Web API returns primarySampling + transect as text, not boolean"
The https://esas.ices.dk/api/getSampleRecords API returns `primarySampling` as a long text (with lots of spaces), rather than a boolean:

[code]

Please change to:

[code]

It would also be good if https://esas.ices.dk/api/getObservationRecords returned:

[code]

Rather than the current text value `"TRUE"`

[2022-05-10 14:51] peterdesmet opened #82 "Add parameter `dataAccess` to getCampaignRecords"
It would be useful to have the parameter `dataAccess` in https://esas.ices.dk/api/getCampaignRecords, so one can query:

https://esas.ices.dk/api/getCampaignRecords?dataAccess=Public

[2022-05-10 14:54] peterdesmet opened #83 "Also return dataRightsHolder + country in getCampaignRecords"
https://esas.ices.dk/api/getCampaignRecords

Currently:

[code]

Please change to:

[code]

This also aligns it with the download format

[2022-05-11 07:30] Osanna123 commented on #71
To my best knowledge, this was a practical implementation for the Code Request Tool for Platforms in 200?, where a displayed description would show both the code and the description. We could fix it this summer, i suppose.
![image](https://user-images.githubusercontent.com/17157764/167793140-de4d0234-c42a-44be-a038-c66b980b3004.png)

[2022-05-11 07:47] Osanna123 commented on #70
fixed, will be online tomorrow

[2022-05-11 10:46] peterdesmet commented on #71
Thanks, have dealt with it in mapping script. Closing issue.

[2022-05-11 10:46] #71 closed

[2022-05-11 10:49] peterdesmet commented on #70
Thanks, have unchecked the boxes and reopened issue until this change is live.

[2022-05-12 07:41] nicolasvanermen commented on #81
Likely this needs to be:
 "primarySampling": true,
?

And why are all the column names written as "primarySampling" and not as the original "PrimarySampling", or "transectWidth" instead of "TransectWidth"?

[2022-05-12 08:12] peterdesmet commented on #81
Indeed, I was also wondering why it changed from UpperCamelCase to lowerCamelCase.

[2022-05-12 12:48] peterdesmet commented on #70
Great to see this solved 👍

[2022-05-16 12:56] neil-ices-dk commented on #80
standard disclaimer revised for ESAS https://github.com/ices-tools-dev/esas/blob/main/disclaimer-download

[2022-05-17 15:12] neil-ices-dk commented on #42
have updated the citation, i can't add the metadata record line yet as we don't have the record yet;
@nicolasvanermen - i can't see any changes in the Google doc as i don't have edit access, can you give me access or paste the suggestions below thanks

[2022-05-17 15:20] nicolasvanermen commented on #42
Shared the document...

[2022-05-18 08:47] cmspinto commented on #65
![image](https://user-images.githubusercontent.com/8705477/168997907-2a7d242a-e187-4b0f-97a2-f8704810d7f3.png)

[2022-05-18 09:22] cmspinto commented on #65
@neil-ices-dk or @Osanna123  can you check the description of the last 5 services?

[2022-05-18 09:23] cmspinto commented on #11
Can we close this one?

[2022-05-18 09:27] #11 closed

[2022-05-18 09:29] nicolasvanermen commented on #11
Note that there still needed to be some changes to field characterics as well as to field descriptions, but this might be included in another issue?

[2022-05-18 09:33] cmspinto commented on #80
Done, have we agree to list all the data custodians or to put a reference to ESAS dateset?

[2022-05-18 09:52] cmspinto commented on #73
Done, please test it.

[2022-05-18 11:28] peterdesmet commented on #73
Nice. Some more issues that popped up:

- [ ] Minor: please close the sentence with a period after accessions@ices.dk
- [ ] I tried the email form, but it resulted in an error

Two more general layout questions:

- [ ] Why is it that no normal HTML markup is used (e.g. `<p>` for paragraphs, `<h2>` for titles)?
- [ ] Is it possible to use regular Bootstrap form layout (https://getbootstrap.com/docs

[2022-05-18 11:32] peterdesmet commented on #80
I think the idea was to list the data providers:

1. In the ESAS metadata (in a reference system)
2. (Potentially) the ESAS homepage
3. The included ones in the disclaimer file

I assume this issue is mostly about the disclaimer file, but not that the disclaimer popup is not centered:

![European-Seabirds-at-Sea-](https://user-images.githubusercontent.com/600993/169029168-2f990e8f-d663-4849-b202-b

[2022-05-18 12:49] cmspinto commented on #73
I tried the email form, but it resulted in an error,

this is the part that will be developed, it's not finished yet. This will need to incorporate the logic of permissions.

[2022-05-18 13:07] cmspinto commented on #72
Are we drooping the species filter?

This changes also the download, it's not a quick one!

[2022-05-18 13:12] peterdesmet commented on #72
If it is too complicated to drop this filter, it is fine to let it it (after Ecoregion). I just think it will be an unwieldy long list.

[2022-05-18 15:08] neil-ices-dk commented on #80
as Peter says, the main reference would be the Full Metadata Record;

[2022-05-18 20:18] cmspinto commented on #72
The work is to create the new ones not to drop the species!

Do we need these ones: Data rights holder / Access?

[2022-05-19 06:39] peterdesmet commented on #72
Yes, Data Rightsholder and Access are useful ones to have.

[2022-05-19 11:00] neil-ices-dk commented on #65
![image](https://user-images.githubusercontent.com/23527005/169275934-537e2078-83f3-440e-b867-b78fe24b63bd.png)

**Edited text:**
Returns a list of messages from a file screening session, no authentication is needed.

----

![image](https://user-images.githubusercontent.com/23527005/169276370-448b9f09-5454-41

**Edited text:**
Returns meta information of a screening session, no authentication is n

[2022-05-19 11:01] neil-ices-dk commented on #65
@cmspinto there is no mention that the file needs to have passed the screening in order to be uploaded via PushtoDatabase; there should be something right?

[2022-05-20 06:47] cmspinto commented on #11
It that to change the descriptions of the vocabularies?
Can that be address in the vocab items?

[2022-05-20 06:49] cmspinto commented on #65
Yes, sorry might have missed the obvious!

[2022-05-20 06:50] cmspinto commented on #72
Was able to keep it in one line 👍
![image](https://user-images.githubusercontent.com/8705477/169470021-6d9515c5-2bdd-42e3-ace0-1ea4d2323880.png)

[2022-05-20 07:02] peterdesmet commented on #11
@cmspinto it is an update of the field descriptions (column `Description`) at http://datsu.ices.dk/web/selRep.aspx?Dataset=148 (to make it consistent regarding phrasing, punctuation, etc.). I haven't gotten around to do this yet.

[2022-05-20 12:41] cmspinto commented on #73
Working now :

![image](https://user-images.githubusercontent.com/8705477/169530162-3a950176-ae54-4d6b-991d-c73887e9284d.png)

Nicolas did you received the email?

[2022-05-20 12:57] nicolasvanermen commented on #73
Yes!!

On Fri, May 20, 2022 at 2:41 PM Carlos Manuel Silva Pinto <
***@***.***> wrote:

[2022-05-23 10:09] cmspinto commented on #11
@Osanna123 could you have a look at this one?

[2022-05-30 07:30] cmspinto commented on #83
Done

[https://esas.ices.dk/api/getCampaignRecords](https://esas.ices.dk/api/getCampaignRecords )
![image](https://user-images.githubusercontent.com/8705477/170940224-750de664-1018-465f-8696-49e93a4ffe8e.png)

[2022-05-30 07:31] #83 closed

[2022-05-30 07:32] cmspinto commented on #82
Done,

[https://esas.ices.dk/api/getCampaignRecords](https://esas.ices.dk/api/getCampaignRecords)

![image](https://user-images.githubusercontent.com/8705477/170940738-96f02fef-2058-4742-ab5e-703162331fb4.png)

[2022-05-30 08:01] cmspinto commented on #81
It's a boolean now:

![image](https://user-images.githubusercontent.com/8705477/170946024-bd69585b-d2de-42b1-a7a5-0e5cdaad3d87.png)

![image](https://user-images.githubusercontent.com/8705477/170945925-f5300ffd-33d9-4e28-9f55-45299ed9006c.png)

[2022-05-30 08:04] cmspinto commented on #3
Is this part of the download?
It is the disclaimer or any other file?
The download files always have the same format.

[2022-05-30 08:05] #41 closed

[2022-05-30 08:32] cmspinto commented on #63
Both, in download and WebAPI

![image](https://user-images.githubusercontent.com/8705477/170951784-4371e669-d2a8-478e-aac7-1b2448eb4a35.png)

[2022-05-30 08:49] cmspinto commented on #65
![image](https://user-images.githubusercontent.com/8705477/170954989-9566590b-f539-441f-8b43-c77ebcacfdd9.png)

[2022-05-30 08:52] neil-ices-dk commented on #65
thanks, could you follow the edited text version in the post further up

[2022-05-30 13:06] cmspinto commented on #74
This is a big ticket, we will have to tackle this one by parts.

Point 5: _A general email address will be created (e.g. [esas-download-request@ices.dk](mailto:esas-download-request@ices.dk)) which people can contact if there is no response from data rights holders. That email could e.g. to Nicolas._
 Accessions where we include a pre-defined subject header, and where we could setup a rule and for

[2022-06-07 08:51] peterdesmet opened #84 "UpperCamelCase vs lowerCamelCase field names"
- How fields are described: UpperCamelCase
- How data should be submitted: UpperCamelCase
- How data are downloaded as CSV (could not confirm): UpperCamelCase
- How data are expressed by [API](https://esas.ices.dk/api/getCampaignRecords): lowerCamelCase

Is there a specific reason why the API opts for `lowerCamelCase`?

[2022-06-07 08:52] peterdesmet commented on #84
Could not test because API returns error:

[2022-06-07 08:57] peterdesmet opened #85 "Should request form be hidden when all records are public?"
<img width="1014" alt="Screenshot 2022-06-07 at 10 57 11" src="https://user-images.githubusercontent.com/600993/172340053-dbd99d26-216a-4c8f-b525-fc5eb5ab650f.png">

[2022-06-07 09:26] peterdesmet commented on #63
Nice! I notice that empty values are coded as `""` rather than as `null`. I don't think it will cause any issues, but if it is easy to change, I would use `null` values.

[code]

[2022-06-07 09:27] peterdesmet commented on #41
@cmspinto did you close this issue because it is resolved (in RECO) or because it was in the wrong repository?

[2022-06-07 09:44] peterdesmet opened #86 "Align File_Information / Campaigns documentation with API, CSV + remove dataCustodian fields"
## Data custodian fields

See comment at https://github.com/ices-tools-dev/esas/issues/74#issue-1208115854, the fields `dataCustodian` and `dataCustodianContact` no longer serve a purpose and should be removed from:

- [x] File format
- [x] Documentation site @peterdesmet
- [x] CSV
- [x] API

In addition, there are so fields to be added/removed to make format, CSV and API align:

## File_Informati

[2022-06-07 09:57] peterdesmet commented on #3
This is resolved, observation.csv (a file that can have special characters) is UTF-8 it seems.

[2022-06-07 09:57] #3 closed

[2022-06-07 09:58] cmspinto commented on #81
Have checked it and here it is provided as a boolean: https://esas.ices.dk/api/getSampleRecords

![image](https://user-images.githubusercontent.com/8705477/172352852-2f776474-1e8b-491a-9a00-01b63d9aad29.png)

@peterdesmet could you provide an URL?

[2022-06-07 09:59] cmspinto commented on #41
Because it is in Reco and not in ESAS
@mehdiabbasi will have a look at Reco this summer and this could be an issue he can tackle.

[2022-06-07 10:00] peterdesmet commented on #81
`primarySampling` is indeed correct, but `transect` is not. I added that field later to this issue, so you might have missed it.

[2022-06-07 10:05] cmspinto commented on #82
Yes, now it can: [https://esas.ices.dk/api/getCampaignRecords?dataAccess=Public](https://esas.ices.dk/api/getCampaignRecords?dataAccess=Public)

It was not one of the filters but it's a good idea to add this filter.

[2022-06-07 10:13] cmspinto commented on #63
Yes, it is very easy.
That came from the value provided in the table, it's null now instead of an empty string:
https://esas.ices.dk/api/getObservationRecords?SpeciesCode=5659

[2022-06-07 10:17] #82 closed

[2022-06-07 10:18] #63 closed

[2022-06-07 10:21] cmspinto commented on #86
Need a bit more information about this, but if I'm understanding correctly, in the data format, [File_Information](datsu.ices.dk/web/selRep.aspx?Dataset=148), the DataCustodian and DataCustodianContact  should be removed?
Is it because we are not using this information?

[2022-06-07 10:29] peterdesmet commented on #86
That is correct.

[2022-06-07 11:24] cmspinto commented on #84
Normally in Object Oriented Programming (OOP) only the classes start with an Upper Case letter.

[2022-06-07 11:32] cmspinto commented on #80
Create a metadata record for the ESAS dataset.

ICES will create a first draft of the metadata record and Nicolas or Peter can review the metadata record.

[2022-06-07 11:38] #72 closed

[2022-06-07 11:49] peterdesmet commented on #14
Taxonomic information has been discussed and is included. Closing issue.

[2022-06-07 11:49] #14 closed

[2022-06-07 11:53] peterdesmet commented on #4
Implemented.

[2022-06-07 11:53] #4 closed

[2022-06-07 12:03] peterdesmet commented on #29
Implemented: positions have a `Precipitation` field.

[2022-06-07 12:03] #29 closed

[2022-06-07 12:04] peterdesmet commented on #30
Implemented: positions have a `ObservationConditions` field.

[2022-06-07 12:04] #30 closed

[2022-06-07 12:05] peterdesmet commented on #32
Implemented: observations have a `Distance` field.

[2022-06-07 12:06] peterdesmet commented on #33
Implemented: observations have a `LifeStage` field.

[2022-06-07 12:06] #33 closed

[2022-06-07 12:06] peterdesmet commented on #36
Implemented: observations have a `TravelDirection` field.

[2022-06-07 12:06] #36 closed

[2022-06-07 12:07] peterdesmet commented on #37
Implemented: observations have a `Prey` field, with full vocab.

[2022-06-07 12:08] peterdesmet commented on #38
Implemented: observations have a `Association` field, with full vocab.

[2022-06-07 12:09] peterdesmet commented on #40
Implemented: observations have a `Behaviour` field, with full vocab.

[2022-06-07 12:09] #40 closed

[2022-06-07 12:09] #56 closed

[2022-06-07 12:10] peterdesmet commented on #43
Implemented: file information has a `Country` field, using ISO codes.

[2022-06-07 12:10] #43 closed

[2022-06-07 12:10] #54 closed

[2022-06-07 12:11] peterdesmet commented on #61
Closing this overview issue.

[2022-06-07 12:11] #61 closed

[2022-06-07 12:12] peterdesmet commented on #67
@nicolasvanermen @cmspinto is this overview of uploaded files implemented for logged in users?

[2022-06-07 12:36] nicolasvanermen commented on #42
One small more thing:  the title should also show capital A in European Seabirds **A**t Sea

[2022-06-07 12:40] nicolasvanermen commented on #80
ICES European Seabirds at Sea (ESAS) Database ->  ICES European Seabirds **A**t Sea (ESAS) **d**atabase

[2022-06-07 12:55] #85 closed

[2022-06-07 12:58] nicolasvanermen opened #87 "Submission page"
https://esas.ices.dk/manage/menu
@cmspinto
- [x] currently c) [View your database submissions] is not active
- [x] Neither could I check the resubmission page...
- [x] The excell template is outdated: update or delete link?

[2022-06-07 12:59] nicolasvanermen commented on #87
![image](https://user-images.githubusercontent.com/7381853/172385693-f7c07e0c-ba19-4880-8347-e84460b2c7f0.png)

[2022-06-07 13:07] nicolasvanermen commented on #37
Codes still to be added:
28: Eel
29: Pipefish
44: Shore crab (Carcinus maenas)

[2022-06-07 13:12] nicolasvanermen commented on #70
not yet resolved
- [ ]  135 Flushing: not used by ESAS, 114 is used instead.
Code 135 should thus be deleted.

[2022-06-07 13:30] peterdesmet commented on #70
Note that 135 Flushing is not linked to ESAS, maybe it is a term used by another database at ICES?

[2022-06-07 13:42] nicolasvanermen commented on #70
No it was one of the 7 activity codes that were merged with behaviour.

[2022-06-07 15:19] peterdesmet opened #88 "Upload file with WoRMS code"
@nicolasvanermen can you test uploading a file where rather than the ESAS code, the AphiaID is provided?

So an observation record with:

- SpeciesCodeType: ERID
- SpeciesCode: 1457401 (this is Vulpes vulpes)

The intent is that this is possible, so users can submit species that are not on the [ESAS list](https://esas-docs.ices.dk/species/) but that are on WoRMS, but I don't think this was tested.

[2022-06-08 07:33] nicolasvanermen commented on #88
Uploaded a file with ERID instead of ESAS codes. It did not return errors, so this seems to be fine. Failed to check the download though as the download button returns a blank page.  @cmspinto how come?

[2022-06-08 08:15] nicolasvanermen commented on #76
Tested by uploading distances A & 100 and travel directions N & 90, and all passed the screening.

[2022-06-08 08:23] nicolasvanermen commented on #87
please see the [google doc](https://docs.google.com/document/d/1JaDbchwtM5Z9E84ICkxpZKEJCv7mGes9lJMgXXx_Wpg/edit?usp=sharing) with suggestions for revising the (re)submission pages

[2022-06-08 08:38] cmspinto commented on #87
Submissions page for the user done, user can see and delete the submissions that the user uploade or the ones where the user is responsible for the Data Rights Holder:

![image](https://user-images.githubusercontent.com/8705477/172571707-5ff23822-f391-4c96-b0c0-593e8d4553f8.png)

[2022-06-08 08:58] peterdesmet commented on #76
What campaign ID?

[2022-06-08 09:02] nicolasvanermen commented on #76
110000153, and then generated fictive data:
OBSERVATIONS$TravelDirection <- rep(c("N",90),188)
OBSERVATIONS$ObservationDistance <- rep(c("A",100),188)

[2022-06-08 12:22] peterdesmet opened #89 "Define parameters for API endpoints"
## getFileSubmissions

- [x] DataRightsHolder: https://esas.ices.dk/api/getFileSubmissions?dataRightsHolder=630
- [x] Country: https://esas.ices.dk/api/getFileSubmissions?country=BE
- [x] ~CampaignID~

## getCampaignRecords

- [x] DataRightsHolder (not ResponsibleOrganization): https://esas.ices.dk/api/getCampaignRecords?DataRightsHolder=630
- [x] Country: https://esas.ices.dk/api/getCampaignRecor

[2022-06-08 13:09] nicolasvanermen commented on #76
[ESAS_BE_DATA_test_obis_tab.csv](https://github.com/ices-tools-dev/esas/files/8861768/ESAS_BE_DATA_test_obis_tab.csv)
[ESAS_BE_DATA_test_comma_etcetera.csv](https://github.com/ices-tools-dev/esas/files/8861769/ESAS_BE_DATA_test_comma_etcetera.csv)
[ESAS_BE_DATA_test_ERID.csv](https://github.com/ices-tools-dev/esas/files/8861770/ESAS_BE_DATA_test_ERID.csv)

[2022-06-08 13:11] nicolasvanermen commented on #76
I uploaded these 3 files to the database, with respective campaignID's of 110000153, 110000154 & 110000155. As mentioned, currently, I cannot check the submissions, neither can I perform any data download.

[2022-06-08 13:12] nicolasvanermen commented on #87
Looks good, but somehow I cannot access this page.

[2022-06-08 13:12] peterdesmet commented on #89
@cmspinto see above the list of parameters that I think make sense for each endpoint, to be listed in the documentation in that order.

[2022-06-08 13:18] peterdesmet commented on #76
Thanks for the identifiers, it seems like those data are currently not making it to the database.
- 110000153 is there with old data: https://esas.ices.dk/api/getObservationRecords?campaignID=110000153
- 110000154 not included: https://esas.ices.dk/api/getObservationRecords?campaignID=110000154
- 110000155 not included: https://esas.ices.dk/api/getObservationRecords?campaignID=110000155

[2022-06-09 07:04] cmspinto commented on #87
Hi Nicolas, it was not published yet!

The rules are, a user can delete the files that:
a) the user uploaded
b) files where at least one of data rights holder is manage by the user.

[2022-06-09 08:19] cmspinto commented on #89
I think it makes sense to allow multiple values per parameter, but not the year as a range.
I think that if the user wants to filter for 2014-2017 then it can specify 2014,2015,2016,2017
Allowing multiple values also allows the range, but not the other way around!

[2022-06-09 08:33] peterdesmet commented on #89
Would work too. My suggestion was inspired by how GBIF implements range queries (see https://www.gbif.org/developer/summary#common). For long ranges, that is more user friendly than listing all the years.

[2022-06-09 09:15] peterdesmet commented on #65
@cmspinto several things are still missing or wrong:

- [ ] Intro, change to (no space before period):

- [ ] Token, change to:

- [ ] getScreeningSessionMessages, change to:

- [ ] ScreenESASFile, change to:

- [ ] PushFileToDatabase, change to as suggested by @neil-ices-dk:

- [ ] ScreenESASFile: as asked by @neil-ices-dk, why not `ScreenFile`
- [ ] ScreenESASFile, change to as suggested by @nei

[2022-06-09 11:41] nicolasvanermen commented on #87
OK, now I can reach it:

- [ ] Subiter -> Submitter
- [ ] Ins. Date Time: what does this stand for? I propose: Submission Date (note that time is not indicated)
- [ ] when deleting a file the page jumps back to the main menu, while it seem logical that you simply stay on the same page

[2022-06-09 11:53] nicolasvanermen commented on #67
![image](https://user-images.githubusercontent.com/7381853/172840581-57b30a26-e6e4-4cdb-a2bc-13bb39ff9267.png)

[2022-06-09 11:55] nicolasvanermen commented on #67
This is the closest I can get, and still quite different from what was proposed by Peter...

[2022-06-09 11:59] cmspinto commented on #87
Have we tackle this:

![image](https://user-images.githubusercontent.com/8705477/172841705-d0869c7d-3353-4be1-be1e-e298c13c21bb.png)

[2022-06-09 12:01] nicolasvanermen commented on #87
No the proposed changes were not yet implemented...!

[2022-06-09 12:44] neil-ices-dk commented on #80
the disclaimer is 99% ready, just missing the link to the metadata URL for the dataset

[2022-06-09 16:05] nicolasvanermen opened #90 "File information"
Currently this table is explained as "Campaigns that generated the data.", thus copy pasted from the Campaigns table.
To be honest I have difficulaties explaining to data providers the actual use of this table, currently only holding two fields (data rights holder and country). So a concise clear explanation of this table would be nice.

[2022-06-10 07:34] cmspinto commented on #89
Same comment to Latitude and Longitude:

[2022-06-10 07:42] peterdesmet commented on #89
I find that a counter intuitive way of working, because latitude/longitudes are not integers, so how do you define the range `51.5 -> 51.7`? Fairly easy to do when you only have two parameters (min/max): `latitude=51.5,51.7`, but harder if you have to specify every element in the range. Imo, the multiple comma approach you suggest seems also harder to implement.

[2022-06-14 19:10] neil-ices-dk commented on #80
@cmspinto the URL is now included in https://github.com/ices-tools-dev/esas/blob/main/disclaimer-download

@peterdesmet the metadata record for reference:
http://gis.ices.dk/geonetwork/srv/eng/catalog.search#/metadata/7a6151e4-812b-4455-97a2-74c5102d418f

[2022-06-15 07:08] peterdesmet commented on #80
@neil-ices-dk Metadata record looks good! The spatial extend can be bigger (especially south). I think the total bounding box is:

80N,-40E -> 10N,30E

![esas-records](https://user-images.githubusercontent.com/600993/173764345-eb8f0b79-c280-4a4a-9558-4a904538eeec.png)

[2022-06-15 08:22] neil-ices-dk commented on #80
thanks @peterdesmet updated as below:
![image](https://user-images.githubusercontent.com/23527005/173779544-05d87935-0ff1-4ef6-a219-4e1f73c39826.png)

[2022-06-15 09:11] peterdesmet commented on #76
@cmspinto is it possible to investigate why campaignID 110000153, 110000154 & 110000155 are not accessible in the API?

@nicolasvanermen are these set to restricted access?

[2022-06-16 07:10] cmspinto commented on #86
Have removed the dataRightsHolder and the country from the campaign record.

I think the rest is now align.

[2022-06-16 07:46] cmspinto commented on #89
ok, have put latitude as a range, give here an example in the page: [https://esas.ices.dk/webservices](https://esas.ices.dk/webservices).

![image](https://user-images.githubusercontent.com/8705477/174019491-ad09b969-e712-4290-a678-5902e8d1ac54.png)

[2022-06-16 08:02] peterdesmet commented on #86
@cmspinto but that was not what was described above. Other things have been fixed though. Here are the remaining issues:

- [ ] https://esas.ices.dk/api/getCampaignRecords, add `DataRightsHolder` and `Country` again, between `tblCampaignID` and `CampaignID`:

[code]

- [ ] https://esas.ices.dk/api/getFileSubmissions API: `submitterEmail`, `institution` fields were removed. I think that is fine con

[2022-06-16 12:33] nicolasvanermen commented on #76
No public access

[2022-06-16 12:44] neil-ices-dk commented on #80
good point, i forgot that - will look into how best to put them in

[2022-06-16 12:52] peterdesmet commented on #76
Any indication in your submission page whether these are uploaded?

[2022-06-16 12:57] nicolasvanermen commented on #76
No they are not inside the submission page. I can do this again if you want, but I have the feeling we are running in circles here.

[2022-06-16 13:11] nicolasvanermen commented on #80
![image](https://user-images.githubusercontent.com/7381853/174076904-babb0603-93cd-4a78-a097-b5a00d16bc43.png)

- [ ] ICES European Seabirds at Sea (ESAS) Database -> ICES European Seabirds At Sea (ESAS) database
- [ ] Hyperlink instead of full webadress
- [ ] Adjust font size of text under Restricted Data

[2022-06-16 14:02] nicolasvanermen commented on #88
Imported again, two of them indeed came through, the resubmission did not it seems? (still the upload of 27/04, although I opted to overwrite).

[2022-06-16 14:06] nicolasvanermen commented on #88
![image](https://user-images.githubusercontent.com/7381853/174088078-0a3c5248-ad34-46b1-a95c-22d95172f7e5.png)

[2022-06-16 14:06] nicolasvanermen commented on #88
And why are these campaigns split in two rows?

[2022-06-16 14:49] peterdesmet commented on #89
@cmspinto see the issues described in my comment above: not everything works as it should.

[2022-06-17 07:19] cmspinto commented on #88
Download and inventory are fixed now :).

Thanks for the heads up:

![image](https://user-images.githubusercontent.com/8705477/174246473-a569b6bf-c36f-43a6-8fae-f6f73a01a872.png)

[2022-06-17 07:24] nicolasvanermen commented on #88
![image](https://user-images.githubusercontent.com/7381853/174247435-b164f8fb-14e9-4b04-abb3-2fd607746897.png)

[2022-06-17 07:25] nicolasvanermen commented on #88
In the download page the campaigns are still split into two row, while they should be aggregated in one.

[2022-06-17 07:30] nicolasvanermen commented on #76
See issue 88, they should be in the database now.

[2022-06-17 07:43] cmspinto commented on #88
Correct, it was not grouping correctly.

[2022-06-17 07:46] cmspinto commented on #89
This was changed for the latitute to be a range: [https://esas.ices.dk/api/getPositionRecords?latitude=49.7,53.2](https://esas.ices.dk/api/getPositionRecords?latitude=49.7,53.2)

[2022-06-17 07:48] cmspinto commented on #89
_? I also notice the links on that page in two colours of blue ?_
Is this because of the non visited links and the visited links?
That is the default.

[2022-06-17 07:53] cmspinto commented on #89
Don't understand this comment:
@peterdesmet  _https://esas.ices.dk/api/getCampaignRecords?Year=2021 returns too many results (ok for other endpoints)_

[2022-06-17 08:07] nicolasvanermen commented on #88
Now I see the 110000155 campaing is no longer in our submissions...? I redirected Peter to this issue, because he wanted to perform some testing on these 3 campaigns...

[2022-06-17 08:08] nicolasvanermen commented on #88
So now there are 2 campaigns in the submission, but three in the download... I don't get this...

[2022-06-17 08:09] peterdesmet commented on #76
I still have:

- 110000153 is there with old data: https://esas.ices.dk/api/getObservationRecords?campaignID=110000153
- 110000154 not included: https://esas.ices.dk/api/getObservationRecords?campaignID=110000154
- 110000155 not included: https://esas.ices.dk/api/getObservationRecords?campaignID=110000155

Or am I looking at the wrong campaigns?

[2022-06-17 08:13] peterdesmet commented on #89
I am getting `startDate`s in 2020 if I do https://esas.ices.dk/api/getCampaignRecords?Year=2021. For the other endpoints that have the year parameter, I don't encounter this issue.

The typo has not been fixed yet, so I unchecked that box again.
https://esas.ices.dk/api/getSampleRecords is broken

[2022-06-17 08:14] nicolasvanermen commented on #88
Regarding the resubmission, I thought I will check this again yet the earlier accepted [ESAS_BE_DATA_test_obis_tab.csv](https://github.com/ices-tools-dev/esas/files/8861768/ESAS_BE_DATA_test_obis_tab.csv) gives an error when screening, while before it did not, how come?

[2022-06-17 08:16] peterdesmet commented on #88
😕 this is frustrating. @cmspinto can you check? From the issues here, the (re)submission seems buggy right now.

[2022-06-17 08:19] nicolasvanermen commented on #76
So: yet these files are in my download, but are not accessible through the API?

[2022-06-17 08:25] peterdesmet commented on #76
Not entirely:

- [campaign API](https://esas.ices.dk/api/getCampaignRecords?campaignID=110000155): record can be found
- [sample API](https://esas.ices.dk/api/getSampleRecords?campaignID=110000155): broken API
- [position API](https://esas.ices.dk/api/getPositionRecords?campaignID=110000155): records can be found
- [observation API](https://esas.ices.dk/api/getObservationRecords?campaignID=1100001

[2022-06-17 08:27] peterdesmet commented on #75
All reported issues here are resolved, except for `T00:00:00` in startDate/endDate.

[2022-06-17 08:55] peterdesmet commented on #88
@cmspinto I don't understand your comment. I mainly want to check records @nicolasvanermen has uploaded, but can't access them via the API, see https://github.com/ices-tools-dev/esas/issues/76#issuecomment-1158627756

[2022-06-17 08:58] cmspinto commented on #87
A bit lost, could you help me to locate the changes to be done?

[2022-06-17 09:07] cmspinto commented on #89
It was using the data of the samples instead of the campaign startdate. Changed it but we can talk about this in the meeting.

[2022-06-17 09:14] cmspinto commented on #89
We should be able to close this one.

[2022-06-17 09:14] peterdesmet commented on #89
I would say:

- For `getCampaignRecords`, use the campaign.`startDate` as the basis for `year`
- For `getSampleRecords`, use the sample.`date`  as the basis for `year`

You could also use `startDate` for both, as it is unlikely that campaigns will cross years.

[2022-06-17 09:18] peterdesmet commented on #89
No:

- [ ] Typo not fixed (still says `Get public positions from latitutes 49.7 to 53.2`) Change to `Get public positions from latitudes 49.7 to 53.2`
- [ ] Remove listed `CampaignID` parameter from getFileSubmissions, as it is _not_ returned by the API. It makes sense it is not returned by the API, since a file submission could include multiple campaigns.

[2022-06-17 09:25] cmspinto commented on #76
Nop, all good.

[2022-06-17 09:27] cmspinto commented on #88
Had to re-upload the files.

[2022-06-17 09:28] peterdesmet commented on #76
👍 Did you change something? Because it was empty before.

[2022-06-17 09:42] peterdesmet commented on #76
To get back to the original purpose of this issue:

https://esas.ices.dk/api/getObservationRecords?observationID=1100032322

[code]

**Test passed** Integer values do make it correctly into the database and the API. They are returned as strings, but that is expected, since both fields also accept letters (see https://esas.ices.dk/api/getObservationRecords?observationID=1100032323).

[2022-06-17 09:42] #76 closed

[2022-06-17 09:44] cmspinto commented on #76
I have put now @nicolasvanermen  with rights for organization 200, so you should be able to re-upload files.

Question is, if a user upload the file, should the user be able to overwrite that file event do he does not have the right permissions for that organization?

[2022-06-17 09:46] peterdesmet commented on #88
**Test passed**, records uploaded with ERID rather than ESAS `speciesCodeType` are correctly presented by the API: https://esas.ices.dk/api/getObservationRecords?campaignID=110000155

[code]

vs e.g [record with ESAS](https://esas.ices.dk/api/getObservationRecords?observationID=1100032238):

[code]

[2022-06-17 09:47] peterdesmet commented on #88
@nicolasvanermen can this issue be closed? E.g. is https://github.com/ices-tools-dev/esas/issues/88#issuecomment-1158576082 resolved?

[2022-06-17 09:48] peterdesmet opened #91 "Rights for reuploading files"
I have put now @nicolasvanermen  with rights for organization 200, so you should be able to re-upload files.

Question is, if a user upload the file, should the user be able to overwrite that file event do he does not have the right permissions for that organization?

_Originally posted by @cmspinto in https://github.com/ices-tools-dev/esas/issues/76#issuecomment-1158700337_

[2022-06-17 09:48] peterdesmet commented on #76
@cmspinto I created a separate issue for your question at https://github.com/ices-tools-dev/esas/issues/91, so that this issue can remain closed.

[2022-06-17 10:14] nicolasvanermen commented on #76
All test files have organisation 202, INBO

[2022-06-20 14:00] nicolasvanermen commented on #91
Note that all test files have organisation 202, i.e. INBO. Still could not perform a resubmission...
"There was a problem updating the accession:-1, please contact accessions@ices.dk"
![image](https://user-images.githubusercontent.com/7381853/174618503-b3433a2c-8938-4119-9e3a-c7d8a8a6ea12.png)

[2022-06-20 14:02] nicolasvanermen commented on #87
The proposed changes are in the [google doc](https://docs.google.com/document/d/1JaDbchwtM5Z9E84ICkxpZKEJCv7mGes9lJMgXXx_Wpg/edit);

[2022-06-20 14:35] nicolasvanermen commented on #88
This comment seems to be resolved... Campaigns aggregated in one line.
Yet when performing the download the observations are not linked to the right observation ID's that were in the three entry files. All data seem to be mingled... @cmspinto please: how is this possible?

[2022-06-21 08:20] cmspinto commented on #91
Could we test (re)submission?
I want to avoid uploading test files to the to test the (re)submission, but I can do that.
In the case of resubmission's have agree with @nicolasvanermen  that a user will always be able to overwrite a file that the user itself uploaded.
Right now in case of resubmission's, it's cheeking if you are the datarightholder for that organization, but we will make an excepti

[2022-06-21 08:20] nicolasvanermen commented on #88
We figured this out: the appartent mingling was due to an old file (ESAS_BE_DATA_test_obis_tab_ERID.csv) that was in the database, instead of the most recent upload (ESAS_BE_DATA_test_obis_tab.cs), both with the same campaignID; very glad this was figured out, and that there is a logical explanation... Still very confusing because in the overview of file screenings it seems to suggest that the lat

[2022-06-21 08:28] nicolasvanermen commented on #88
So concluding: it remains to be tested whether the status "File already uploaded to the database" actually holds true.

[2022-06-21 08:49] nicolasvanermen opened #92 "Test Status in fileScreenings overview"
We figured this out: the appartent mingling was due to an old file (ESAS_BE_DATA_test_obis_tab_ERID.csv) that was in the database, instead of the most recent upload (ESAS_BE_DATA_test_obis_tab.cs), both with the same campaignID; very glad this was figured out, and that there is a logical explanation... Still very confusing because in the overview of file screenings it seems to suggest that the lat

[2022-06-21 09:01] peterdesmet commented on #88
A separate issue has been created for testing file overwrites. This issue can be closed.

[2022-06-21 09:01] #88 closed

[2022-06-21 09:02] nicolasvanermen opened #93 "rights to overwrite file"
see point 5: https://github.com/ices-tools-dev/esas/issues/68#issuecomment-1094795107

A user should be able to overwrite the files that (s)he has submitted, even when (s)he is not the data rights holder.

- [x] perform test (by Nicolas)

[2022-06-21 09:04] nicolasvanermen commented on #91
indeed: see https://github.com/ices-tools-dev/esas/issues/92

[2022-06-21 09:09] cmspinto commented on #89
Can conform that it is working like this now.

Picking the year of Campaign.StartDate in the Webservice to return the Campaings and picking the year when the Sample was taken in the sample.

[2022-06-21 09:12] peterdesmet commented on #89
I'm leaving this open until I can confirm https://github.com/ices-tools-dev/esas/issues/89#issuecomment-1158678203: typo is fixed (currently still there) and campaignID is not returned for fileSubmissions (currently all data removed, so cannot test)

[2022-06-21 09:15] peterdesmet opened #94 "Drop `T00:00:00` from campaign startDate/endDate"
- [x] API
- [x] CSV

[2022-06-21 09:16] cmspinto commented on #92
Files were uploaded to the database, but deleted after!

[2022-06-21 09:22] peterdesmet opened #95 "Update definitions of terms in file format"
To be provided by @peterdesmet

[2022-06-21 10:09] nicolasvanermen commented on #92
OK, this could explain this but hard for me to check. The only confusing thing remaining was the reported submission date, that was set on 17/06 while the false file (screening 86) was pushed to the DB at 8/06.

- [ ] To be tested!

[2022-06-21 11:07] cmspinto commented on #81
Transect is a bool:
![image](https://user-images.githubusercontent.com/8705477/174785142-048bb4d7-bb1e-499d-b8e2-0d037ced182e.png)

[https://esas.ices.dk/api/getObservationRecords?latitude=59.7,53.2](https://esas.ices.dk/api/getObservationRecords?latitude=59.7,53.2)

![image](https://user-images.githubusercontent.com/8705477/174785310-41fd2e00-5037-4891-a794-aaf09bd414ad.png)

Can we close this on

[2022-06-21 11:11] nicolasvanermen commented on #92
@cmspinto: comparable problem now, see my file screening 133. File was submitted (resubmission of file with screening 130), file status says that file has been uploaded, but it is not in the download... The other resubmission (screening 132) did make it in the download. What am I missing?

[2022-06-21 11:28] cmspinto commented on #92
Nicolas,

You are the DataRightHolder to organization 202 but not for Organization 630.
![image](https://user-images.githubusercontent.com/8705477/174788746-19c98499-8120-4636-9b2f-5c5a03c7a022.png)

I have not implemented yet what we talked in the morning. I need to look carefully before changing the upload permission logic. Does this make sense?

[2022-06-21 12:29] nicolasvanermen commented on #92
OK Carlos, but the problem is that the list of file screenings does not notify me that there was no actual resubmission. It simply says: "File already uploaded to the database". This is also the subject of this issue.
Did you change it now, because I tried it again an now both resubmissions are in the download...??
![image](https://user-images.githubusercontent.com/7381853/174799274-2c11b889-8431-

[2022-06-21 12:42] nicolasvanermen commented on #92
SO to be clear: I screen a file, it says there are no warnings, it says it is a resubmission, I opt to resubmit, it says data are downloaded to the database, in the fileScreenings overview it says the file has been uploaded... Only: the file is not in the database!

[2022-06-21 12:46] cmspinto commented on #92
Yes, have changed it now to always allow a user to overwrite their own files!

[2022-06-21 12:47] nicolasvanermen commented on #92
Both resubmissions are now in the list of the submissions; just a few questions:

- [ ] clicking on the numbers gives an empty page, what is supposed to be there? (@cmspinto )
- [ ] files that are resubmitted are deleted from this list, is that OK? (@peterdesmet)
- [ ] why do the submission ID's jump from 131 to 135 to 140, I did not delete any file after the meeting? (@cmspinto )

[2022-06-21 12:49] cmspinto commented on #92
Because I tested some files and deleted them immediately after!

[2022-06-21 12:54] nicolasvanermen commented on #92
[ESAS_BE_DATA_test_resubmission_Carlos.csv](https://github.com/ices-tools-dev/esas/files/8949008/ESAS_BE_DATA_test_resubmission_Carlos.csv)
Or could you upload this file?

- [ ] DRH NIOZ, uploaded by Carlos, so I shouldn't be able to overwrite it, and the application should warn me thereof

[2022-06-21 12:57] nicolasvanermen commented on #74
- [ ] I uploaded restricted data, and sent an email to myself to try to unlock, but never received an email
- [ ] I cannot unlock data despite the fact that I have the rights for INBO and uploaded the files myself

[2022-06-21 12:57] cmspinto commented on #92
Done, I can see both:
![image](https://user-images.githubusercontent.com/8705477/174804624-320a1978-73cb-4e6d-a255-7ec6ad627901.png)

I'm 630 DataRightHolder, so I can see, overwrite or delete your file.

[2022-06-21 13:25] Osanna123 commented on #62
@nicolasvanermen As you are the one transferring the data, the final mapping is up to you. But this is not the first dataset to have wrongly mapped data to the multiple ship entries as Tridens. And from the best knowledge we have, we can advice that your ship code 2463 is a multiple hull by the definitions of the Platform Group managing the SHIPC list, and should be split by the data collection da

[2022-06-21 13:26] nicolasvanermen commented on #92
![image](https://user-images.githubusercontent.com/7381853/174810627-2a7f42fc-f966-45ab-bcd7-bf9758aad45b.png)

[2022-06-21 13:27] nicolasvanermen commented on #92
![image](https://user-images.githubusercontent.com/7381853/174810719-394ffa64-18d6-46d6-97f4-4e18d11d9792.png)

[2022-06-21 13:45] nicolasvanermen commented on #62
We have indeed been mapping Tridens (and other ships that could not be linked to a ShipC code) to ZZ90 in our latest transformations. Likely we can close this issue?

[2022-06-21 13:47] #91 closed

[2022-06-21 14:38] #81 closed

[2022-06-22 07:19] nicolasvanermen commented on #92
Cleared this out during chat with Carlos: in case the file includes campaigns for which the submitter has no rights to overwrite them, there will be a warning and the submitter will not be able to upload the file (even if this file also includes brand new campaignID's!).

- [ ] test warning pop-up

[2022-06-22 11:32] cmspinto commented on #87
![image](https://user-images.githubusercontent.com/8705477/175018940-e3e35a44-5973-4604-9ebf-d00bdf3f70e1.png)

Is there any typo?

[2022-06-22 11:33] cmspinto commented on #80
@Osanna123 can you also change it in DATSU adn Reco?

[2022-06-22 11:44] cmspinto commented on #65
Done, have I missed something here?

[2022-06-23 08:21] Osanna123 commented on #62
Yes, sure

[2022-06-23 08:21] #62 closed

[2022-06-23 09:34] nicolasvanermen commented on #80
- [ ] Database -> database

[2022-06-23 11:28] peterdesmet commented on #94
Confirmed fixed

[2022-06-23 11:28] #94 closed

[2022-06-23 11:31] #86 closed

[2022-06-23 11:46] peterdesmet commented on #89
Still to do:

- [ ] Documentation: don't list `campaignID` as parameter of fileSubmissions
- [ ] Fix year queries for campaigns: https://esas.ices.dk/api/getCampaignRecords?year=1996
- [ ] Test year range queries for samples: https://esas.ices.dk/api/getSampleRecords?year=2020,2021

[2022-06-23 11:49] nicolasvanermen commented on #92
OK I tested this as well and it worked fine. Would be nice if the warning simply stated:

- [ ] "You do not have permission to overwrite the campaign(s) in the database"

[2022-06-23 11:53] #93 closed

[2022-06-23 11:53] #70 closed

[2022-06-23 11:57] #37 closed

[2022-06-23 11:58] #87 closed

[2022-06-23 11:59] peterdesmet commented on #37
Thanks @Osanna123! When will these new codes show up in the list http://vocab.ices.dk/?ref=1687

[2022-06-23 11:59] #38 closed

[2022-06-23 12:25] cmspinto opened #96 "Metadata Record"
Full metadata record: Add the list the data providers in the metadata record.

- [x] 202 Research Institute for Nature and Forest (INBO)
- [x] 630 NIOZ Royal Netherlands Institute for Sea Research (NIOZ)
- [x] 1375 Joint Nature Conservation Committee, Aberdeen Office (JNCC)
- [ ] 1416 Norwegian Institute for Nature Research (NINA)
- [x] 2125 University College Cork (UCC)
- [x] 2299 Research and Te

[2022-06-23 12:29] #65 closed

[2022-06-23 12:38] peterdesmet commented on #96
Please write as

[2022-06-23 12:39] peterdesmet commented on #96
@nicolasvanermen can you indicate the institutes that are very likely to be included after first migration

[2022-06-23 12:41] neil-ices-dk commented on #96
done

[2022-06-23 12:41] #73 closed

[2022-06-23 12:59] peterdesmet commented on #67
- [ ] Submission timestamp, not submission date
- [ ] Include number of campaigns contributed to database
- [ ] Include min date contributed to database
- [ ] Include max date contribute to database

[2022-06-24 07:47] cmspinto commented on #92
![image](https://user-images.githubusercontent.com/8705477/175488805-1907b889-f1ac-4feb-a8d6-5320d55dadd5.png)

[2022-06-24 08:08] #80 closed

[2022-06-24 09:13] cmspinto commented on #67
![image](https://user-images.githubusercontent.com/8705477/175504122-cb4c77d6-e9d4-4cef-987c-3997f6c341f7.png)

[2022-06-24 09:47] cmspinto commented on #67
Found a way to only give the user that uploaded the file access to the file.
Have put the validator and the handler in the page. We are not opening any security breach like this.

![image](https://user-images.githubusercontent.com/8705477/175510269-6de76a2c-a81f-496f-b704-e7660228cfe4.png)

[2022-06-25 14:34] peterdesmet commented on #67
@cmspinto in the Submissions table, can you:

- First have the column `Data Rights Holder`, then `Country`
- Correct `Campaingns` as `Campaigns`

[2022-06-25 14:39] peterdesmet commented on #89
Remaining issues addressed. Closing issue.

[2022-06-25 14:39] #89 closed

[2022-06-27 11:40] nicolasvanermen commented on #96
I checked the institutes from which we have received explicit permission regarding the migration of their data to ICES Data Centre.  Also checked are the German data providers who have promised to submit their data themselves. Personally, however, I would wait until the end of september to compile a list based on the actual data migrations that have taken place by then.

[2022-06-27 11:50] nicolasvanermen opened #97 "updated ESAS species coding"
Please add or adjust the following to the ESAS coding list:
![image](https://user-images.githubusercontent.com/7381853/175934683-45f459d6-4044-43a9-9325-aa0e334e4b02.png)
![image](https://user-images.githubusercontent.com/7381853/175934729-3055eb0e-bbcc-4b5d-b443-ff8189a47229.png)

[2022-06-27 11:54] nicolasvanermen opened #98 "Test deletion of file versus deletion data"
scenario:

- user submits file with campaigns A & B
- user submits file with campaigns B & C, overwriting campaign B
- user deletes file with campaigns B & C

THEN

- only campaign A should stay in the database

[2022-06-27 12:01] nicolasvanermen opened #99 "Clean application"
- [x] Delete all submitted files
- [x] Clean list of file screenings
- [x] Clean list of restricted data requests

[2022-06-27 12:03] nicolasvanermen commented on #99
I noticed that, after deleting all my test files, that there are no more 'restricted data requests'.

[2022-06-27 12:59] nicolasvanermen opened #100 "JCDP vs ESAS"
I received an email from Tim Dunn from JNCC... This regarded the possibilities on cetacean data from ESAS flowing into JCDP... My preferred option would be that cetacean data can easily be downloaded from ESAS, and in turn submitted to JCDP. The only feature needed in that case would be the possibility to query cetaceans on the download page. So it would be nice to have such a query with with for

[2022-06-28 09:58] cmspinto commented on #99
Done, have removed all data from the database.

Database is now completely empty and when inserting the files the filters in the inventory will also become available.

[2022-06-28 09:58] #99 closed

[2022-06-28 10:04] cmspinto commented on #67
Done, thanks for the heads up

[2022-06-28 10:13] cmspinto commented on #98
I can perform the database cleaning if you want after running this test?
I can confirm this should be what happens in the database.

[2022-06-28 11:45] neil-ices-dk commented on #100
Thanks @nicolasvanermen

the dataflow would be the other way (Cetaceans interested in ESAS data, not the way you describe). We will take this up on the JCDP gihub

[2022-07-26 09:52] peterdesmet opened #101 "char() vs nchar() in File Information"
@cmspinto The [Specification of the format](http://datsu.ices.dk/web/selRep.aspx?Dataset=148) tables use `char(x)` in DataType, but sometimes `nchar(x)`. Is there a difference between the two? If not, can this be updated to `char()` for all?

- [x] Sample > PlatformCode to `char(6)`
- [x] Sample > TargetTaxa to `char(3)`
- [x] Position > Visibility to `char(3)`
- [x] Position > Glare to `char(25)`

[2022-07-26 16:31] peterdesmet opened #102 "Update constraints of Behaviour, Distance & GroupID fields"
The [file specification](http://datsu.ices.dk/web/selRep.aspx?Dataset=148) currently has `char(5)` for Behaviour. Since behaviour codes can be combined with ~ that might be too limiting. I would set this to `char(30)` cf. Association.

[2022-07-26 16:51] peterdesmet commented on #90
Updated (for all tables) in https://github.com/ices-tools-dev/esas/commit/29d9f3ef3cce4a9adb022bfb0b407c8ccbdf7ebe

[2022-07-26 16:52] #90 closed

[2022-07-26 17:07] peterdesmet commented on #95
I have reviewed and updated all definitions on https://esas-docs.ices.dk/tables/, repeated below.

@cmspinto can you update these at http://datsu.ices.dk/web/selRep.aspx?Dataset=148, retaining links and `code` formatting.

## File information

- [ ] Record type. Use `FI` for Information records.
- [ ] Organization owning the legal rights over the resource. Combine multiple values with `~`.
- [ ] C

[2022-07-27 08:17] cmspinto commented on #95
@peterdesmet: I guess you are talking about format descriptions?

Maybe this is something @Osanna123  could look into.

[2022-07-27 08:20] cmspinto commented on #101
There is no difference between these, @Osanna123 can you change these? I can try to help if you want.

[2022-07-27 09:00] peterdesmet commented on #95
Indeed, I am talking about updating these descriptions (for all 5 tables):

<img width="1062" alt="Screenshot 2022-07-27 at 10 59 33" src="https://user-images.githubusercontent.com/600993/181207246-8d94fa49-a742-4f47-9d70-08e769ba257f.png">

[2022-07-27 09:36] peterdesmet commented on #95
- [ ] The column "Additional information" can be removed, as it is never used.

[2022-07-27 09:36] cmspinto commented on #95
Hi @peterdesmet, these definitions are in our data screening utility (DATSU) and @Osanna123 can look into this.

She might be a bit busy at the moment, talked with her yesterday and she had a few meetings this week (end of vacations time and meetings start again), but I'm sure she will look into this as soon as possible.

[2022-07-27 09:59] peterdesmet commented on #95
👍 it's not very urgent.

[2022-07-27 10:00] peterdesmet opened #103 "Describe file format"

[2022-07-27 10:02] peterdesmet commented on #103
In addition to the data model, the file format to submit data is now also described at https://esas-docs.ices.dk/format/

@nicolasvanermen, we can potentially extend this page with a snippet of R code on how to concatenate data.

[2022-07-27 10:02] #103 closed

[2022-07-28 15:48] nicolasvanermen commented on #95
Another addition, regarding the SamplingMethod vocabulary:

1 **Full** ship-based transect method with snapshot for flying birds
2 **Full** ship-based transect method, no snapshot for flying birds
...
5 **Full** ship-based transect method with snapshot for flying birds, but no scan data for outside the transect

The word 'full' does not really have a meaning here, yet this concerns the fact that d

[2022-07-28 15:50] nicolasvanermen opened #104 "Update 3 entries in SamplingMethod vocabulary"
Regarding the SamplingMethod vocabulary:

1 **Full** ship-based transect method with snapshot for flying birds
2 **Full** ship-based transect method, no snapshot for flying birds
...
5 **Full** ship-based transect method with snapshot for flying birds, but no scan data for outside the transect

The word 'full' does not really have a meaning here, yet this concerns the fact that distance estimation

[2022-07-28 15:53] nicolasvanermen commented on #95
@peterdesmet
Could the type column be in a different text format? This would improve readilibility in for example the description of DistanceBins
![image](https://user-images.githubusercontent.com/7381853/181582646-4f10a62a-a3b9-4e36-8765-5d19bef4bcad.png)

[2022-07-28 15:53] nicolasvanermen commented on #95
Having said this... Great job!

[2022-07-29 09:18] peterdesmet commented on #95
@nicolasvanermen what if I switch around the columns for vocabulary and data type? The vocab column would always be a link so it stands out easily.

[2022-07-29 09:25] peterdesmet commented on #104
This is now updated on the ESAS docs website: https://esas-docs.ices.dk/tables/#samplingmethod

@Osanna123 3 entries in the official vocab [BD_CountMethod](http://vocab.ices.dk/?ref=1440) should be updated as well:

[code]

[2022-08-01 11:52] nicolasvanermen commented on #95
Perfect!

[2022-08-01 12:39] peterdesmet commented on #95
@nicolasvanermen updated at https://esas-docs.ices.dk/tables/

[2022-08-05 14:42] nicolasvanermen commented on #98
Wanted to test this, but couldn't access the Submissions page... How come?
I uploaded a file with campaign 153 & 154, and one with campaigns 154 & 155. Campaign 154 was successfully overwritten. But due to the dead end I couldn't delete the second file to perform the test.

[2022-08-05 14:44] nicolasvanermen opened #105 "https://esas.ices.dk/manage/managerinstitution"
Going to this page, it says I am not managing any institution:

- [x]  Can I be assigned to INBO?
- [x] Adjust the typo: In this page you can see if you are **managind** any institution:

[2022-08-09 07:22] nicolasvanermen commented on #67
Important to flag here that for the moment, a logged in user can see its own submissions, but as far as I can see, there is no way for a logged in user to check which submissions have been made for the organisation the user is associated to... This will be important for the DRH's that allow me to upload their data. So a seperate page for the latter still needs to be developed...

[2022-08-09 07:59] nicolasvanermen commented on #98
Test was successful!

[2022-08-09 07:59] #98 closed

[2022-08-09 08:04] nicolasvanermen commented on #67
Another thing in the view your submissions page, the campaigns column is also referring to the number of campaigns in the database and not in the file of the respective row. This is confusing, and should be more clear based on the column name, or based on a clarifying text above the table, or by listing both the number of campaigns in the file, and the number in the database. So to conclude:

- [

[2022-08-10 06:34] nicolasvanermen opened #106 "false status during and after file screening"
Please see my latest 4 file screenings, there is only 1 erroneous screening (the first test file, screening 114), yet for the other 3 it says 'Screening fisnished, file is not valid to upload to the database'.  The same problem was flagged before for screening 111.

To frame this: I started new file screenings, because it gave the same remark ('screening finished...') soon after pushing the screen

[2022-08-11 07:13] nicolasvanermen opened #107 "Update description of screening results"
0For example: https://esas.ices.dk/manage/ScreenResult/116

Please revise this page:

- [x] Edit title: "List of errors and warnings encountered during the screening process:"
- [x] Edit headers of the tabel:"Record line - Type - Message - Value - Field"
- [x] Ideally the list provides filters which would be handy in case of numerous errors and warnings; another option would be that the list can b

[2022-08-11 14:31] nicolasvanermen commented on #106
![image](https://user-images.githubusercontent.com/7381853/184157896-d3a17101-6e45-4b0a-830f-82366f96ff28.png)

[2022-08-11 14:32] nicolasvanermen commented on #106
![image](https://user-images.githubusercontent.com/7381853/184157942-15098fd1-003f-4d4a-909b-cba8827b0919.png)

[2022-08-11 14:32] nicolasvanermen commented on #106
![image](https://user-images.githubusercontent.com/7381853/184158076-aa2bc81d-dab9-4f4c-8fe4-e4988e99bd5d.png)

[2022-08-11 14:35] nicolasvanermen commented on #106
Printscreens while RSPB datafile is screening (or this is what I assume) - so there is no more false 'screening has finished' message, but no message saying 'screening is ongoing' either, and clicking through gives an error page.

[2022-08-15 07:38] nicolasvanermen opened #108 "Empty Observations table after submission"
Submitting large datafiles leads to error message, file has been pushed to the database, only the Observations table appears to be empty after download.

- [x] Change the code to allow bigger files

[2022-08-15 11:41] nicolasvanermen opened #109 "Date format in Samples table download"
The Date in the Samples table download appears as: 1999-07-05T00:00:00
Is there a specific reason why this is not simply  1999-07-05 ?

[2022-08-15 11:50] peterdesmet commented on #109
No, there isn't. We requested to change to express the dates as YYYY-MM-DD before, in https://github.com/ices-tools-dev/esas/issues/75#issue-1208507299 and https://github.com/ices-tools-dev/esas/issues/94 (where it was confirmed fix). Have the timestamp returned?

[2022-08-15 11:52] peterdesmet commented on #109
The API correctly returns dates as `YYYY-MM-DD` (example: https://esas.ices.dk/api/getCampaignRecords?year=1996)

[2022-08-15 12:12] nicolasvanermen commented on #109
FYI: this issue only regards the Samples table, in the Campaigns table the date format is indeed OK.

[2022-08-15 12:16] peterdesmet commented on #109
Correct, it is still wrong for Samples in the API as well https://esas.ices.dk/api/getSampleRecords?year=1996

@cmspinto please fix the date format for Samples to `YYYY-MM-DD` in:

- [ ] CSV (download)
- [ ] API

[2022-08-15 15:08] nicolasvanermen opened #110 "Large datafiles test: milestone"
The JNCC data cannot be screened because the file is too large. Solution: change the code, or better split up the files?

[2022-08-16 07:29] nicolasvanermen commented on #96
Just a question... How will the list of data providers be integrated in the current metadata record? Under what header?

[2022-08-16 07:44] nicolasvanermen opened #111 "Disclaimer in download"
- [x] edit: http://gis.ices.dk/geonetwork/srv/eng/catalog.search#/metadata/7a6151e4-812b-4455-97a2-74c5102d418f
- [x] edit: (description on this link: http://datsu.ices.dk/web/selRep.aspx?Dataset=148)
- [x] edit: Data provided from the website are classified as either 'Public' or 'Restricted':
- [x] edit: better to move "Documentation can be found at https://esas-docs.ices.dk/" to section 3

[2022-08-16 11:43] nicolasvanermen opened #112 "edmo code for DHI A/S"
Currently there is no edmo code for the company DHI A/S, which has been suggested as DRH for the Ornis Consult data (Ornis Consult does not exist anymore). Can a new code be made available?

[2022-08-16 12:13] nicolasvanermen commented on #112
Or maybe better for the mother group DHI, as I have difficulties in finding reference to DHI A/S...: [dhigroup.com](url)

[2022-08-16 12:27] nicolasvanermen opened #113 "Unknown (0) in Behaviour"
Related to[ issue 70](https://github.com/ices-tools-dev/esas/issues/70), any reason why we chose to keep this value?

[2022-08-18 08:42] nicolasvanermen opened #114 "Use `ZZ99` for unknown PlatformCode"
I would prefer the PlatformCode field no longer to be required, it always gives an long list of warnings due to deprecated code ZZ90...

[2022-08-18 08:46] nicolasvanermen commented on #102
I would also set Distance to float 6

- [ ] Distance float(6)
- [ ] Behaviour char(30)

[2022-08-18 08:57] nicolasvanermen opened #115 "Checks on Latitude-Longitude & Distance-Area & links between tables"
- [x] Values outside the specified range should give errors in case of Latitude and Longitude
- [x] There should be a cross check for Distance & Area (at least one should hold a positive value)
- [x] Turning Distance into float(6) should coincide with a specified range Lower:0.000100000000 Upper: 9999.000000000000, as in Area #102
- [x] There should be a check of the links between the tables (are

[2022-08-18 08:58] nicolasvanermen commented on #113
Same goes for code 99 in prey type...

[2022-08-18 09:34] nicolasvanermen opened #116 "Area values quoted in csv download"
For some reason Area values are quoted in the csv download, as opposed to the other numeric fields Latitude, Longitude and Distance. Any reason why?

[2022-08-18 15:38] nicolasvanermen opened #117 "Failed to screen a file with introduced errors"
See title, no file screening results (error page) for file screening 126, although the file itself is there.

[2022-08-19 09:42] neil-ices-dk commented on #96
Hi @nicolasvanermen there are a number of ways to do it:

**option 1**
each data provider can be added as a 'point of contact' in the meta data record with roletype set as 'Originator'. This would require the following info from each data orginator:
- organisation name
- individual name
- email (can be a generic address)

**option 2**
we could add it in the text of the citation purpose of the meta

[2022-08-22 07:05] cmspinto commented on #117
There was a bug and it was pointing to a null when it tried to check if it was a re-submission.

Corrected now it will be published during today:

![image](https://user-images.githubusercontent.com/8705477/185859592-5d293c4f-9a90-4da3-a85d-e5ac2a56a9f2.png)

[2022-08-22 07:23] cmspinto commented on #116
Good catch, that is corrected now, Area is numeric.

[2022-08-22 07:39] cmspinto commented on #110
Need a bit more description about this issue.

[2022-08-22 07:44] cmspinto commented on #108
This is a big issue, the system will have to be changed. This is because we allow submissions of 30 years of data, and a synchronous submission (the way it is now) cannot handle such a big submission. Have been in contact with Nicolas and we can change to Asynchronous submissions, but this is a real change to the process. Another way to handle this is to allow only one year to be submitted in each

[2022-08-22 08:03] cmspinto commented on #105
Corrected, thanks

[2022-08-22 08:50] cmspinto commented on #106
I belive this has been tackled:

![image](https://user-images.githubusercontent.com/8705477/185880434-69828025-e652-4c02-ad9c-7d8579fabb73.png)

[2022-08-22 08:51] cmspinto commented on #105
Belive we can close this one, thanks.

[2022-08-22 08:51] #105 closed

[2022-08-23 11:03] nicolasvanermen commented on #117
OK I screened a comparable file and now it got through immediately... So now I got a list of the induced errors, except for a very important one! I induced a SampleID which is not present in Positions. The other way around: there is SampleID in Positions which is not in Samples. This should give a fatal error. How come it is not checked?

[2022-08-23 11:09] nicolasvanermen commented on #108
I am not convinced Carlos. I now submitted the data of NERI, it has less than 2000 observations, and these didn't make it to the database either. So please check other options before rewriting everything ...

[2022-08-23 11:14] nicolasvanermen commented on #117
See new bullet in [issue 115](https://github.com/ices-tools-dev/esas/issues/115)

[2022-08-23 11:17] nicolasvanermen commented on #110
Simple: I am trying to screen a (large) file and after a short while I receive the error: "The page was not displayed because the request entity is too large."

[2022-08-23 11:31] nicolasvanermen commented on #106
No it isn't, see file screening 122, file is valid but no message saying it is, and for files with induced errors there is no message stating it is invalid. Unchecked the bullets in original messages as the issues are either not solved (first bullet) or not checked properly (second bullet)

[2022-08-23 11:35] nicolasvanermen commented on #116
@peterdesmet can you check this in the API? (if relevant)

[2022-08-23 12:36] nicolasvanermen commented on #113
Strangely, code zero is in the [vocabulary ](http://vocab.ices.dk/?ref=1709)but gives an error in the screening of the ORNIS data.

[2022-08-23 13:04] peterdesmet commented on #116
I can't verify, the API returns a 500 error code: https://esas.ices.dk/api/getPositionRecords

@cmspinto is this expected?

[2022-08-26 08:35] cmspinto commented on #116
No, it was not expected. Have re-publish the API and should be working now.

[2022-08-26 08:49] cmspinto commented on #108
The submission facility in the website does not use the page to call the upload anymore.
Instead it's using a server that performs background processing.
The server keeps a list of tasks to perform and put them in a queue.
A task can last up to 48 hours, so I expect that should be more than enough to insert the files.

So it can happen that the user pushes the button but the task does not start im

[2022-08-26 09:04] cmspinto commented on #106
![image](https://user-images.githubusercontent.com/8705477/186868787-f4d1f1f1-3a1d-4921-b583-1d6ca931332e.png)

[2022-08-26 09:53] nicolasvanermen commented on #106
![image](https://user-images.githubusercontent.com/7381853/186878570-da674239-0952-415b-8672-74f0621f0510.png)

[2022-08-26 12:33] cmspinto commented on #106
I think you are correct, in the list of the file screenings there is a discrepancy between some of the messages in the valid files.
Some have an info message and some don't.
This is a field that is saved to the database when the file is screened.
I don't know where the discrepancy comes from, it could have to do with the fact if the user waited until de end of the screening.

Will change this fiel

[2022-08-31 14:15] peterdesmet commented on #106
- [ ] @cmspinto can you notify when this is implemented
- [ ] @Osanna123 can you notify when this is tested as working?

[2022-09-01 07:13] cmspinto commented on #106
It's implemented.

[2022-09-05 07:53] peterdesmet commented on #95
@cmspinto this is a documentation issue, all action points are listed at https://github.com/ices-tools-dev/esas/issues/95#issuecomment-1195749281

[2022-09-05 09:14] peterdesmet commented on #96
@nicolasvanermen do you think it is a good time to give @neil-ices-dk the list of providers (org name, indiv name, email) for the metadata record or do you prefer to wait?

[2022-09-05 09:18] peterdesmet commented on #100
@neil-ices-dk any progress on this? Can the issue be closed here?

[2022-09-05 09:19] peterdesmet commented on #101
@Osanna123 the updates suggested in this issue can be implemented.

[2022-09-05 09:23] neil-ices-dk commented on #100
@peterdesmet and @nicolasvanermen there is an item on the WGJCDP meeting coming up on the 15th Sept. https://www.ices.dk/news-and-events/meeting-calendar/Pages/ICES-CalendarDisp.aspx?sd=106fc5ba-b653-ec11-9296-00155d2c0c14

Nicolas - not sure if Nikki Taylor (JNCC) has reached out to you, but it could be an idea if you speak with her and/or attend the online WGJCDP meeting.

[2022-09-05 09:24] peterdesmet commented on #102
@cmspinto can these field length changes be implemented in the database?

@Osanna123 can these field length changes be updated in the [specification of the format](http://datsu.ices.dk/web/selRep.aspx?Dataset=148)

[2022-09-05 09:29] peterdesmet commented on #104
@Osanna123 these changes can be implemented in the BD_CountMethod vocabulary.

[2022-09-05 09:32] peterdesmet commented on #107
@Osanna123 or @cmspinto can you make the typo corrections? And report regarding the feasibility to filter on warnings/errors? Perhaps in a separate issue.

[2022-09-05 09:33] peterdesmet commented on #108
@Osanna123 will test the submission of the whole dataset and report back.

[2022-09-05 09:34] peterdesmet commented on #109
@cmspinto this issue can be implemented.

[2022-09-05 09:36] peterdesmet commented on #111
I assume these are typos/suggestions for the `disclaimer.txt` file that is included in a download. @neil-ices-dk can you correct these or is this something for @cmspinto?

[2022-09-05 09:39] peterdesmet commented on #110
See also this other issue regarding large file errors: https://github.com/ices-tools-dev/esas/issues/108

[2022-09-05 09:48] peterdesmet commented on #112
@nicolasvanermen what is the relationship between DHI (A/S) and Ornis Consult?
- Is DHI completely replacing Ornis Consult and should historical records be associated with and managed by DHI (cf. how we lumped a bunch of old codes into NIOZ)
- Or should historical records be kept with Ornis Consult [5440](https://edmo.seadatanet.org/report/5440) and new records be associated with DHI? In which cas

[2022-09-05 09:53] neil-ices-dk commented on #111
the typo in the dataset name has been forwarded to the vocab management group for correcting

do you want the description to be the full text from the landing page?
https://www.ices.dk/data/data-portals/Pages/European-Seabirds-at-sea.aspx

this was previously moved from section 3 to gather the links in one section and a pointer made in section 3 to avoid repetition:
_Information about the ESAS dat

[2022-09-05 09:56] peterdesmet commented on #113
## Behaviour

- Code `0` not listed on the documentation website https://esas-docs.ices.dk/tables/#behaviour
- Code `0` is available in the [official vocabulary](http://vocab.ices.dk/?ref=1709), but it is not associated with ESAS (hence why you get an error when screening)

@Osanna123 can you confirm code `0` for behaviour is used by other non-ESAS databases? If not, it can likely be removed from

[2022-09-05 09:56] peterdesmet opened #118 "Unknown (99) in Prey"
Same goes for code 99 in prey type...

_Originally posted by @nicolasvanermen in https://github.com/ices-tools-dev/esas/issues/113#issuecomment-1219217131_

[2022-09-05 09:57] cmspinto commented on #106
The file screening was now also changed to be asynchronous and a message appears that the file is screening:

**File upload details:**

![image](https://user-images.githubusercontent.com/8705477/188422462-c9b28c8c-0ffb-4f86-9204-b80f6c309fd1.png)

And the list of file(s) screening:

![image](https://user-images.githubusercontent.com/8705477/188422606-42a36807-10bb-4ab3-b56a-6edd2c7764a4.png)

[2022-09-05 10:08] peterdesmet commented on #118
- Code `99` not listed on the documentation website https://esas-docs.ices.dk/tables/#prey
- Code `99` is available in the [official vocabulary](http://vocab.ices.dk/?ref=1687), but it is not associated with ESAS. However, none of the values are associated with ESAS (e.g. 16 Feeding unidentified fish ball at surface). This in contrast with the Behaviour vocab.

@Osanna123:

- [ ] Is the Prey vocab

[2022-09-05 10:18] peterdesmet opened #119 "Escape commas for vocabulary download"
This is probably larger than ESAS, but the CSV download for vocabularies (and likely other places) do not escape commas in field values. This breaks the tabular format of the data. Example:

1. Go to http://vocab.ices.dk/?ref=1687
2. Click the CSV button and accept the download conditions
3. Open the csv file ([RECO_Export_05-01-2022-12-01-05.csv](https://github.com/ices-tools-dev/esas/files/94889

[2022-09-05 10:19] peterdesmet commented on #114
@cmspinto Rather, is it possible to not warn for deprecated PlatformCode in the file screening?

[2022-09-05 10:21] peterdesmet commented on #115
@Osanna123 can you implement these checks? Would be good that they are implemented before testing the full upload.

[2022-09-05 10:22] peterdesmet commented on #116
I can't test this as fixed, because the database contains no data. @cmspinto or @Osanna123 can you notify me when there is data? I'll assign this issue to me for testing.

[2022-09-05 10:23] peterdesmet commented on #117
Closing this issue in favour of #115 where a check in relations between files is requested.

[2022-09-05 10:23] #117 closed

[2022-09-05 10:24] peterdesmet commented on #115
Should also be tested with a file that purposefully contains errors (cf. #117).

[2022-09-05 10:26] peterdesmet commented on #67
Let's revisit this issue once the file screening works as expected.

[2022-09-05 10:35] peterdesmet commented on #97
@cmspinto or @Osanna123 this issue requests updates to the species list in the database:

- [ ] Add a new taxon `126`, cf. https://github.com/ices-tools-dev/esas/commit/290ece350197cb24f46d86b156420929318f6018
[code]

- [ ] Update taxon `6169` to `6159`, cf. https://github.com/ices-tools-dev/esas/commit/e480f3f9b2dca2eab5a3bf1d7d3613dd18b29c83

[code]

@nicolasvanermen rather than screenshots, it

[2022-09-05 11:53] cmspinto commented on #114
@peterdesmet, the short answer is no, these messages are generated by DATSU.
We need to ask @Osanna123  if there is any code that is not deprecated that can be used.

[2022-09-05 12:31] neil-ices-dk commented on #119
@peterdesmet fair point, will put something on the vocab governance group and then see if we can book some time to fix this issue

[2022-09-06 07:15] cmspinto commented on #67
@peterdesmet  and @nicolasvanermen looking at the code this is already happening!

When a user click in option (c) View list of your database submissions, it shows the all user submissions and the submissions that other user(s) have done to user associated institute.

![image](https://user-images.githubusercontent.com/8705477/188569841-ef52a139-d426-453c-a272-d7602e91a0fe.png)

In this sense it is

[2022-09-06 07:18] cmspinto commented on #67
I can change the code to pick the re-submited campaigns that were removed for that file.

So either the name of the column changes to "Original No. Campaigns" or we split this into two fields, any suggestions?

![image](https://user-images.githubusercontent.com/8705477/188571064-5eee8f24-a539-413a-bf0d-57e9672034c3.png)

[2022-09-06 07:22] cmspinto commented on #107
Can be more than one field and one value.

[2022-09-06 07:49] nicolasvanermen commented on #96
Let's wait until the end of September for a final list!

[2022-09-06 07:51] #100 closed

[2022-09-06 08:03] cmspinto commented on #107
Done, the use can now filter from a summary of the errors:

![image](https://user-images.githubusercontent.com/8705477/188580342-966ad2dc-4840-4841-a420-ce3f407d8de1.png)

or

![image](https://user-images.githubusercontent.com/8705477/188580470-e404ed7f-9408-41e3-b543-51e94f8b9bd1.png)

The user just needs to click in the link to filter the table.

[2022-09-06 08:08] nicolasvanermen commented on #111
There are two links in section 3 already... so still preferring the https://esas-docs.ices.dk/ in section 3 as well.

[2022-09-06 08:08] mehdiabbasi commented on #119
@peterdesmet @neil-ices-dk @cmspinto Thank you Peter for spotting this issue. It is fixed now and CSV download works with text including commas.
![image](https://user-images.githubusercontent.com/38282276/188581505-f8ebc4d3-eab7-4b4d-bf21-2ac2a2e5fbce.png)

[2022-09-06 08:10] nicolasvanermen commented on #111
Regarding the 2nd bullet, the link should only be between brackets:
The Download ZIP bundle includes the requested data file in the CSV format (description on this link:
 http://datsu.ices.dk/web/selRep.aspx?Dataset=148), and the data disclaimer.

The Download ZIP bundle includes the requested data file in the CSV format (description on this link)
 http://datsu.ices.dk/web/selRep.aspx?Dataset=148,

[2022-09-06 08:32] nicolasvanermen commented on #112
The exact relationship is unclear to me, the first option is what was requested by Henrik Skov. Anyhow, it seems a bit strange to have data 'owned' by a non-existing organisation (although the data will be public).

[2022-09-06 08:35] #119 closed

[2022-09-06 08:46] nicolasvanermen commented on #67
I would prefer two columns: No. of campaigns (database) - No. of campaigns (file)

[2022-09-06 08:47] nicolasvanermen commented on #67
Option 1 is the most elegant

[2022-09-06 08:48] nicolasvanermen commented on #67
Yes, perfect!

[2022-09-06 09:04] nicolasvanermen commented on #112
First option, all under the flag of DHI

[2022-09-06 09:07] nicolasvanermen commented on #118
Code 71 is in the database in 3 records.

[2022-09-06 09:23] nicolasvanermen commented on #114
Now that it is possible to filter the screening results this issue has low priority. But a non-deprecated code (we already tried AA30 before) would still be handy...

[2022-09-06 09:31] nicolasvanermen commented on #96
Now checked the DRH who's data are in the [folder](https://drive.google.com/drive/folders/147BaXPO9F8YVG-rLIgQqp_Tj7SJawtll)

[2022-09-06 09:41] cmspinto commented on #67
Done, split into two pages:

![image](https://user-images.githubusercontent.com/8705477/188602494-b95639e0-190a-47c3-a5bc-a8d32b62d761.png)

[2022-09-06 09:42] peterdesmet commented on #112
@Osanna123 what information do you need to create a new EDMO?

[2022-09-06 09:51] cmspinto commented on #67
![image](https://user-images.githubusercontent.com/8705477/188604683-f178f52c-5529-4b28-ad44-baf3534fdc3a.png)

@Osanna123 needs to be tested.

[2022-09-06 13:05] peterdesmet commented on #118
Thanks, it was missing from the doc website. Added in 6be652c. The main issue is now about `99` unknown.

[2022-09-13 09:07] neil-ices-dk commented on #116
there is now a datafile loaded; esas.ices.dk needs to be reloaded, will be online by 12:00 13th Sep
![image](https://user-images.githubusercontent.com/23527005/189860728-bd82f63a-910e-42f4-ad68-7dfe6dd4e353.png)

[2022-09-13 09:11] neil-ices-dk commented on #77
@Osanna123 to test and confirm

[2022-09-13 09:12] neil-ices-dk commented on #79
@Osanna123 to test

[2022-09-13 09:17] neil-ices-dk commented on #95
@Osanna123 to look at the description changes (field labels); we are restricted by the generic DATSU design in implementing all the suggested changes (RecordType) specifically.

[2022-09-13 09:30] neil-ices-dk commented on #110
@cmspinto to put screening result of largest file (73Mb)
http://datsu.ices.dk/web/ScreenResult.aspx?sessionid=17973

[2022-09-14 07:17] peterdesmet commented on #116
API returns 500 error code again: https://esas.ices.dk/api/getPositionRecords

[2022-09-16 12:22] cmspinto commented on #110
This file was now imported to ESAS.

[2022-09-17 09:52] peterdesmet opened #120 "Add pagination to the API?"
https://esas.ices.dk/api/getPositionRecords loads and then crashes in my browser, I assume because it is trying to return too many records. It still works in R (not trying to load in browser):

[code]

Do you think we should introduce pagination for the results? See e.g. section "paging" of the GBIF API, which has parameters `offset` and optionally `limit`:

- offset: 0, limit: 100: first page wit

[2022-09-17 09:56] peterdesmet commented on #116
Confirmed that area has unquoted numeric values in API and CSV.

[2022-09-17 09:56] #116 closed

[2022-09-19 09:27] Osanna123 commented on #97
Are you sure that the EURING code 06159 for the ESAS code 6159 is correct? it seems to be the first case of the leading zeroes in EURING codes.

[2022-09-19 09:46] JochemBoersma commented on #97
EURING codes are always **5 digits**, i.e. with leading zero's.
ESAS codes aren't.

(fyi: I'm following this repo, for mapping between EURING and ESAS codes for bird observations for WoZEP)

[2022-09-19 12:10] Osanna123 commented on #112
DHI in Hørsholm is registered with the EDMO code 740 (https://edmo.seadatanet.org/report/740)
Please let me know if you need an EDMO code for the DHI in Aarhus. Then i'll send a respective request to maris

[2022-09-20 06:47] Osanna123 commented on #113
I think it was decided at the beginning to reduce all the codes with descriptions 'unknown' to a single one. In case of the Behaviour, it became 0. I think i mapped inly the 'valid' codes to the ESAS dataset. Now, after reading this thread, i'm not sure whether Behaviour 0 should be linked to ESAS or not. Please advise

[2022-09-20 07:03] peterdesmet commented on #97
I confirm that is correct.

[2022-09-20 09:11] peterdesmet commented on #113
`unknown` isn't used for any ESAS vocab (https://esas-docs.ices.dk/tables/), so I think the intent is to not allow this value for ESAS. I would therefore remove the link with ESAS for Behaviour `0`.

[2022-09-20 09:12] peterdesmet commented on #112
@nicolasvanermen do we want a new DHI (Aarhus) or an existing DHI in Hørsholm (https://edmo.seadatanet.org/report/740)?

[2022-09-20 10:04] Osanna123 commented on #95
-_The column "Additional information" can be removed, as it is never used._ - this is the generic DATSU design important for some other datasets.
-Field descriptions are specific per format. So the description for _record type_ or _notes_ is generic, valid for all records. the same goes for the key fields.
-I think that the _DataRightsHolder_ description including an EDMO code is important, especi